<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
    <div class="d-flex align-items-center main-header-content">
      <div class="header-icon">
        <img width="56" height="56" src="../../../assets/images/shapes/small-icon-5.svg" alt="">
      </div>
      <div class="d-flex flex-column justify-content-between gap-4">
        <h4 class="page-title f-w-500">Help & Contact</h4>
        <span class="sub-title">Find answers to common questions and reach our team</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
<h3  class="f-s-20 f-w-400 m-b-5">Need help?</h3>
<p  class="f-s-14 m-b-0 p-t-0 m-t-0">For any inquiry, doubts, or questions, email us at <a href="mailto:hello@ibernia.it">hello&#64;ibernia.it</a>  . Whether you’re exploring Ibernia for the first time or already using our tools, our team is ready to help.
</p>
  </mat-card-content>
</mat-card>

<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
<h3  class="f-s-18 f-w-400 m-b-5">Question & answers</h3>
<p  class="f-s-14 m-b-20 p-t-0 m-t-0">Your key questions, answered
</p>
<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    What is Ibernia in one sentence?
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules
  </ng-template>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
   How are AI recommendations controlled?
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
   Do you connect to spreadsheets?
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    Can I white-label the app
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    Pricing and plans?
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules
  </ng-template>
</mat-expansion-panel>
</mat-accordion>


</mat-card-content>
</mat-card>


