<div class="pricing-container">
  <mat-card class="ibr-new-dashboad-card">
    <mat-card-content>
      <div class="d-flex flex-column gap-16">
        <!-- Heading  -->
        <div class="d-flex flex-column gap-10">
          <h3 class="ibr-new-heading">{{ "Help & Contact" | translate }}</h3>
          <p class="ibr-new-subheading">
            {{
              "Find answers to common questions and reach our team" | translate
            }}
          </p>
        </div>

        <!-- Need Help Wrapper  -->
        <div class="helper-wrapper d-flex flex-column gap-10">
          <h3 class="ibr-new-heading">{{ "Need help?" | translate }}</h3>
          <p class="ibr-new-subheading">
            {{
              "For any inquiry, doubts, or questions, email us at" | translate
            }}
            <a href="mailto:hello@ibernia.it">hello&#64;ibernia.it</a> .
            {{
              "Whether you’re exploring Ibernia for the first time or already using our tools, our team is ready to help."
                | translate
            }}
          </p>
        </div>
        <!-- End Need Help Wrapper  -->

        <!-- Accordion Wrapper  -->
        <div>
          <div class="d-flex flex-column gap-10 m-b-16">
            <h3 class="ibr-new-heading">
              {{ "Question & answers" | translate }}
            </h3>
            <p class="ibr-new-subheading">
              {{ "Your key questions, answered" | translate }}
            </p>
          </div>
          <div class="accordion-wrapper">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{ "What is Ibernia in one sentence?" | translate }}
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                  {{
                    "Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules"
                      | translate
                  }}
                </ng-template>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{ "How are AI recommendations controlled?" | translate }}
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                  {{
                    "Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules"
                      | translate
                  }}
                </ng-template>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{ "Do you connect to spreadsheets?" | translate }}
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                  {{
                    "Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules"
                      | translate
                  }}
                </ng-template>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{ "Can I white-label the app" | translate }}
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                  {{
                    "Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules"
                      | translate
                  }}
                </ng-template>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  {{ "Pricing and plans?" | translate }}
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                  {{
                    "Ibernia ia a goal-based financial planning app for advisors that models cashflows, savings pots, and what-ifs, then generates draft advice with firm specific rules"
                      | translate
                  }}
                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <!-- End Accordion Wrapper  -->
    </mat-card-content>
  </mat-card>
</div>
