.start-end {
    .row {
      margin: 0 !important;
      .col-6 {
        padding: 0 !important;
        max-width: 45% !important;
        flex: 0 0 45% !important;
      }
    }
  }
    .input-container {
  position: relative;

  .percent-input {
    padding-right: 24px; // space for the suffix
  }

  .suffix {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 14px;
    pointer-events: none;
  }
}