<!-- <p>add-income works!</p>
<button (click)="closeDialog()" type="button"></button> -->

<!--  Add Expense-->
<div class="w-100">
  <div class="d-flex flex-column gap-32">
    <!-- Modal Header  -->
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
      <h3>Add an income</h3>
      <button (click)="closeDialog()" type="button">
        <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
      </button>
    </div>
    <!-- End Modal Header  -->

    <!-- Modal Body  -->
    <mat-dialog-content>
      <div [formGroup]="incomeForm" class="d-flex flex-column gap-20">
        <!-- Description Field  -->
        <div class="w-100 form-field gap-12">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">Description</mat-label>
          <input matInput formControlName="description" placeholder="e.g. State Pension" />
          <!-- Error  -->
          <!-- <span class="field-error d-block">Name is required</span> -->
          <!-- End Error  -->
        </div>
        <!--End Description Field  -->

        <!-- Net Amount Field  -->
        <div class="d-flex flex-column gap-4 net-fields">
          <div class="d-flex flex-column gap-12">
            <mat-label class="f-s-16 d-block" style="line-height: 18px">Net amount</mat-label>
            <div class="net-field d-flex align-items-center">
              <!-- Currency Selector  -->
              <div class="left">
                <mat-select formControlName="currencySymbol" class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (country of countries; track country) {
                    @if(country.currencySymbol) {
                      <mat-option [value]="country.currencySymbol">{{
                        country.currencySymbol
                        }}</mat-option>
  
                    }
                  }
                </mat-select>
              </div>
              <!-- End Currency Selector  -->
              <!-- Price Field  -->
              <div class="w-100 form-field">
                <input matInput type="number" formControlName="amount" placeholder="0" />
              </div>
              <!-- End Price Field  -->
              <!-- End Type Field  -->
              <div class="right">
                <mat-select value="Select" formControlName="cycle" class="sortby-edit-profile">
                  @for (cycle of cycles; track cycle) {
                    <mat-option [value]="cycle.id">{{ cycle.description }}</mat-option>
                  }
                </mat-select>
              </div>
              <!-- End Type Field  -->
            </div>
          </div>
          <!-- Error  -->
          <!-- <span class="field-error d-block">Amount is required</span> -->
          <!-- End Error  -->
        </div>
        <!-- End Net Amount Field  -->

        <div class="d-flex flex-column gap-8">
          <div class="w-100 form-field gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">Date</mat-label>
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="position-relative">
              <input matInput [matDatepicker]="picker" formControlName="expensedate" />
              <div class="date-picker-position">
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>
                    <img src="assets/images/svgs/datepicker-icon.svg" alt="datepicker-icon" />
                  </mat-icon>
                </mat-datepicker-toggle>
              </div>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>
          <!-- error  -->
          <!-- <span class="field-error d-block">Escalation Rate is required</span> -->
          <!-- End error  -->
        </div>
      </div>
    </mat-dialog-content>
    <!-- End Modal Body  -->

    <!-- Modal Action Button  -->
    <div class="row justify-content-between modal-action">
      <div class="col-5">
        <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
          <span class="f-s-16">Cancel</span>
        </button>
      </div>
      <div class="col-5">
        <button (click)="addIncome()" type="button" class="button-icon w-100 d-block">
          <span class="f-s-16">{{isEditWorkflow ? 'Update' : 'Add'}} income</span>
        </button>
      </div>
    </div>
    <!-- End Modal Action Button  -->
  </div>
</div>
<!-- End Add Expense -->