<div class="w-100">
  <div class="d-flex flex-column gap-32">
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
      <div class="d-flex align-items-center gap-10">
        <h3 style="text-transform: none;">{{incomeTitle}}</h3>
        <ng-container *ngIf="isEditWorkflow && isNameEditable">
          <img src="assets/images/svgs/drop-down-edit-2-line.svg" alt="edit" class="cursor-pointer edit-name-icon"
            (click)="toggleNameEdit()" />
        </ng-container>
      </div>

      <button (click)="closeDialog()" type="button">
        <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
      </button>
    </div>

    <mat-dialog-content>
      <div [formGroup]="incomeForm" class="d-flex flex-column gap-20">

        @if(!isEditWorkflow) {
        <div class="d-flex flex-column gap-8">
          <div class="d-flex gap-8 align-items-center">
            <mat-label class="f-s-16 f-w-400 d-block">{{ 'Type' | translate }}</mat-label>
            <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
          </div>
          <div class="justify-content-between align-items-start flex-nowrap">

            <div class="w-100 form-field">
              <div class="select-option">
                <mat-select formControlName="incomeType" (selectionChange)="onIncomeTypeChange($event.value)"
                  hideSingleSelectionIndicator>
                  @for (incomeType of incomeTypes; track incomeType) {
                  <mat-option [value]="incomeType">{{incomeType}}</mat-option>
                  }
                </mat-select>
              </div>
              @if(incomeForm.get('incomeType')?.touched && incomeForm.get('incomeType')?.hasError('required')) {
              <span class="field-error d-block">{{'Required' | translate}}</span>
              }
            </div>
          </div>
        </div>
        }

        @if(isNameEditable && showNameEdit) {
        <div class="w-100 form-field gap-8">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">{{ 'Name' | translate }}</mat-label>
          <input matInput formControlName="description" placeholder="e.g. Salary" />

          @if(incomeForm.get('description')?.touched && incomeForm.get('description')?.hasError('required')) {
          <span class="field-error d-block">{{'Required' | translate}}</span>
          }
        </div>
        }

        @if(showPersonSelector) {
        <div class="d-flex flex-column gap-8">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">{{ 'Ownership' | translate }}</mat-label>
          <mat-select [value]="editingPerson" (selectionChange)="onEditingPersonChange($event.value)" class="w-100" hideSingleSelectionIndicator>
            <mat-option value="client">{{ clientDisplayName }}</mat-option>
            <mat-option value="partner">{{ partnerDisplayName }}</mat-option>
          </mat-select>
        </div>
        }

        <div class="d-flex flex-column gap-4 net-fields">
          <div class="d-flex flex-column gap-8">
            <mat-label class="f-s-16 d-block" style="line-height: 18px">{{ 'Net amount' | translate }}</mat-label>
            <div class="net-field d-flex align-items-center">
              <div class="left hide-arrow">
                <mat-select formControlName="currencySymbol" class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (country of countries; track country) {
                  @if(country.currencySymbol) {
                  <mat-option [value]="country.currencySymbol">{{country.currencySymbol}}</mat-option>
                  }
                  }
                </mat-select>
              </div>
              <div class="w-100 form-field">
                <input matInput type="text" formControlName="amount" #amountInput
                  [value]="incomeForm.get('amount')?.value | thousandSeparator" thousandSeparatorInput
                  (input)="onAmountInput($event.target.value)" placeholder="0" />
              </div>
              <div class="right">
                <mat-select (valueChange)="onCycleValueChange($event)" formControlName="cycle"
                  class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (cycle of cycles; let i = $index; track cycle) {
                  <mat-option [value]="cycle.id">{{ cycle.description }}</mat-option>
                  }
                </mat-select>
              </div>
            </div>
            @if(incomeForm.get('amount')?.touched && (incomeForm.get('amount')?.hasError('required') || incomeForm.get('amount')?.hasError('greaterThanZero'))) {
            <span class="field-error d-block">{{'Amount must be greater than 0' | translate}}</span>
            }
          </div>
        </div>

        <!-- Bonus -->
        @if(incomeForm.get('description')?.value === 'Salary' || incomeForm.get('description')?.value === 'Salary (Partner)') {
        <div class="d-flex flex-column gap-4 net-fields">
          <div class="d-flex flex-column gap-8">
            <mat-checkbox formControlName="addBonus">
              {{ 'Add bonus' | translate }}
            </mat-checkbox>
          </div>
        </div>

        <div class="d-flex flex-column gap-4 net-fields" *ngIf="incomeForm.get('addBonus')?.value">
          <div class="d-flex flex-column gap-8">
            <mat-label class="f-s-16 d-block" style="line-height: 18px">{{ 'Bonus net amount' | translate }}</mat-label>
            <div class="net-field d-flex align-items-center">
              <div class="left hide-arrow">
                <mat-select formControlName="currencySymbol" class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (country of countries; track country) {
                  @if(country.currencySymbol) {
                  <mat-option [value]="country.currencySymbol">{{country.currencySymbol}}</mat-option>
                  }
                  }
                </mat-select>
              </div>
              <div class="w-100 form-field">
                <input matInput type="text" formControlName="bonusAmount" #bonusAmountInput
                  [value]="incomeForm.get('bonusAmount')?.value | thousandSeparator" thousandSeparatorInput
                  (input)="onBonusAmountInput($event.target.value)" placeholder="0" />
              </div>
              <div class="right">
                <mat-select formControlName="bonusCycle" class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (cycle of cycles; let i = $index; track cycle) {
                  <mat-option [value]="cycle.id">{{ cycle.description }}</mat-option>
                  }
                </mat-select>
              </div>
            </div>
            @if(incomeForm.get('bonusAmount')?.touched && (incomeForm.get('bonusAmount')?.hasError('required') || incomeForm.get('bonusAmount')?.hasError('greaterThanZero'))) {
            <span class="field-error d-block">{{'Amount must be greater than 0' | translate}}</span>
            }
          </div>
        </div>

        @if (isBonusOneOff)
        {
        <div class="d-flex flex-column gap-4 net-fields">
          <div class="d-flex flex-column gap-8">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">Bonus date</mat-label>
              <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>

            <div class="justify-content-between align-items-start flex-nowrap">
              <div class="w-100">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="bonusDate" hideSingleSelectionIndicator>
                      @for (year of years;let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ getAgeForYear(year) }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(incomeForm.get('bonusDate')?.touched && incomeForm.get('bonusDate')?.hasError('required')) {
                  <span class="field-error d-block">{{'Required' | translate}}</span>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        }
        }

        <div class="start-end">
          <div class="d-flex flex-column gap-8">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">@if(showStartEnd) {Start & end} @else {Date}</mat-label>
              <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <div [className]="showStartEnd ? 'col-6' : 'w-100'">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                      @if(isEditWorkflow || eventsList?.length > 0)
                      {
                      <mat-option [value]="currentYear">This year ({{ currentYear }})</mat-option>
                      }
                      @for (event of eventsList; track event) {
                      <mat-option [value]="'event:' + event.id">{{ event.name }} ({{ getAgeForYear(event.start.year) }})</mat-option>
                      }
                      <hr>
                      @for (year of years;let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ getAgeForYear(year) }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(incomeForm.get('start')?.touched && incomeForm.get('start')?.hasError('required')) {
                  <span class="field-error d-block">{{'Required' | translate}}</span>
                  }
                </div>
              </div>

              @if(showStartEnd) {
              <div class="d-flex justify-content-start align-items-start">
                <img src="assets/images/svgs/chevron-right-date-icon.svg" alt="chevron-right-date-icon" />
              </div>
              <div class="col-6">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="end" hideSingleSelectionIndicator>
                      @for (event of getEndEvents(); track event.id) {
                      <mat-option [value]="'event:' + event.id">{{ event.name }} ({{ getAgeForYear(event.start.year) }})</mat-option>
                      }
                      <hr>
                      @for (year of getEndYears(); track year) {
                      <mat-option [value]="year">{{ year }} ({{ getAgeForYear(year) }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(incomeForm.get('end')?.touched && incomeForm.get('end')?.hasError('required')) {
                  <span class="field-error d-block">{{'Required' | translate}}</span>
                  }
                  @if(incomeForm.get('end')?.touched && incomeForm.get('end')?.hasError('endBeforeStart')) {
                  <span class="field-error d-block">End year cannot be before start year</span>
                  }
                </div>
              </div>
              }
            </div>
          </div>
        </div>

        @if(isInheritance) {
        <div class="d-flex flex-column gap-8">
          <mat-checkbox formControlName="investThisAmount">
            {{ 'Invest this amount' | translate }}
          </mat-checkbox>
        </div>
        @if(isInvestThisAmountChecked) {
        <div class="d-flex flex-column gap-12">
          <div class="d-flex gap-8 align-items-center">
            <mat-label class="f-s-16 f-w-400 d-block">{{ 'Contribute to saving pot' | translate }}</mat-label>
            <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
          </div>
          <div class="w-100 form-field">
            <div class="select-option">
              <mat-select formControlName="inheritanceTargetPotId" hideSingleSelectionIndicator>
                @for (saving of clientSavings; track saving) {
                  <mat-option [value]="saving.id">{{ saving.name }}</mat-option>
                }
              </mat-select>
            </div>
            @if(incomeForm.get('inheritanceTargetPotId')?.touched && incomeForm.get('inheritanceTargetPotId')?.hasError('required')) {
              <span class="field-error d-block">{{'Required' | translate}}</span>
            }
          </div>
        </div>
        <div class="d-flex flex-column gap-12">
          <div class="d-flex gap-8 align-items-center">
            <mat-label class="f-s-16 f-w-400 d-block">{{ 'Percent to invest' | translate }}</mat-label>
            <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
          </div>
          <div class="w-100 form-field">
            <div class="w-100 d-flex align-items-center gap-24 percent-invest-row">
              <div class="slider-customizer slider-wrapper">
                <mat-slider class="w-100" [min]="0" [max]="100" [step]="1">
                  <input
                    matSliderThumb
                    formControlName="inheritancePercentToInvest"
                    (input)="onPercentToInvestSliderInput($event)"
                  />
                </mat-slider>
              </div>
              <div class="percentage-field">
                <mat-form-field appearance="outline" class="w-full w-100 percentage-icon">
                  <span matSuffix>%</span>
                  <input
                    matInput
                    type="number"
                    class="p-0"
                    formControlName="inheritancePercentToInvest"
                    (input)="onPercentToInvestInput($event)"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          @if(incomeForm.get('inheritancePercentToInvest')?.touched && incomeForm.get('inheritancePercentToInvest')?.hasError('min')) {
            <span class="field-error d-block">{{ 'Must be at least 1%' | translate }}</span>
          }
          @if(incomeForm.get('inheritancePercentToInvest')?.touched && incomeForm.get('inheritancePercentToInvest')?.hasError('max')) {
            <span class="field-error d-block">{{ 'Must be at most 100%' | translate }}</span>
          }
        </div>
        }
        }

        @if(showStartEnd) {
        <div class="w-100 d-flex flex-column gap-20">
          <div class="escalation-inline">
            <div class="d-flex flex-column gap-8 escalation-field"
              [class.escalation-full]="selectedEscalationDescription !== 'Increases at custom rate'">
              <mat-label class="f-s-16 f-w-400 d-flex gap-8 align-items-center">Escalation rate
                <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
              </mat-label>
              <div class="w-100 form-field">
                <div class="select-option">
                  <mat-select formControlName="escalationRate" value="Select"
                    (selectionChange)="onEscalationRateChange($event)">
                    @for (escalationRate of escalationRates; track escalationRate) {
                    <mat-option [value]="escalationRate.value">{{ escalationRate.description }}</mat-option>
                    }
                  </mat-select>
                </div>
                @if(incomeForm.get('escalationRate')?.touched && incomeForm.get('escalationRate')?.hasError('required'))
                {
                <span class="field-error d-block">{{'Required' | translate}}</span>
                }
              </div>
            </div>
            @if(selectedEscalationDescription === 'Increases at custom rate') {
            <div class="d-flex flex-column gap-8 escalation-field escalation-custom">
              <mat-label class="f-s-16 d-block">Custom escalation rate</mat-label>
              <div class="w-100 form-field custom-rate-input">
                <input matInput type="number" formControlName="customEscalationRate" placeholder="0" />
                <img class="custom-rate-suffix" src="assets/images/shapes/percentage.svg" alt="percentage" />
              </div>
              @if(incomeForm.get('customEscalationRate')?.touched &&
              incomeForm.get('customEscalationRate')?.hasError('required')) {
              <span class="field-error d-block">{{'Required' | translate}}</span>
              }
            </div>
            }
          </div>
        </div>
        }
      </div>
    </mat-dialog-content>

    <div class="row justify-content-between modal-action">
      <div class="col-5">
        <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
          <span class="f-s-16">{{ 'Cancel' | translate }}</span>
        </button>
      </div>
      <div class="col-5">
        <button (click)="addIncome()" type="button"
          [disabled]="isSaving || incomeForm.invalid || (isEditWorkflow && !hasFormChanges())" class="button-icon w-100 d-block">
          @if (isSaving) {
          <span class="f-s-16">Saving...</span>
          } @else {
          <span class="f-s-16">Save</span>
          }
        </button>
      </div>
    </div>
  </div>
</div>
