.mat-mdc-dialog-actions {
    justify-content: var(--mat-dialog-actions-alignment, center);
}

.icon-center {
    margin: 20px;
    display: flex;
    justify-content: var(--mat-dialog-actions-alignment, center);
}