<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
    <div class="d-flex align-items-center main-header-content">
      <div class="header-icon">
        <img src="../../../assets/images/shapes/small-icon-3.svg" alt="">
      </div>
      <div class="d-flex flex-column justify-content-between gap-4">
        <h4 class="page-title f-w-500">{{ 'Security & Password' | translate }}</h4>
        <span class="sub-title">{{ 'Update your security preferences' | translate }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
    <div class="row">
        <div class="col-6">
          <mat-label class="f-s-16 f-w-400 m-b-8 d-block">{{ 'Current password' | translate }}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput  placeholder="{{ 'Enter password' | translate }}">
          </mat-form-field>
          </div>
    </div>
   <div class="row">
        <div class="col-6">
          <mat-label class="f-s-16 f-w-400 m-b-8 d-block">{{ 'New password' | translate }}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput  placeholder="{{ 'Enter password' | translate }}">
          </mat-form-field>
     <p class="hint">{{ 'Your new password must be more than 8 characters' | translate }}</p>       
          </div>
                 <div class="col-6">
          <mat-label class="f-s-16 f-w-400 m-b-8 d-block">{{ 'Confirm new password' | translate }}</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput  placeholder="{{ 'Enter password' | translate }}">
          </mat-form-field>
          </div>
    </div>

         <div class="mt-4 d-flex justify-content-end">
        <button type="submit" class="button-icon">
          <span >{{ 'Save' | translate }}</span>
        </button>
      </div>
  </mat-card-content>
</mat-card>