/* General Table Styling */
table {
  width: 100%;
  border-collapse: collapse; /* Ensures consistent spacing between cells */
}

/* Detail Row Styling */
tr.example-detail-row {
  background-color: #f9f9f9;
}

.example-detail-row td {
  padding: 8px !important; /* Matches padding of the regular rows for consistency */
  font-size: 14px;
  color: #333; /* Text color */
  border: none; /* Matches table border styling */
}

/* Styling Regular Rows */
.example-element-row td {
  border-bottom: 0; /* Removes bottom border when expanded */
}

.example-element-row:not(.example-expanded-row):hover {
  background-color: #f1f1f1; /* Subtle hover effect */
}

.example-element-row:not(.example-expanded-row):active {
  background-color: #e8e8e8; /* Subtle active row effect */
}

/* Styling for Expanded Cells */
.expanded-cell {
  background-color: #f9f9f9;
  font-size: 13px;
  font-style: italic;
  border: none; /* Removes cell borders for cleaner look */
}

.action-link {
  display: flex;
}

.mat-mdc-header-row {
  background: rgba(247, 251, 255, 1) !important;
}
.table-wrapper {
  overflow-x: auto;
}

.column-expand {
  // width: 10%;
  min-width: 36px;
  padding: 10px 8px !important;
}

.column-client {
  // width: 20%;
  min-width: 295px;
  padding: 10px 8px !important;
}

.column-dob {
  // width: 20%;
  min-width: 250px;
  padding: 10px 8px !important;
  @media (max-width: 768px) {
    min-width: 190px;
  }
}

.column-last_updated {
  // width: 20%;
  min-width: 250px;
  padding: 10px 8px !important;
  @media (max-width: 768px) {
    min-width: 190px;
  }
}

.column-notes {
  // width: 20%;
  min-width: 295px;
  padding: 10px 8px !important;
}

.column-action {
  // width: 10%;
  min-width: 96px;
  padding: 10px 8px !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: rgba(249, 249, 249, 1); /* Black background for even rows */
  // color: #000; /* White text for contrast */
}

.mat-mdc-row:nth-child(odd) {
  background-color: #fff; /* White background for odd rows */
  // color: #000; /* Black text for contrast */
}

.mat-mdc-row {
  transition: background-color 0.3s ease; /* Optional: Smooth color transition */
}

.mat-mdc-row:hover {
  background-color: #e0e0e0; /* Optional: Highlight row on hover */
}

// #pad-0 {
//   padding-left: 0px !important;
//   padding-right: 0px !important;
// }

// New Styles

.client-section {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.table-main-wrapper {
  padding-top: 24px;
  @media (max-width: 768px) {
    padding-top: 16px;
  }
}
.clientTableContainer {
  background: #ffffff;
  border: 1px solid #e7e7eb;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none;
}
.client-search-wrapper {
  background: #ffffff;
  border: 1px solid #e7e7eb;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 16px;
    border-radius: 8px;
  }
}
.client-search-wrapper .col-10,
.client-search-wrapper .col-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.client-search-wrapper .row {
  margin: 0 !important;
}
.client-search-wrapper .position-relative {
  width: 100%;
  max-width: 473px;
  background-color: #f7f7f7;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.client-search-wrapper input {
  display: block;
  border: 1px solid #e7e7eb;
  background: transparent;
  border-radius: 8px;
  padding: 8px 16px;
  outline: none;
  min-height: 46px;
  line-height: 16px;
  font-size: 14px;
  font-family: "Ubuntu", serif;
  letter-spacing: "2%";
  transition: all 0.2s linear;
}

.client-search-wrapper input::placeholder {
  color: #b7b6c2;
}
.client-search-wrapper input:focus {
  outline: none;
  border: 1px solid #516ce8;
  transition: border 0.2s linear;
}
.client-search-wrapper .search-icon {
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
  height: 24px;
  width: 24px;
  pointer-events: none;
}

// Table Heading
.table-heading {
  padding-top: 24px;
  padding-left: 36px;
  @media (max-width: 768px) {
    padding-left: 16px;
    padding-top: 16px;
  }
}
// End Table Heading
