<!-- <app-breadcrumb title="Matteo's Clients"></app-breadcrumb> -->
<!-- <mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Search"
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-4 d-flex align-items-center justify-content-end">
        <button
          mat-flat-button
          extended
          (click)="redirectToAdd()"
          color="primary"
        >
          <div class="d-flex align-items-center">
            <span>New Client</span
            ><i-tabler class="icon-20 m-l-4" name="plus"></i-tabler>
          </div>
        </button> -->
<!-- <button mat-flat-button (click)="redirectToAdd()" color="primary">
          New Client <span class="m-l-10"><i-tabler name="plus" class="icon-18"></i-tabler></span> 
        </button> -->
<!-- </div>
    </div>
  </mat-card-content>
</mat-card> -->
<section class="client-section">
  <div class="client-search-wrapper m-b-30">
    <!-- <div class="row">
      <div class="col-10"> -->
        <mat-card ><mat-card-content class=" d-flex justify-content-between">
    <div class="position-relative">
      <input
        type="text"
        placeholder="Search"
        (keyup)="applyFilter($any($event.target).value)"
        class="w-100"
      />
      <img
        src="assets/images/svgs/search-icon.svg"
        alt="search-icon"
        class="search-icon"
      />
    </div>
    <!-- </div> -->
    <!-- <div class="col-2"> -->
    <!-- <div class="d-flex justify-content-end h-100"> -->
    <button (click)="redirectToAdd()" type="button" class="button-icon">
      <span>New Client</span>
      <img src="assets/images/svgs/add-icon.svg" alt="add-icon" />
    </button>
    </mat-card-content></mat-card>
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
  <mat-card class="clientTableContainer">
    <div class="table-heading">
      <div class="d-flex align-items-center gap-16">
        <div
          class="icon-wrapper d-flex align-items-center justify-content-center"
        >
          <img src="assets/images/svgs/bag-icon.svg" alt="bag-icon" />
        </div>
        <h4 class="f-w-500 page-title">{{ user.given_name }}'s Clients</h4>
      </div>
    </div>
    <!-- <div class="m-l-24 m-t-20 m-b-20 overflow-hidden"> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-sm-8"> -->
    <!-- <h4 class="page-title m-t-16 f-s-32 f-w-500 m-b-16">
      <div class="icon-circle m-r-20">
        <i-tabler name="briefcase" class="icon-25 color-primary"></i-tabler>
      </div>
      Matteo's Clients
    </h4> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->

    @if(dataSource.data.length > 0 && !isLoaderVisible) {
    <div class="table-main-wrapper p-t-30">
      <!-- <mat-card-content > -->
      <div class="table-responsive-sm table-wrapper">
        <table
          mat-table
          matSort
          (matSortChange)="announceSortChange($event)"
          [dataSource]="dataSource"
          multiTemplateDataRows
        >
          <!-- @for(column of columnsToDisplay; track column) { -->
          <ng-container matColumnDef="client">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class=" column-client"
            >
              Client
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class=" column-client"
            >
              {{ element.clientDetails.firstName }} {{ element.clientDetails.lastName }} @if(element.partnerDetail?.firstName)
              { & {{ element.partnerDetail?.firstName }} {{ element.partnerDetail?.lastName }} }
            </td>
          </ng-container>
          <ng-container matColumnDef="dob">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=" column-dob"
            >
              Date(s) of birth
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="column-dob"
            >
              {{ element.clientDetails.birthDate | date }} ({{
                element.clientDetails.birthDate | ageCalculator
              }}) @if(element.partnerDetail?.birthDate &&
              element.partnerDetail?.name) { <br />
              {{ element.partnerDetail?.birthDate | date }} ({{
                element.partnerDetail?.birthDate | ageCalculator
              }}) }
            </td>
          </ng-container>
          <ng-container matColumnDef="last_updated">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0 column-last_updated"
            >
              Last updated
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="column-last_updated"
            >
              {{ element.lastUpdated | date }} <br />
              <span style="color:#9495a2">
              {{ element.lastUpdated | timeAgo }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="notes">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="column-notes"
            >
              Notes
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class=" column-notes"
            >
              {{ element.notes }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="column-action"
            ></th>
            <td  mat-cell class="column-action" *matCellDef="let element">
              <div class="d-flex align-items-center justify-content-center">
                <button (click)="$event.stopPropagation(); $event.preventDefault()" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>
                    <img
                      src="assets/images/svgs/dropdown-detail.svg"
                      alt="dropdown-detail"
                      
                    />

                    <!-- <i-tabler name="dots-vertical" class="icon-20"></i-tabler> -->
                  </mat-icon>
                </button>
              </div>
              <mat-menu
                #menu="matMenu"
                xPosition="before"
                class="dropdown-menus"
              >
                <button mat-menu-item (click)="redirectToEdit(element.id)">
                  <mat-icon>
                    <img
                      src="assets/images/svgs/drop-down-edit-2-line.svg"
                      alt="drop-down-copy-2-line"
                      height="24"
                      width="24"
                    />
                  </mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="openDialog('Delete', element)">
                  <mat-icon>
                    <img
                      src="assets/images/svgs/drop-down-delete-2-line.svg"
                      alt="drop-down-copy-2-line"
                      height="24"
                      width="24"
                    />
                  </mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              <!-- <a [routerLink]="['./' + element.id + '/edit']" class="m-t-15 m-r-10 cursor-pointer"><i-tabler name="pencil-minus"
                class="icon-18"></i-tabler></a>
                <a (click)="openDialog('Delete', element)" class="m-t-15 m-r-10 cursor-pointer">
                  <i-tabler name="trash-filled" class="icon-18"></i-tabler>
                </a> -->
            </td>
          </ng-container>
          <!-- } -->
          <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                Action
              </th>
              
            </ng-container> -->
          <ng-container matColumnDef="expand">
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="column-expand"
            >
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let element" class="column-expand">
              @if(element.partnerDetail?.name) {
              <button
                mat-icon-button
                aria-label="expand row"
                (click)="rowExpandClicked(element, $event)"
              >
                @if(expandedPartnerElement !== element) {
                <mat-icon>keyboard_arrow_right</mat-icon>
                } @if(expandedPartnerElement === element) {
                <mat-icon>keyboard_arrow_down</mat-icon>
                }
              </button>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="name_client">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=""
            >
              Client
            </th>
            <td mat-cell *matCellDef="let element" >
              {{ element.clientDetails.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dob_client">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=""
            >
              Date(s) of birth
            </th>
            <td mat-cell *matCellDef="let element" class="">
              {{ element.clientDetails.birthDate | date }} ({{
                element.clientDetails.birthDate | ageCalculator
              }})
            </td>
          </ng-container>
          <ng-container matColumnDef="last_updated_client">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=""
            >
              Last updated
            </th>
            <td mat-cell *matCellDef="let element" class="">
              {{ element.lastUpdated | date }} <br />
              <span style="color:#9495a2">
              {{ element.lastUpdated | timeAgo }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="notes_client">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=""
            >
              Last updated
            </th>
            <td mat-cell *matCellDef="let element" class="">
              <!-- {{ element.lastUpdated | date }} -->
            </td>
          </ng-container>
          <ng-container matColumnDef="action_client">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=""
            >
              Last updated
            </th>
            <td mat-cell *matCellDef="let element" class="">
              <!-- {{ element.lastUpdated | date }} -->
            </td>
          </ng-container>
          <ng-container matColumnDef="name_partner">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=""
            >
              Client
            </th>
            <td mat-cell *matCellDef="let element" class="">
              {{ element.partnerDetail?.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dob_partner">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=""
            >
              Date(s) of birth
            </th>
            <td mat-cell *matCellDef="let element" class="">
              {{ element.partnerDetail?.birthDate | date }} ({{
                element.partnerDetail?.birthDate | ageCalculator
              }})
            </td>
          </ng-container>
          <ng-container matColumnDef="last_updated_partner">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
            >
              Last updated
            </th>
            <td mat-cell *matCellDef="let element" class="">
              {{ element.lastUpdated | date }} <br />
                  <span style="color:#9495a2">
              {{ element.lastUpdated | timeAgo }}
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="notes_partner">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=""
            >
              Last updated
            </th>
            <td mat-cell *matCellDef="let element" class="">
              <!-- {{ element.lastUpdated | date }} -->
            </td>
          </ng-container>
          <ng-container matColumnDef="action_partner">
            <th
              mat-header-cell
              *matHeaderCellDef
              class=""
            >
              Last updated
            </th>
            <td mat-cell *matCellDef="let element" class="">
              <!-- {{ element.lastUpdated | date }} -->
            </td>
          </ng-container>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let element">
              <!-- <button mat-icon-button aria-label="expand row" (click)="
              expandedElement = expandedElement === element ? null : element;
              $event.stopPropagation()
              ">
                @if(expandedElement !== element) {
                <mat-icon>keyboard_arrow_down</mat-icon>
                } @if(expandedElement === element) {
                <mat-icon>keyboard_arrow_up</mat-icon>
                }
              </button> -->
              <!-- <span>text</span> -->
            </td>
          </ng-container>
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <!-- <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div [@detailExpand]="
          element === expandedElement ? 'expanded' : 'collapsed'
          ">
                <div class="p-15 rounded b-1 m-b-16 m-x-18">
                  <div class="d-flex align-items-center gap-12">
                    <span
                      class="bg-light-primary text-primary icon-48 rounded f-w-600 d-flex align-items-center justify-content-center">
                      {{ element.symbol }}
                    </span>
                    <div>
                      <div class="f-s-14 f-w-600 mat-subtitle-1">
                        {{ element.name }}
                      </div>
                      <div class="f-s-14">{{ element.project }}</div>
                    </div>
                  </div>
                  <div class="f-s-14 m-t-8">
                    {{ element.description }}
                  </div>
                </div>
              </div>
            </td>
          </ng-container> -->

          <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr> -->
          <!-- <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element" (click)="
          expandedElement = expandedElement === element ? null : element
          "></tr> -->
          <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->

          <!-- <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="expanded-row">
                <ng-container *ngFor="let column of columnsToDisplay">
                  <div class="expanded-cell">
                    <strong>{{ column | titlecase }}:</strong> {{ element[column] }}
                  </div>
                </ng-container>
              </div>
            </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>

          <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplayWithExpand"
            class="example-element-row"
            [class.example-expanded-row]="expandedClientElement === element"
            (click)="clientExpandRowClicked(element)"
          ></tr>

          <!-- Expanded Rows -->
          <tr
            mat-row
            *matRowDef="
              let element;
              columns: clientColumnsToDisplayWithCheckbox
            "
            class="example-detail-row"
            [hidden]="expandedClientElement !== element"
            (click)="clientExpandRowClicked(element, true)"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let element;
              columns: partnerColumnsToDisplayWithCheckbox
            "
            class="example-detail-row"
            [hidden]="
              expandedPartnerElement !== element ||
              !expandedPartnerElement?.partnerDetail?.firstName
            "
            (click)="partnerExpandRowClicked(element)"
          >
            <!-- && !expandedPartnerElement?.partnerDetail?.name -->
          </tr>

          <!-- <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithCheckbox" class="example-detail-row"
            [hidden]="expandedElement !== element && !element.partnerDetail?">
            <ng-container>
              <td mat-cell *matCellDef="let element" class="">
                {{element.partnerDetail?.name}} 
              </td>
            </ng-container>
            <ng-container>
              <td mat-cell *matCellDef="let element" class="">
                {{element.partnerDetail?.birthDate | date}}
              </td>
            </ng-container>
            <ng-container>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.lastUpdated | date }}
              </td>
            </ng-container>
            <ng-container>
              <td mat-cell *matCellDef="let element" class="">
                {{ element.notes }}
              </td>
            </ng-container>
            <ng-container >
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0">
                Action
              </th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <a [routerLink]="['./abc/edit']" class=" m-t-15 m-r-10 cursor-pointer"><i-tabler name="edit"
                    class="icon-18"></i-tabler></a>
                <a (click)="openDialog('Delete', element)" class="m-t-15 m-r-10 cursor-pointer">
                  <i-tabler name="trash" class="icon-18"></i-tabler>
                </a>
              </td>
            </ng-container>
          </tr> -->
          <!-- <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row"
            [hidden]="expandedElement !== element">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="expanded-row">
                <ng-container *ngFor="let column of columnsToDisplay">
                  <div class="expanded-cell">
                    <strong>{{ column | titlecase }}:</strong> {{ element[column] }}
                  </div>
                </ng-container>
              </div>
            </td>
          </tr> -->
        </table>
      </div>
      <!-- </mat-card-content> -->
    </div>
    } @else {
      <div class="h-300">
      @if(isLoaderVisible) {
          <mat-spinner></mat-spinner>  
        }
        @else {
          <span>No Clients Available</span>
        }
      </div>
    }
  </mat-card>
</section>
