/* General Table Styling */
table {
  width: 100%;
  border-collapse: collapse; /* Ensures consistent spacing between cells */
}

.table-wrapper .mat-mdc-table {
  background-color: transparent !important; /* Ensures the table background is transparent to show the card's background */
}

/* Detail Row Styling */
tr.example-detail-row {
  background-color: #ffffffb2;
  border-bottom: 1px solid #1c1c1c;
}

.example-detail-row td {
  padding: 8px !important; /* Matches padding of the regular rows for consistency */
  font-size: 14px;
  color: #1c1c1c; /* Text color */
  border: none; /* Matches table border styling */
}

/* Styling Regular Rows */
.example-element-row td {
  border-bottom: 1px solid #0000001a !important; /* Removes bottom border when expanded */
}

.example-element-row:not(.example-expanded-row):hover {
  background-color: #ffffff90;
  cursor: pointer;
  /* Subtle hover effect */
}

.example-element-row:not(.example-expanded-row):active {
  background-color: #e8e8e8; /* Subtle active row effect */
}

.mat-mdc-header-row {
  background: #ffffff !important;
  height: 52px !important;
}
.table-wrapper {
  overflow-x: auto;
  border-radius: 12px;
}

.column-expand {
  // width: 10%;
  min-width: 36px;
  padding: 10px 8px !important;
}

.column-client {
  // width: 20%;
  min-width: 295px;
  padding: 10px 8px !important;
}

.column-dob {
  // width: 20%;
  min-width: 250px;
  padding: 10px 8px !important;
  @media (max-width: 768px) {
    min-width: 190px;
  }
}

.column-last_updated {
  // width: 20%;
  min-width: 250px;
  padding: 10px 8px !important;
  @media (max-width: 768px) {
    min-width: 190px;
  }
}

.column-notes {
  // width: 20%;
  min-width: 295px;
  max-width: 295px;

  white-space: normal;
  word-break: break-all;
  overflow-wrap: anywhere;
  padding: 10px 8px !important;
}

.column-action {
  // width: 10%;
  min-width: 96px;
  padding: 10px 8px !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: #ffffff75;
  backdrop-filter: blur(75px);

  // background-color: rgba(249, 249, 249, 1);
  // background-color: #ffffffb2;
  /* Black background for even rows */
  // color: #000; /* White text for contrast */
}

.mat-mdc-row:nth-child(odd) {
  background-color: #ffffff75;
  backdrop-filter: blur(75px);
  // background-color: #ffffffb2;
  /* White background for odd rows */
  // color: #000; /* Black text for contrast */
}

.mat-mdc-row {
  transition: background-color 0.3s ease; /* Optional: Smooth color transition */
}

.mat-mdc-row:hover {
  background-color: #e0e0e0; /* Optional: Highlight row on hover */
}

// Table Container
.clientTableContainer {
  background: #ffffffb2;
  // border: 1px solid #e7e7eb;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none;
}

// #pad-0 {
//   padding-left: 0px !important;
//   padding-right: 0px !important;
// }

// New Styles

.client-search-wrapper,
.clientTableContainer {
  .position-relative {
    width: 100%;
    max-width: 352px;
    background-color: #ffffffb2;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    // @media (max-width: 768px) {
    //   max-width: 100%;
    // }
  }
  input {
    display: block;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 12px;
    padding: 8px 8px 8px 48px;
    outline: none;
    min-height: 46px;
    line-height: 16px;
    font-size: 14px;
    font-family: "Ubuntu", serif;
    letter-spacing: "2%";
    transition: all 0.2s linear;
    &::placeholder {
      color: #a6abb2;
    }
    &:focus {
      outline: none;
      border: 1px solid #516ce8;
      transition: border 0.2s linear;
    }
  }
  .search-icon {
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    height: 24px;
    width: 24px;
    pointer-events: none;
  }
}

.table-main-wrapper {
  padding: 0 24px 24px 24px;
}

// Table Heading
.table-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  // padding-left: 24px;
  @media (max-width: 768px) {
    padding-left: 16px;
    padding-top: 16px;
  }
  .page-title {
    font-size: 1.5rem;
    line-height: 1.334rem;
    color: #1c1c1c;
  }
}
// End Table Heading

.client-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  // padding: 16px 0;
  padding: 16px 0 0 0;
}
.client-search-wrapper .mat-mdc-card.mdc-card {
  background-color: #ffffffb2 !important;
  backdrop-filter: blur(75px);
}

.ibr-client-intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    margin: 0;
    color: #5a596e;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.334rem;
    color: #1c1c1c;
  }
}
