@if(client) {
<div class="d-flex flex-column gap-24">
  <mat-card >
    <mat-card-content>
      <div class="profile-main-wrapper">
        <div
          class="d-flex align-items-center justify-content-between w-100 gap-16 flex-wrap"
        >
          <div class="d-flex align-items-center gap-16">
            <!-- Icon  -->
            <div
              class="icon-wrapper d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/images/svgs/user-profile-header-icon.svg"
                alt="user-profile-header-icon"
              />
            </div>
            <!-- End Icon  -->
            <!-- headings  -->
            <div class="d-flex flex-column justify-content-between gap-4">
              <h4 class="page-title f-w-500 f-s-30">
                {{ client.clientDetails.firstName }} {{ client.clientDetails.lastName }}'s {{ 'Profile' | translate }}
              </h4>
              <span class="sub-title">
                {{ birthDate | date }} ({{
                  birthDate | ageCalculator
                }}  years old) </span
              >
            </div>
            <!-- End headings  -->
          </div>
          <button
            type="button"
            class="button-icon-outline"
            (click)="onEditClicked()"
          >
            <span>{{ 'Edit' | translate }}</span>
            <img
              src="assets/images/svgs/edit-pen-icon-button.svg"
              alt="edit-pen-icon"
            />
          </button>
          <!-- <div class="d-flex align-items-center gap-12">
          <img
            src="/assets/images/svgs/chart-histogram-two-icon.svg"
            alt="chart"
          />
          <span class="f-s-16">Cashflow Simulator #1</span>
        </div> -->
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Saving Section  -->
  <mat-card >
    <mat-card-content>
      <div class="profile-main-wrapper">
        <div class="d-flex flex-column gap-8">
          <div class="d-flex align-items-center gap-8">
            <img
              src="assets/images/svgs/total-saving-wallet.svg"
              alt="total-saving-wallet"
            />
            <h3 class="card-title">{{ 'Total savings' | translate }}</h3>
          </div>
          <div class="d-flex align-items-center gap-20">
            <h3 class="saving-title">{{preferredCurrency | currencySymbol}}{{totalSavings | thousandSeparator}}</h3>
            <!-- <span class="badge">+4%</span> -->
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- End Saving Section  -->

  <!-- Client Cashflow Section  -->
  <mat-card >
    @if(!isLoaderVisible) {
    <mat-card-content>
      <div class="d-flex flex-column gap-32">
        <!-- Cash Flow Section  -->
        <div
          class="d-flex align-items-center justify-content-between w-100 gap-16 flex-wrap"
        >
          <span class="f-s-20">{{ 'Client’s plans:' | translate }}</span>
          <div class="d-flex align-items-center gap-32">
            <div class="d-flex align-items-center">
              <span class="f-s-14">{{ 'Sorting order:' | translate }}</span>
              <mat-select (valueChange)="onSortByValueChange($event)" placeholder="Select" class="sortby-edit-profile">
                @for (sortDescriptor of sortDescriptors; track sortDescriptor) {
                <mat-option [value]="sortDescriptor.value">{{
                  sortDescriptor.viewValue
                }}</mat-option>
                }
              </mat-select>
            </div>

            <button
              (click)="newModelClicked()"
              type="button"
              class="button-icon"
            >
              <span>{{ 'New plan' | translate }}</span>
              <img src="assets/images/svgs/add-icon.svg" alt="add-icon" />
            </button>
          </div>
        </div>
        <!-- Cash Flow Section  -->

        @for (cashflow of cashflows; track cashflow) {
        <div class="simulation-wrapper">
          <div class="d-flex flex-column gap-10">
            <div class="d-flex align-items-center justify-content-between">
              <a
              (click)="loadCashflowToStore(cashflow.id)"
                [routerLink]="['/cashflows/' + cashflow.id + '/timeline']"
                class="text-decoration-none"
              >
                <h3>{{ cashflow.name }}</h3>
              </a>
              <button
                mat-icon-button
                [matMenuTriggerFor]="beforeMenu"
                aria-label="icon-button with a menu"
              >
                <mat-icon>
                  <img
                    src="assets/images/svgs/drop-down-icon-v2.svg"
                    alt="drop-down-icon-v2"
                  />
                </mat-icon>
              </button>
              <mat-menu
                #beforeMenu="matMenu"
                xPosition="before"
                class="dropdown-menus"
              >
                <button (click)="onEditModelClicked(cashflow.id)" mat-menu-item>
                  <mat-icon>
                    <img
                      src="assets/images/svgs/drop-down-edit-2-line.svg"
                      alt="drop-down-edit-2-line"
                      height="24"
                      width="24"
                    />
                  </mat-icon>
                  <span>{{ 'Edit' | translate }}</span>
                </button>
                <button (click)="onCopyModelClicked(cashflow)" mat-menu-item>
                  <mat-icon>
                    <img
                      src="assets/images/svgs/drop-down-copy-2-line.svg"
                      alt="drop-down-copy-2-line"
                      height="24"
                      width="24"
                    />
                  </mat-icon>
                  <span>{{ 'Copy' | translate }}</span>
                </button>
                <button
                  (click)="onDeleteModelClicked(cashflow.id)"
                  mat-menu-item
                >
                  <mat-icon>
                    <img
                      src="assets/images/svgs/drop-down-delete-2-line.svg"
                      alt="drop-down-delete-2-line"
                      height="24"
                      width="24"
                    />
                  </mat-icon>
                  <span>{{ 'Delete' | translate }}</span>
                </button>
              </mat-menu>
            </div>
            <div class="d-flex flex-column gap-10">
              <span>{{ 'Updated:' | translate }} {{ cashflow.updatedAt | timeAgo }}</span>
              <p>
                {{ cashflow.description }}
              </p>
            </div>
          </div>
        </div>
        }
      </div>
    </mat-card-content>
    } @else {
    <div class="h-300">
      <mat-spinner></mat-spinner>
    </div>
    }
  </mat-card>
  <!-- End Client Cashflow  Section  -->
</div>
}

<!-- <app-add-model></app-add-model> -->
