<!-- <p>add-income works!</p>
<button (click)="closeDialog()" type="button"></button> -->

<!--  Add Expense-->
<div class="w-100">
  <div class="d-flex flex-column gap-32">
    <!-- Modal Header  -->
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
      <h3>{{isEditWorkflow ? 'Edit' : 'Add'}}  Contribution</h3>
      <button (click)="closeDialog()" type="button">
        <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
      </button>
    </div>
    <!-- End Modal Header  -->

    <!-- Modal Body  -->
    <mat-dialog-content>
      <div [formGroup]="contributionForm" class="d-flex flex-column gap-20">
        <!-- >{{ 'Description' | translate }}< Field  -->
        <div class="w-100 form-field gap-8">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">{{ 'Description' | translate }}</mat-label>
          <input matInput formControlName="description" placeholder="e.g. Monthly pension contribution" />
          <!-- Error  -->
          <!-- <span class="field-error d-block">Name is required</span> -->
          <!-- End Error  -->
           @if(contributionForm.get('description')?.touched &&
              contributionForm.get('description')?.hasError('required')) {
              <span class="field-error d-block">{{'Required' | translate}}</span>
              }
        </div>
                
        <!--End >{{ 'Description' | translate }}< Field  --> 

        <!-- Net Amount Field  -->
        <div class="d-flex flex-column gap-4 net-fields">
          <div class="d-flex flex-column gap-8">
            <mat-label class="f-s-16 d-block" style="line-height: 18px">{{ 'Net amount' | translate }}</mat-label>
            <div class="net-field d-flex align-items-center">
              <!-- Currency Selector  -->
              <div class="left hide-arrow">
                <mat-select formControlName="currencySymbol" class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (country of countries; track country) {
                  @if(country.currencySymbol) {
                  <mat-option [value]="country.currencySymbol">{{
                    country.currencySymbol
                    }}</mat-option>

                  }
                  }
                </mat-select>
              </div>
              <!-- End Currency Selector  -->
              <!-- Price Field  -->
              <div class="w-100 form-field">
                <input
                  matInput
                  type="text"
                  formControlName="amount"
                  [value]="contributionForm.get('amount')?.value | thousandSeparator"
                thousandSeparatorInput
                  (input)="onAmountInput($event.target.value)"
                  placeholder="0"
                />
              </div>
              <!-- End Price Field  -->
              <!-- End Type Field  -->
              <div class="right">
                <mat-select (valueChange)="onCycleValueChange($event)" value="Select" formControlName="cycle"
                  class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (cycle of cycles; track cycle) {
                  <mat-option [value]="cycle.id">{{ cycle.description }}</mat-option>
                  }
                </mat-select>
              </div>
              <!-- End Type Field  -->
            </div>
          </div>
          <!-- Error  -->
          <!-- <span class="field-error d-block">Amount is required</span> -->
          <!-- End Error  -->
        </div>
        <!-- End Net Amount Field  -->

        <!-- <div class="d-flex flex-column gap-8">
          <div class="w-100 form-field gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">Date</mat-label>
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="select-option">
              <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                @for (year of years; track year) {
                <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                }
              </mat-select>
            </div>
          </div>
        </div> -->

        <div class="start-end">
          <div class="d-flex flex-column gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">@if(showStartEnd) {Start & end} @else {Date}</mat-label>
              <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <!-- Start date  -->
              <div [className]="showStartEnd ? 'col-6' : 'w-100'">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                      <!-- <mat-icon matPrefix>expand_more</mat-icon> -->
                       @if(eventsList.length > 0)
                        {
                          <mat-option [value]="currentYear">This year ({{ currentYear }})</mat-option>
                          <hr>
                        }
                      @for (event of eventsList; track event) {
                      <mat-option [value]="event.start.year">{{ event.name }} ({{ event.start.age }})</mat-option>
                      }
                      <hr>
                      @for (year of years; let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(contributionForm.get('start')?.touched &&
                  contributionForm.get('start')?.hasError('required')) {
                  <!-- <span class="field-error d-block">Start is required</span> -->
              <span class="field-error d-block">{{'Required' | translate}}</span>

                  }
                </div>
              </div>

              @if(showStartEnd) {
              <!-- Divider  -->
              <div class="d-flex justify-content-start align-items-start">
                <img src="assets/images/svgs/chevron-right-date-icon.svg" alt="chevron-right-date-icon" />
              </div>
              <!-- End date  -->
              <div class="col-6">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="end" hideSingleSelectionIndicator>
                      <!-- <mat-icon matPrefix>expand_more</mat-icon> -->
                      <!-- @for (event of eventsList; track event) {
                        <mat-option [value]="event.year">{{ event.name }} ({{ event.age }})</mat-option>
                        }
                        <hr> -->
                        @for (event of eventsList; track event) {
                      <mat-option [value]="event.start.year">{{ event.name }} ({{ event.start.age }})</mat-option>
                      }
                      <hr>
                      @for (year of years; let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(contributionForm.get('end')?.touched &&
                  contributionForm.get('end')?.hasError('required')) {
                  <!-- <span class="field-error d-block">End is required</span> -->
              <span class="field-error d-block">{{'Required' | translate}}</span>

                  }
                  @if(contributionForm.get('end')?.touched &&
                        contributionForm.get('end')?.hasError('endBeforeStart')) {
                      <span class="field-error d-block">End year cannot be before start year</span>
                    }
                </div>
              </div>
              }
            </div>
          </div>
        </div>


          <div class="d-flex flex-column gap-12 tab">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">Contribute from</mat-label>
              <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
              <!-- Start date  -->
                   <div class="tabs">
    
<div class="row">
  <div class="col-6">
    <button
      type="button"
      class="button-icon w-100"
      [class.active]="isTypeSelected(1)"
      (click)="selectContributionType(1)"
    >
      <span [class.active]="isTypeSelected(1)">Cash</span>
    </button>
  </div>
  <div class="col-6">
    <button
      type="button"
      class="button-icon w-100"
      [class.active]="isTypeSelected(2)"
      (click)="selectContributionType(2)"
    >
      <span [class.active]="isTypeSelected(2)">External</span>
    </button>
  </div>
</div>



    </div>
       
            
     
          </div>
   


        
        <div class="start-end">
          <div class="d-flex flex-column gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">Contribute to saving pot</mat-label>
              <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <!-- Start date  -->
              <div class="w-100">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="savingPot" hideSingleSelectionIndicator>
                      @for (saving of clientSavings; track saving) {
                        <mat-option [value]="saving.id">{{ saving.name }}</mat-option>
                        }
                    </mat-select>
                  </div>
                  <!-- Error  -->
                  <!-- <span class="field-error d-block">Start is required</span> -->
                  <!-- End Error  -->

                </div>
              </div>
            </div>
            <!-- <div class="d-flex gap-8 align-items-center">
              <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
              <mat-label class="f-s-16 f-w-400 d-block withdrawals-info-text">To show contributions are added, you may
                also need to add a corresponding income.</mat-label>
            </div> -->
          </div>
        </div>

                @if(showStartEnd) {
          <div class="w-100 form-field gap-20">
            <div class="w-100 form-field gap-8">
              <mat-label class="f-s-16 f-w-400 d-flex gap-8 align-items-center">Escalation rate <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" /></mat-label>
               <div class="w-100 form-field">
                <div class="select-option">
                    <mat-select formControlName="escalationRate" (selectionChange)="onEscalationRateChange($event)">
                  @for (escalationRate of escalationRates; track escalationRate) {
                  <mat-option [value]="escalationRate.value">{{ escalationRate.description }}</mat-option>
                  }
                </mat-select>
                </div>
                @if(contributionForm.get('escalationRate')?.touched &&
                contributionForm.get('escalationRate')?.hasError('required')) {
                <!-- <span class="field-error d-block">Escalation Rate is required</span> -->
              <span class="field-error d-block">{{'Required' | translate}}</span>

                }
              </div>
            </div>
          
          @if(selectedEscalationDescription === 'Increases at custom rate') {
          <div class="w-100 form-field gap-8">
            <mat-label class="f-s-16 d-block">Custom escalation rate</mat-label>

              <mat-form-field  appearance="outline" class="w-full w-100 percentage-icon">
              <span matSuffix>%</span> 
                <input
                               matInput
                type="number"
                formControlName="customEscalationRate"
                placeholder="0"
          
                            />
                            
              </mat-form-field>

            
            @if(contributionForm.get('customEscalationRate')?.touched &&
                contributionForm.get('customEscalationRate')?.hasError('required')) {
              <!-- <span class="field-error d-block">Custom escalation rate is required</span> -->
              <span class="field-error d-block">{{'Required' | translate}}</span>

            }
          </div>
        }
          </div>
        }

        <section class="example-section">
  <mat-checkbox
    type="checkbox"
    id="commissions"
    formControlName="commissions"
    (change)="isCommissionsChanged(contributionForm.get('commissions')?.value)"
  >
    Add commission
  </mat-checkbox>
</section>

@if (contributionForm.get('commissions')?.value) {
  <div class="d-flex flex-column gap-12 ">
    <div class="d-flex gap-8 align-items-center">
      <mat-label class="f-s-16 f-w-400 d-block">Commission percentage</mat-label>
      <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
    </div>
    <div class="w-100 form-field input-container">
      <mat-form-field appearance="outline" class="w-full w-100 percentage-icon">
        <span matSuffix>%</span>
        <input matInput type="number" placeholder="0" formControlName="commissionPercentage" />
      </mat-form-field>
      @if (contributionForm.get('commissionPercentage')?.touched &&
            contributionForm.get('commissionPercentage')?.hasError('required')) {
        <!-- <span class="field-error d-block">Commission percentage is required</span> -->
              <span class="field-error d-block">{{'Required' | translate}}</span>

      }
    </div>
  </div>
}


              <!-- <mat-checkbox type="checkbox" id="commissions"
              (change)="isCommissionsChanged(savingsForm.get('commissions')?.value)" formControlName="commissions">Add commissions</mat-checkbox>
      </section> -->
      </div>
    </mat-dialog-content>
    <!-- End Modal Body  -->

    <!-- Modal Action Button  -->
    <div class="row justify-content-between modal-action">
      <div class="col-5">
        <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
          <span class="f-s-16">{{ 'Cancel' | translate }}</span>
        </button>
      </div>
      <div class="col-5">
        <button (click)="addIncome()" type="button" [disabled]="contributionForm.invalid"  class="button-icon w-100 d-block">
          <span class="f-s-16">{{isEditWorkflow ? 'Update' : 'Add'}} contribution</span>
        </button>
      </div>
    </div>
    <!-- End Modal Action Button  -->
  </div>
</div>
<!-- End Add Expense -->