.cashflow-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  // padding: 16px 0;
  flex-wrap: wrap;
}

.cashflow-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #5a596e;
  transition: color 0.2s;

  &:hover {
    color: #4043af;
  }
  // &:hover {
  //   .nav-icon {
  //     background-color: #4043af;
  //     transition: ease-in-out all 0.2s;
  //   }
  // }

  &.active .nav-label {
    color: #4043af;
    font-weight: 500;
  }
}

.nav-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e7e7eb;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    // width: 24px;
    // height: 24px;
  }

  &.active,
  .cashflow-nav-item.active & {
    background: #4043af;
    border-color: #4043af;

    // img {
    //   filter: brightness(0) invert(1);
    // }
  }
}

.nav-label {
  font-size: 16px;
  font-weight: 500;
}

// .ibr-nav-divider {
//   // width: 1px;
//   flex: 1 1 0;
//   height: 1px;
//   background: #0000001a;
//   margin-left: 20px;
//   margin-right: 20px;
//   margin-top: -20px;
//   align-self: center;
// }

.ibr-nav-divider {
  position: absolute;
  top: 24px;
  width: 95%;
  height: 1px;
  background: #00000007;
  z-index: -1;
}
