.apexcharts-text .apexcharts-xaxis-label {
    text-anchor: start !important;
  }
  /* styles.scss */



.apexcharts-tooltip .savings-tooltip__body {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.apexcharts-tooltip .savings-tooltip__label {
  font-weight: 500;
    display: inline-flex;
  align-items: center;
}

.apexcharts-tooltip .savings-tooltip__value {
  font-weight: 700;
}



