.protection-center {
  .dot {
    height: 8px;
    width: 8px;
    border-radius: 100px;
    background-color: green;

    &.red {
      background-color: red;
    }
  }

  .dot-red {
    height: 8px;
    width: 8px;
    border-radius: 100px;
    background-color: red;
  }

  .summary-card {
    .status-container {
      padding: 16px 24px;
      .tag {
        background-color: white;
        border-radius: 10000px;
        padding: 10px 12px;
        .label-tag {
          color: #a6abb2;
          font-size: 14px;
          line-height: 16px;
        }
        .dynamic-color {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }

    overflow: hidden;
    border-radius: 4px;
    height: 100%;

    button {
      border: none;
      background: none;
      // color: #8d8d8d;
      border-radius: 100px;
      // height: 35px;
      // width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-family: "Ubuntu", serif;

      mat-icon {
        font-size: 20px;
        margin-top: 2px;
      }

      &:hover {
        background-color: #e9edf131;
      }

      &.hide-button {
        border-radius: 4px;
        border: 1px solid #e2e8f0;
        padding: 6px 10px;
        width: auto;
        height: inherit;
        font-size: 12px;
        margin-right: 5px;
      }
    }

    .info-container {
      padding: 0px 24px;
      .info-wrapper {
        padding: 24px 0 16px 0;
        border-bottom: 1px solid #0000001a;
      }
      .inner-information {
        .label {
          font-size: 14px;
          font-weight: 400;
          color: #5a596e;
          line-height: 16px;
        }
        .sub-label {
          font-size: 18px;
          font-weight: 500;
          color: #1c1c1c;
          line-height: 24px;
        }
      }
      .not-cover-label {
        font-size: 18px;
        line-height: 22px;
        color: #1c1c1c;
        font-weight: 500;
      }
    }

    .simulate-button {
      background-color: white;
      color: #ff383c;
      padding: 10px 12px;
      line-height: 16px;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        background-color: #ffffff !important;
        border: 1px solid #0000001a;
      }
    }
  }
}

.summary-card .label {
  font-size: 14px;
  color: #555;
}

.summary-card .value {
  font-size: 24px;
  font-weight: 500;
  margin-top: 4px;
}

.summary-card .value.text-danger {
  color: #ff383c;
}

.danger-outline {
  border: 1px solid #f8d7da !important;
  background: #fff5f5;
}

.item-card {
  border-radius: 12px;
  // padding: 20px;
}

.health-card {
  background: #fffbeb;
  border: 1px solid #fee685 !important;
}

.will-done-text {
  color: #166A41;
}

.card-header {
  height: 52px;
  padding: 6px 16px;
}
.danger-header-card {
  background-color: #ff383ccc;
  backdrop-filter: blur(75px);
}
.danger-card {
  // background: #fff1f2;
  // border: 1px solid #ffccd3 !important;
  background-color: #ffededb2;
  backdrop-filter: blur(124px);
  border: 0px solid transparent !important;
}

.basic-header-card {
  background-color: #E1B025cc;
  backdrop-filter: blur(75px);
}
.basic-card {
  background-color: #fef6e0b2;
  backdrop-filter: blur(124px);
  border: 0px solid transparent !important;
}

.good-header-card {
  background-color: #09AC65cc;
  backdrop-filter: blur(75px);
}
.good-card {
  background-color: #e2f9edb2;
  border: 0px solid transparent !important;
  backdrop-filter: blur(124px);
}

.excellent-header-card {
  background-color: #166A41cc;
  backdrop-filter: blur(75px);
}
.excellent-card {
  background-color: #e0f0e7b2;
  backdrop-filter: blur(124px);
  border: 0px solid transparent !important;
}

// .card-title {
//   font-size: 18px;
//   font-weight: 500;
// }

.hide-btn {
  font-size: 12px;
  padding: 0;
}

.divider {
  width: 1.5px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #e7e7eb;
}

.saving-title {
  font-size: 24px;
  line-height: 30px;
  color: #1c1c1c;
  font-weight: 700;
  font-family: "Ubuntu" !important;

  &.saving-below-number {
    color: red;
  }
}

.income-expense-wrapper {
  .card-title {
    font-size: 18px;
    line-height: 19px;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 5px;
    // &.expense-income{
    //       color: #71bc42;
    // }
    // &.expenses-deduct{
    // color: #ff4444;
    // }
    // &.expenses-total{
    // color: #4043af;
    // }
  }
}

.ibernia-red {
  color: #ff383c !important;
}

.ibernia-orange {
  color: #E1B025cc !important;
}

.ibernia-light-green {
  color: #09AC65cc !important;
}

.ibernia-dark-green {
  color: #166A41cc !important;
}

// New style

.statistics-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.ibr-card-title {
  font-weight: 400;
  color: #5a596e;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.saving-title-new {
  font-weight: 500;
  color: #1c1c1c;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.gauge-wrapper {
  flex: 1;
  display: flex;
  align-items: baseline;
  gap: 12px;
  width: 100%;
  max-width: 328px;
}
.gauge-background {
  background-color: white;
  border-radius: 50px;
  flex: 1;
  height: 16px;
  width: 100%;
}
.gauge-progress {
  height: 100%;
  border-radius: 50px;
  transition:
    width 0.4s ease,
    background-color 0.4s ease;
}
.gauge-text {
  font-size: 40px;
  font-weight: 700;
  line-height: none;
  display: flex;
  align-items: baseline;
  .gauge-total {
    font-weight: 500;
    font-size: 24px;
    line-height: none;
  }
}

.statistics-right-section {
  border-left: 1px solid #0000001a;
  padding: 8px 0 8px 16px;
}

// Protection Section

.protection-center-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.ibr-new-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: white;
}
