.protection-center {
  .card-em-outer {
    width: calc((100% - 20px) / 3);
    min-height: 161px;
  }

  .dot {
    height: 8px;
    width: 8px;
    border-radius: 100px;
    background-color: green;

    &.red {
      background-color: red;
    }
  }

  .dot-red {
    height: 8px;
    width: 8px;
    border-radius: 100px;
    background-color: red;
  }

  .summary-card {

    .w-50 {
      width: 50%;
    }

    padding: 15px;
    border-radius: 4px;
    height:100%;

    button {
      border: none;
      background: none;
      color: #8d8d8d;
      border-radius: 100px;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-family: "Ubuntu", serif;

      mat-icon {
        font-size: 20px;
        margin-top: 2px;
      }

      &:hover {
        background-color: #e9edf1;

      }

      &.hide-button {
        border-radius: 4px;
        border: 1px solid #e2e8f0;
        padding: 6px 10px;
        width: auto;
        height: inherit;
        font-size: 12px;
        margin-right: 5px;
      }
    }

    .inner-information {
      line-height: normal;

      label {
        font-size: 14px;
        color: #747474;
      }
    }

    .simulate-button-section {
      margin-top: 33px; 
    }

    .simulate-button {
      border-radius: 4px;
      border: 1px solid #ffccd3 !important;
      padding: 6px 10px;
      font-size: 12px;
      margin-right: 5px;
      background: none;
      color: #ff0000;
      height: 35px;
      width: auto;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-family: "Ubuntu", serif;
      line-height: normal;
      font-size: 12px;
      font-weight: 500;

      mat-icon {
        font-size: 20px;
        margin-top: 2px;
      }

      &:hover {
        background-color: #fff1f2;
        cursor: pointer;
      }
    }
  }
}

.summary-card .label {
  font-size: 14px;
  color: #555;
}

.summary-card .value {
  font-size: 24px;
  font-weight: 500;
  margin-top: 4px;
}

.summary-card .value.text-danger {
  color: #c70036;
}

.danger-outline {
  border: 1px solid #f8d7da !important;
  background: #fff5f5;
}

.item-card {
  border-radius: 16px;
  padding: 20px;
}

.health-card {
  background: #fffbeb;
  border: 1px solid #fee685 !important;
}

.will-done-text {
  color: #006045;
}

.danger-card {
  background: #fff1f2;
  border: 1px solid #ffccd3 !important;
}

.basic-card {
  background-color: #fef3e4;
  border: 1px solid #f6ce98 !important;
}

.good-card {
  background-color: #ecfdf5;
  border: 1px solid #a4f4cf !important;
}

.excellent-card {
  background-color: #b6f6d9;
  border: 1px solid #59c996 !important;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
}

.hide-btn {
  font-size: 12px;
  padding: 0;
}

.divider {
  width: 1.5px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #e7e7eb;
}

.saving-title {
  font-size: 24px;
  line-height: 30px;
  color: #1c1c1c;
  font-weight: 700;
  font-family: "Ubuntu" !important;

  &.saving-below-number {
    color: red;
  }
}

.income-expense-wrapper {

  .card-title {
    font-size: 18px;
    line-height: 19px;
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 5px;
    // &.expense-income{
    //       color: #71bc42;
    // }
    // &.expenses-deduct{
    // color: #ff4444;
    // }
    // &.expenses-total{
    // color: #4043af;
    // }
  }
}

.ibernia-red {
  color: #ff0000 !important;
}

.ibernia-orange {
  color: #ff9902 !important;
}

.ibernia-light-green {
  color: #71bc42 !important;
}

.ibernia-dark-green {
  color: #00512C !important;
}