<!-- <mat-card class="cardWithShadow">
   <mat-card-content>
      <div class="d-flex justify-content-between">
     
         <div class="d-flex align-items-center gap-24">
         <div class="d-flex align-items-center gap-8">
            <img src="../../../assets/images/svgs/graph-.svg" width="20" alt="">
            <label>Inflation rate:</label>
            <img src="../../../assets/images/svgs/help-circle-icon.svg" alt="">
        </div>
            <div class="slider-customizer slider-wrapper">
               <mat-slider class="w-100">
                  <input value="30"  matSliderThumb>
               </mat-slider>
            </div>
            <div class="percentage-field">
               <div class="w-100 form-field">
                  <input style="width:65px ;" placeholder="No." value="8.5%" />
               </div>
            </div>
         </div>
         <button class="button-icon"><span>Compare models</span></button>
      </div>
   </mat-card-content>
</mat-card> -->