<div *ngIf="!isLoading; else loadingTpl" class="d-flex gap-24 flex-column">
  <mat-card class="mat-mdc-card mdc-card cardWithShadow">
    <mat-card-content class="mat-mdc-card-content">
      <div class="d-flex align-items-center justify-content-between w-100 gap-16 flex-wrap">
        <div class="d-flex align-items-center gap-16">
          <div class="icon-wrapper d-flex align-items-center justify-content-center">
            <img width="25" src="../../../assets/images/svgs/danger-square-icon-active.svg" alt="">
          </div>
          <div class="d-flex flex-column justify-content-between gap-4">
            <h4 class="page-title f-w-500">Risk & Insurance</h4>
            <span class="sub-title">{{clientData?.firstName}} {{clientData?.lastName}}</span>
          </div>
        </div>
          <div class="d-flex  gap-12 align-items-end">
              <img src="/assets/images/svgs/chart-histogram-two-icon.svg" alt="chart" />
              <span class="f-s-16 underline">{{getCashflowName()}}</span>
          </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="cardWithShadow">
    <mat-card-content style="padding: 28px 24px !important;">
      <div class="d-flex align-items-center gap-8 justify-content-between">
        <div class="income-expense-wrapper w-100">
          <div class="row justify-content-between" *ngIf="stats as s">
            <div class="col-3">
              <div class="d-flex flex-column gap-8">
                <div class="d-flex align-items-center gap-8">
                  <h3 class="card-title expense-income">  <img src="/assets/images/svgs/shield.svg" alt="chart" />    Total coverage</h3>
                </div>
                <h3 class="saving-title">
                  <span>{{clientData?.preferredCurrency | currencySymbol}}</span>{{s.emergenciesStats?.totalCoverage | number:'1.0-0'}}
                </h3>
              </div>
            </div>

            <div class="divider"></div>

            <div class="col-3">
              <div class="d-flex flex-column gap-8">
                <div class="d-flex align-items-center gap-8">
                  <h3 class="card-title expenses-deduct"><img src="/assets/images/svgs/will.svg" alt="chart" /> Total annual cost</h3>
                </div>
                <h3 class="saving-title"> <span>{{clientData?.preferredCurrency | currencySymbol}}</span>{{s.emergenciesStats?.totalCost | number:'1.0-0'}}
                </h3>
              </div>
            </div>

            <div class="divider"></div>

            <div class="col-3">
              <div class="d-flex flex-column gap-8">
                <div class="d-flex align-items-center gap-8">
                  <h3 class="card-title expenses-total"><img width="24" src="/assets/images/svgs/gauge.png" alt="chart" /> Protection score</h3>
                </div>
                <h3 class="saving-title" [ngClass]="getProtectionScoreCssClass(s.emergenciesStats?.protectionScore)"> {{s.emergenciesStats?.protectionScore}}/100</h3>
              </div>
            </div>

            <div class="divider"></div>

            <div class="col-2 align-items-center d-flex">
              <button style="height: auto;" (click)="onAddClick()" type="button" class="button-icon" style="margin-left: 27px; height: 0%;">
                <span>Add new</span>
                <img src="assets/images/svgs/add-icon.svg" alt="add-icon" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-mdc-card mdc-card cardWithShadow">
    <mat-card-content class="mat-mdc-card-content protection-center">
      <div class="d-flex gap-10 flex-wrap">

        <div class="card-em-outer" *ngFor="let e of filteredEmergencies; trackBy: trackById">
          <mat-card class="summary-card item-card cursor-pointer" (click)="onEditClick(e)" [ngClass]="getCardCssClass(e)">
            <div class="d-flex justify-content-between m-b-5">
              <div class="d-flex gap-10 align-items-center">
                <div [ngClass]="getDotClass(e)"></div>
                <img width="18" [src]="getIconName(e)" alt="">
                <span class="card-title">
                  {{ e.name || getTypeName(e.type) }}
                </span>
              </div>

              <div class="d-flex align-items-center">
                <button class="hide-button" mat-icon-button (click)="hideEmergency(e)">Hide</button>
                <button (click)="onEditClick(e); $event.stopPropagation()">
                  <img src="assets/images/svgs/pen-icon.svg" alt="pen-icon" style="height: 18px;"/>
                </button>
              </div>
            </div>

            <!-- Insurance -->
            @if(e.type === 1){
              <!-- covered -->
              <ng-container *ngIf="e.policyStatus === 1; else insuranceTemplate">
                <div class="d-flex m-b-10">
                  <div class="inner-information w-50">
                    <div class="label">Coverage</div>
                    <div class="f-w-500 f-s-14">
                      <span>{{clientData?.preferredCurrency | currencySymbol}}</span>{{e.coverage | number:'1.0-0'}}
                    </div>
                  </div>

                  <div class="inner-information">
                    <div class="label">Annual cost</div>
                    <div class="f-w-500 f-s-14">
                      <span>{{clientData?.preferredCurrency | currencySymbol}}</span>{{ calculateAnnualCost(e) | number:'1.0-0' }}
                    </div>
                  </div>
                </div>
                <div class="inner-information">
                  <div class="label m-b-5">Adequacy</div>
                  
                  <mat-button-toggle-group class="coverage-toggle-group" [value]="e.coverageAdequacy"
                    (change)="onCoverageAdequacyChange(e, $event.value)" aria-label="Coverage adequacy">
                    <mat-button-toggle *ngFor="let ca of coverageAdequacies" [value]="ca.id">
                      {{ ca.description }}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </ng-container>

              <!-- not covered -->
              <ng-template #insuranceTemplate>
                <div class="inner-information">
                  <div class="label">Status</div>
                  <div class="f-w-500 f-s-14"
                    [ngClass]="{ 'text-danger': e.policyStatus !== 1, 'text-success': e.policyStatus === 1 }">
                    Not covered
                  </div>
                </div>
                
                <!-- if insurance and not covered show simulation button -->
                <div class="inner-information">
                  <div class="simulate-button-section">
                    <button class="simulate-button" mat-icon-button (click)="simulateEmergency(e)">Simulate</button>
                  </div>
                </div>
              </ng-template>
            }

            <!-- Will -->
            @if(e.type === 2){
              <div class="inner-information">
                <div class="label">Status</div>
                <div class="f-w-500 f-s-14"
                  [ngClass]="{ 'text-danger': e.willStatus !== 1, 'will-done-text': e.willStatus === 1 }">
                  {{e.willStatus === 1 ? 'Done' : 'Not done' }}
                </div>
              </div>
            }
          </mat-card>
        </div>

        <div class="col-12" *ngIf="!isLoading && emergencies.length === 0">
          <p class="text-muted text-center my-4">
            No protection items added yet. Click <b>Add new</b> to get started.
          </p>
        </div>
      </div>

      <div class="d-flex align-items-center m-t-24 justify-content-center">
        <button *ngIf="hasHiddenEmergencies" class="btn-secondary" mat-stroked-button color="primary"
          (click)="showHiddenEmergencies()">
          <span>Show hidden</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loadingTpl>
  <div class="h-300">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>