<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
    <div class="d-flex align-items-center main-header-content">
      <h4 class="page-title f-w-500">{{ 'Admin Notifications' | translate }}</h4>
    </div>
  </mat-card-content>
</mat-card>

<div *ngIf="loading" class="p-20">{{ 'Loading...' | translate }}</div>

<mat-card *ngIf="!loading" class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
    <div class="d-flex justify-content-between align-items-center m-b-20">
      <h3 class="f-s-18 f-w-500 m-0">{{ 'Notifications' | translate }}</h3>
      <a mat-raised-button color="primary" routerLink="create">{{ 'Create notification' | translate }}</a>
    </div>
    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'Type' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.type }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>{{ 'Status' | translate }}</th>
        <td mat-cell *matCellDef="let row">
          <mat-chip [color]="getStatusColor(row.status)">{{ row.status }}</mat-chip>
        </td>
      </ng-container>
      <ng-container matColumnDef="channel">
        <th mat-header-cell *matHeaderCellDef>{{ 'Channel' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.channel }}</td>
      </ng-container>
      <ng-container matColumnDef="audienceType">
        <th mat-header-cell *matHeaderCellDef>{{ 'Audience' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.audienceType }}</td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>{{ 'Created' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.createdAt | date:'short' }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'Actions' | translate }}</th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button [routerLink]="['detail', row.id]" matTooltip="View">
            <mat-icon>visibility</mat-icon>
          </a>
          <button *ngIf="row.status === 'draft' || row.status === 'scheduled'" mat-icon-button (click)="send(row.id)" matTooltip="Send now">
            <mat-icon>send</mat-icon>
          </button>
          <button *ngIf="row.status === 'draft'" mat-icon-button (click)="delete(row.id)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">{{ 'No notifications' | translate }}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
