<div class="d-flex gap-24 flex-column">
        <mat-card class="cardWithShadow">
        <mat-card-content>
            <div class="d-flex flex-column gap-32 timeline-wrapper">
                <div class="card-main-wrapper">
                    <div class="d-flex align-items-center justify-content-between w-100 gap-16 flex-wrap">
                        <div class="d-flex align-items-center gap-16">
                            <!-- Icon  -->
                            <div class="icon-wrapper d-flex align-items-center justify-content-center">
                                <img width="24" src="assets/images/shapes/ai-filled.svg" alt="clock" />
                            </div>
                            <!-- End Icon  -->
                            <!-- headings  -->
                            <div class="d-flex flex-column justify-content-between gap-4">
                                <div class="d-flex align-items-center">
                                <h4 class="page-title f-w-500 m-r-4 f-s-30">AI Recommendations</h4>
                            <img width="22" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" class="m-t-4"
                                 matTooltip="Use this section to enter your client's key life events and financial goals.
These events will shape the cashflow forecast and can be linked to specific transactions such as incomes or expenses.
You may add new events to the timeline or adjust existing ones by dragging them to the appropriate position.">
                            </div>
                            <span class="sub-title">Demo client</span>
                            </div>
                            <!-- End headings  -->
                        </div>
                        <div class="d-flex  gap-12 align-items-end">
                            <img src="/assets/images/svgs/chart-histogram-two-icon.svg" alt="chart" />
                            <span class="f-s-16 underline">Cashflow Simulator #1</span>
                        </div>
                    </div>
                </div>

            </div>
        </mat-card-content>
    </mat-card>

    <!-- <mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
    <div class="d-flex justify-content-between">
        <div><button class="button button-secondary">Client notes for context</button></div>
        <div class="text-center">
        <button class="button-icon"><span>Generate recommendations</span></button>
            <span>Today: 0/5 used</span>
        </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
<img  src="assets/images/svgs/Info-icon.svg" alt="" class="m-r-5">

    </mat-card-content>
</mat-card> -->
</div>

