.ai-rec-sugg{
    border-bottom: 1px solid #e7e7eb;
    padding-bottom: 15px;
    margin-bottom: 15px;
    h3{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: inside;
        li{
            text-indent: -1.2em;   
            padding-left: 1.2em;   
        }
    }
}
.edit-rec-sugg{
    position: absolute;
    right: 20px;
    top: 10px;
    button{
    border: none;
    background: none;
    padding: 6px;
    border-radius: 4px;
    margin-right: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        &:hover{
            background-color: #f7f7f7;
        }
    }
}