.start-end-duration-hint {
  color: #787889;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: inline-block;
}

.start-end {
  .row {
    margin: 0 !important;
    .col-6 {
      padding: 0 !important;
      max-width: 45% !important;
      flex: 0 0 45% !important;
    }
  }
}

.withdrawals-info-text {
  color: #5e5e73;
  line-height: 100%;
}
