<!-- <p>add-Expense works!</p>
<button (click)="closeDialog()" type="button"></button> -->

<!--  Add Expense-->
<div class="w-100">
  <div class="d-flex flex-column gap-32">
    <!-- Modal Header  -->
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
      <h3>{{isEditWorkflow ? 'Update' : 'Add'}} a Withdrawal</h3>
      <button (click)="closeDialog()" type="button">
        <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
      </button>
    </div>
    <!-- End Modal Header  -->

    <!-- Modal Body  -->
    <mat-dialog-content>
      <div [formGroup]="withdrawalForm" class="d-flex flex-column gap-20">
        <!-- Description Field  -->
        <div class="w-100 form-field gap-12">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">Description</mat-label>
          <input matInput formControlName="description" placeholder="e.g. State Pension" />
          <!-- Error  -->
          <!-- <span class="field-error d-block">Name is required</span> -->
          <!-- End Error  -->
        </div>
        <!--End Description Field  -->

        <!-- Net Amount Field  -->
        <div class="d-flex flex-column gap-4 net-fields">
          <div class="d-flex flex-column gap-12">
            <mat-label class="f-s-16 d-block" style="line-height: 18px">Net amount</mat-label>
            <div class="net-field d-flex align-items-center">
              <!-- Currency Selector  -->
              <!-- <div class="left">
                <mat-select formControlName="currencySymbol" class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (country of countries; track country) {
                  @if(country.currencySymbol) {
                  <mat-option [value]="country.currencySymbol">{{
                    country.currencySymbol
                    }}</mat-option>

                  }
                  }
                </mat-select>
              </div> -->
              <!-- End Currency Selector  -->
              <!-- Price Field  -->
              <div class="w-100 form-field">
                <input matInput type="number" formControlName="amount" placeholder="0" />
              </div>
              <!-- End Price Field  -->
              <!-- End Type Field  -->
              <div class="right">
                <mat-select (valueChange)="onCycleValueChange($event)" value="Select" formControlName="cycle"
                  class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (cycle of cycles; track cycle) {
                  <mat-option [value]="cycle.id">{{ cycle.description }}</mat-option>
                  }
                </mat-select>
              </div>
              <!-- End Type Field  -->
            </div>
          </div>
          <!-- Error  -->
          <!-- <span class="field-error d-block">Amount is required</span> -->
          <!-- End Error  -->
        </div>
        <!-- End Net Amount Field  -->

        <!-- <div class="d-flex flex-column gap-8">
          <div class="w-100 form-field gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">Date</mat-label>
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="select-option">
              <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                @for (year of years; track year) {
                <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                }
              </mat-select>
            </div>
          </div>
        </div> -->

        <div class="start-end">
          <div class="d-flex flex-column gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">@if(showStartEnd) {Start & end} @else {Date}</mat-label>
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <!-- Start date  -->
              <div [className]="showStartEnd ? 'col-6' : 'w-100'">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                      <!-- <mat-icon matPrefix>expand_more</mat-icon> -->
                      @for (event of eventsList; track event) {
                      <mat-option [value]="event.start.year">{{ event.name }} ({{ event.start.age }})</mat-option>
                      }
                      <hr>
                      @for (year of years; let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(withdrawalForm.get('start')?.touched &&
                  withdrawalForm.get('start')?.hasError('required')) {
                  <span class="field-error d-block">Start is required</span>
                  }
                </div>
              </div>

              @if(showStartEnd) {
              <!-- Divider  -->
              <div class="d-flex justify-content-start align-items-start">
                <img src="assets/images/svgs/chevron-right-date-icon.svg" alt="chevron-right-date-icon" />
              </div>
              <!-- End date  -->
              <div class="col-6">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="end" hideSingleSelectionIndicator>
                      <!-- <mat-icon matPrefix>expand_more</mat-icon> -->
                      <!-- @for (event of eventsList; track event) {
                        <mat-option [value]="event.year">{{ event.name }} ({{ event.age }})</mat-option>
                        }
                        <hr> -->

                      @for (event of eventsList; track event) {
                      <mat-option [value]="event.start.year">{{ event.name }} ({{ event.start.age }})</mat-option>
                      }
                      <hr>
                      @for (year of years; let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(withdrawalForm.get('end')?.touched &&
                  withdrawalForm.get('end')?.hasError('required')) {
                  <span class="field-error d-block">End is required</span>
                  }
                </div>
              </div>
              }
            </div>
          </div>
        </div>

        <div class="start-end">
          <div class="d-flex flex-column gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">Withdraw from Savings Pot</mat-label>
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <!-- Start date  -->
              <div class="w-100">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="savingPot" hideSingleSelectionIndicator>
                      @for (saving of savingPots.clientSavings; track saving) {
                        <mat-option [value]="saving.id">{{ saving.name }}</mat-option>
                        }
                    </mat-select>
                  </div>
                  <!-- Error  -->
                  <!-- <span class="field-error d-block">Start is required</span> -->
                  <!-- End Error  -->

                </div>
              </div>
            </div>
            <div class="d-flex gap-8 align-items-center">
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
              <mat-label class="f-s-16 f-w-400 d-block withdrawals-info-text">To show withdrawals are spent, you may
                also need to add a corresponding expense.</mat-label>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <!-- End Modal Body  -->

    <!-- Modal Action Button  -->
    <div class="row justify-content-between modal-action">
      <div class="col-5">
        <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
          <span class="f-s-16">Cancel</span>
        </button>
      </div>
      <div class="col-5">
        <button (click)="addExpense()" type="button" class="button-icon w-100 d-block">
          <span class="f-s-16"> {{isEditWorkflow ? 'Update' : 'Add'}} Withdrawal</span>
        </button>
      </div>
    </div>
    <!-- End Modal Action Button  -->
  </div>
</div>
<!-- End Add Expense -->