<!--  Add Expense-->
<div class="w-100">
  <div class="d-flex flex-column gap-32">
    <!-- Modal Header  -->
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
      <h3>{{isEditWorkflow ? 'Edit' : 'Add'}} Withdrawal</h3>
      <button (click)="closeDialog()" type="button">
        <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
      </button>
    </div>
    <!-- End Modal Header  -->

    <!-- Modal Body  -->
    <mat-dialog-content>
      <div [formGroup]="withdrawalForm" class="d-flex flex-column gap-20">
        <!-- Description Field  -->
        <div class="w-100 form-field gap-8">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">Description</mat-label>
          <input matInput formControlName="description" placeholder="e.g. Monthly living expenses" />
          @if(withdrawalForm.get('description')?.touched &&
          withdrawalForm.get('description')?.hasError('required')) {
          <span class="field-error d-block">Required</span>
          }
        </div>

        <!-- Net Amount Field  -->
        <div class="d-flex flex-column gap-4 net-fields">
          <div class="d-flex flex-column gap-8">
            <mat-label class="f-s-16 d-block" style="line-height: 18px">Net amount</mat-label>
            <div class="net-field d-flex align-items-center">
              <div class="left  hide-arrow">
                <mat-select formControlName="currencySymbol" class="sortby-edit-profile" [disabled]="true"
                  hideSingleSelectionIndicator>
                  @for (country of countries; track country) {
                  @if(country.currencySymbol) {
                  <mat-option [value]="country.currencySymbol">{{ country.currencySymbol }}</mat-option>
                  }
                  }
                </mat-select>
              </div>
              <div class="w-100 form-field">
                <input matInput type="text" formControlName="amount"
                  [value]="withdrawalForm.get('amount')?.value | thousandSeparator" thousandSeparatorInput
                  (input)="onAmountInput($event.target.value)" placeholder="0" />
              </div>
              <div class="right">
                <mat-select (valueChange)="onCycleValueChange($event)" value="Select" formControlName="cycle"
                  class="sortby-edit-profile" hideSingleSelectionIndicator>
                  @for (cycle of cycles; track cycle) {
                  <mat-option [value]="cycle.id">{{ cycle.description }}</mat-option>
                  }
                </mat-select>
              </div>
            </div>
          </div>
        </div>

        <!-- Start/End -->
        <div class="start-end">
          <div class="d-flex flex-column gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">@if(showStartEnd) {Start & end} @else {Date}</mat-label>
              <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <div [className]="showStartEnd ? 'col-6' : 'w-100'">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                      @for (event of eventsList; track event) {
                      <mat-option [value]="event.start.year">{{ event.name }} ({{ event.start.age }})</mat-option>
                      }
                      <hr>
                      @for (year of years; let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(withdrawalForm.get('start')?.touched && withdrawalForm.get('start')?.hasError('required')) {
                  <!-- <span class="field-error d-block">Start is required</span> -->
                  <span class="field-error d-block">Required</span>

                  }
                </div>
              </div>

              @if(showStartEnd) {
              <div class="d-flex justify-content-start align-items-start">
                <img src="assets/images/svgs/chevron-right-date-icon.svg" alt="chevron-right-date-icon" />
              </div>
              <div class="col-6">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="end" hideSingleSelectionIndicator>
                      @for (event of eventsList; track event) {
                      <mat-option [value]="event.start.year">{{ event.name }} ({{ event.start.age }})</mat-option>
                      }
                      <hr>
                      @for (year of years; let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(withdrawalForm.get('end')?.touched && withdrawalForm.get('end')?.hasError('required')) {
                  <!-- <span class="field-error d-block">End is required</span> -->
                  <span class="field-error d-block">Required</span>

                  }
                  @if(withdrawalForm.get('end')?.touched && withdrawalForm.get('end')?.hasError('endBeforeStart')) {
                  <span class="field-error d-block">End year cannot be before start year</span>
                  }
                </div>
              </div>
              }
            </div>
          </div>
        </div>

        <!-- Withdraw from savings pot -->
        <div class="start-end">
          <div class="d-flex flex-column gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">Withdraw from saving pot</mat-label>
              <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <div class="w-100">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="savingPot" hideSingleSelectionIndicator>
                      @for (saving of savingPots.clientSavings; track saving) {
                      <mat-option [value]="saving.id">{{ saving.name }}</mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        @if(showStartEnd) {
        <div class="w-100 form-field gap-20">
          <div class="w-100 form-field gap-8 ">
            <mat-label class="f-s-16 f-w-400 d-flex gap-8 align-items-center">Escalation rate <img width="18"
                src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" /></mat-label>
            <div class="w-100 form-field">
              <div class="select-option">
                <mat-select formControlName="escalationRate" (selectionChange)="onEscalationRateChange($event)">
                  @for (escalationRate of escalationRates; track escalationRate) {
                  <mat-option [value]="escalationRate.value">{{ escalationRate.description }}</mat-option>
                  }
                </mat-select>
              </div>
              @if(withdrawalForm.get('escalationRate')?.touched &&
              withdrawalForm.get('escalationRate')?.hasError('required')) {
              <!-- <span class="field-error d-block">Escalation Rate is required</span> -->
              <span class="field-error d-block">Required</span>

              }
            </div>
          </div>


          @if(selectedEscalationDescription === 'Increases at custom rate') {
          <div class="w-100 form-field gap-8">
            <mat-label class="f-s-16 d-block">Custom escalation rate</mat-label>
            <mat-form-field appearance="outline" class="w-full w-100 percentage-icon">
              <span matSuffix>%</span>
              <input matInput type="number" formControlName="customEscalationRate" placeholder="Enter custom rate" />
            </mat-form-field>
            @if(withdrawalForm.get('customEscalationRate')?.touched &&
            withdrawalForm.get('customEscalationRate')?.hasError('required')) {
            <!-- <span class="field-error d-block">Custom escalation rate is required</span> -->
            <span class="field-error d-block">Required</span>

            }
          </div>
          }
        </div>
        }
      </div>
    </mat-dialog-content>

    <!-- Modal Action Button  -->
    <div class="row justify-content-between modal-action">
      <div class="col-5">
        <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
          <span class="f-s-16">Cancel</span>
        </button>
      </div>
      <div class="col-5">
        <button (click)="addExpense()" type="button" [disabled]="withdrawalForm.invalid"
          class="button-icon w-100 d-block">
          <span class="f-s-16">{{isEditWorkflow ? 'Update' : 'Add'}} Withdrawal</span>
        </button>
      </div>
    </div>
  </div>
</div>