<div class="flows-dialog">
  <div class="dialog-header">
    <h2 class="dialog-title" style="text-transform: none">
      {{ "Flows" | translate }}
    </h2>
    <button
      type="button"
      mat-icon-button
      disableRipple
      class="dialog-close-btn"
      mat-dialog-close
      aria-label="Close dialog"
      (click)="closeDialog()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="flows-dialog-content">
    <app-withdrawals-contributions></app-withdrawals-contributions>
  </mat-dialog-content>
</div>
