<!-- <div class="d-flex gap-24 flex-column"> -->
@if (!isLoaderVisible && financialTimeline && client) {
  <app-timeline-chart
    [financialTimeline]="financialTimeline"
    [financialRecords]="financialRecords"
    [clientBirthDate]="clientBirthDate"
    [client]="client"
    [planDuration]="selectedCashflow?.planDuration"
    [cashflowInflationRate]="selectedCashflow?.inflationRate ?? 0"
    (updateTimelines)="updateTimelinesEmittedEvent()"
  >
  </app-timeline-chart>
} @else {
  <mat-card class="ibr-new-dashboad-card timeline-skeleton">
    <mat-card-content>
      <div class="skeleton-chart">
        <mat-spinner diameter="40"></mat-spinner>
        <p class="loading-text">{{ 'Loading timeline...' | translate }}</p>
      </div>
    </mat-card-content>
  </mat-card>
}
<!-- </div> -->
