<div class="d-flex gap-24 flex-column">
    @if(!isLoaderVisible && financialTimeline) {

    <mat-card class="cardWithShadow">
        <mat-card-content>
            <div class="d-flex flex-column gap-32 timeline-wrapper">
                <div class="card-main-wrapper">
                    <div class="d-flex align-items-center justify-content-between w-100 gap-16 flex-wrap">
                        <div class="d-flex align-items-center gap-16">
                            <!-- Icon  -->
                            <div class="icon-wrapper d-flex align-items-center justify-content-center">
                                <img src="assets/images/svgs/clock-icon-filled.svg" alt="clock" />
                            </div>
                            <!-- End Icon  -->
                            <!-- headings  -->
                            <div class="d-flex flex-column justify-content-between gap-4">
                                <div class="d-flex align-items-center gap-4">
                                <h4 class="page-title f-w-500">Goals & Events</h4>
                            <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" class="m-t-4"
                                 matTooltip="Use this section to enter your client's key life events and financial goals.
These events will shape the cashflow forecast and can be linked to specific transactions such as incomes or expenses.
You may add new events to the timeline or adjust existing ones by dragging them to the appropriate position.">
                            </div>
                            <span class="sub-title">{{client.clientDetails.name}}</span>
                            </div>
                            <!-- End headings  -->
                        </div>
                        <div class="d-flex align-items-center gap-12">
                            <img src="/assets/images/svgs/chart-histogram-two-icon.svg" alt="chart" />
                            <span class="f-s-16">{{selectedCashflow?.name}}</span>
                        </div>
                    </div>
                </div>
                <!-- Date Fields  -->
                <div>
                    <div class="row justify-content-between align-items-end flex-nowrap">
                        <div class="col-6">
                            <div class="w-100 form-field gap-12">
                                <div class="d-flex gap-8 align-items-center">
                                    <mat-label class="f-s-16 f-w-400 d-block">Forecast start date:</mat-label>
                                    <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
                                </div>
                                <div class="position-relative">
                                    <!-- <input matInput [matDatepicker]="picker" formControlName="start_date"
                                    [value]="financialTimeline.forecastStartDate" />
                                <div class="date-picker-position">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                                        <mat-icon matDatepickerToggleIcon>
                                            <img src="assets/images/svgs/pen-icon.svg" alt="pen-icon" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                </div>
                                <mat-datepicker #picker></mat-datepicker> -->
                                    <div class="select-option">
                                        <mat-select [disabled]="!enableForecastEdit"
                                            (valueChange)="onForecastStartChange($event)"
                                            [value]="this.forecastStartYear" formControlName="start"
                                            hideSingleSelectionIndicator>
                                            <!-- <mat-icon matPrefix>expand_more</mat-icon> -->
                                            @for (year of forecastStartYears; let i = $index; track year) {
                                            <mat-option [value]="year">{{ year }} ({{ clientAge + i
                                                }})</mat-option>
                                            }
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-end">
                            <img src="assets/images/svgs/chevron-right-date-icon.svg" alt="chevron-right-date-icon" />
                        </div>
                        <div class="col-6">
                            <div class="w-100 form-field">
                                <div class="d-flex gap-8 align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <mat-label class="f-s-16 f-w-400 d-block">Forecast end date:</mat-label>
                                        <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon"
                                            class="m-l-2" />
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button [disabled]="true" mat-icon-button (click)="enableForecastEdit=!enableForecastEdit">
                                            <mat-icon>
                                                <img src="assets/images/svgs/pen-icon.svg" alt="pen-icon" />
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div class="position-relative">
                                    <!-- <input matInput [matDatepicker]="pickerend" formControlName="end_date"
                                    [value]="financialTimeline.forecastEndtDate" />
                                <div class="date-picker-position">
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerend">
                                        <mat-icon matDatepickerToggleIcon>
                                            <img src="assets/images/svgs/pen-icon.svg" alt="pen-icon" />
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                </div>
                                <mat-datepicker #pickerend></mat-datepicker> -->
                                    <div class="select-option">
                                        <mat-select [disabled]="!enableForecastEdit"
                                            (valueChange)="onForecastEndChange($event)" [value]="this.forecastEndYear"
                                            formControlName="start" hideSingleSelectionIndicator>
                                            <!-- <mat-icon matPrefix>expand_more</mat-icon> -->
                                            @for (year of forecastStartYears; let i = $index; track year) {
                                            <mat-option [value]="year">{{ year }} ({{ clientAge + i
                                                }})</mat-option>
                                            }
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if(enableForecastEdit) {
                    <div class="d-flex justify-content-end align-items-end flex-nowrap m-t-16">
                        <div>
                            <button (click)="onUpdateClicked()" type="button" class="button-icon">
                                <span>Update</span>
                            </button>
                        </div>
                    </div>
                    }
                </div>
                <!-- End Date Fields  -->
            </div>
        </mat-card-content>
    </mat-card>

    <app-timeline-chart [financialTimeline]="financialTimeline" [clientBirthDate]="clientBirthDate" [client]="client"
        (updateTimelines)="updateTimelinesEmittedEvent()"></app-timeline-chart>
    <!-- Event Section  -->

    }
    @else {
    <div class="h-300">
        <mat-spinner></mat-spinner>
    </div>
    }

    <!-- Event Section  -->
</div>

<!-- <app-add-event></app-add-event> -->