<div class="d-flex gap-24 flex-column">
    @if(!isLoaderVisible) {
    <mat-card class="cardWithShadow">
        <mat-card-content>
            <div class="d-flex align-items-center justify-content-between w-100 gap-16 flex-wrap">
                <div class="d-flex align-items-center gap-16">
                    <div class="icon-wrapper d-flex align-items-center justify-content-center">
                        <img src="assets/images/svgs/income-expense-ticket-icon.svg" alt="income-expense-ticket-icon" />
                    </div>
                    <div class="d-flex flex-column justify-content-between gap-4">
                        <div class="d-flex align-items-center gap-4">
                            <h4 class="page-title f-w-500">{{ 'Incomes & Expenses' | translate }}</h4>
                            <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" class="m-t-4"
                                matTooltip="{{ 'Input all regular and one-off income sources and expenses relevant to your client. These entries will feed directly into the cashflow model, influencing the projected financial outcomes. You may link transactions to specific events, and adjust timing or frequency as needed.' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <div class="income-expense-tables">
        <div class="row justify-content-between">
            <mat-card class="cardWithShadow w-100">
                <div class="row" style="padding: 16px;">
                    <div class="col-6">
                        <!-- left column -->
                        <mat-card class="income-expense-wrapper m-b-10">
                            <div class="heading-btn-wrapper">
                                <div class="d-flex align-items-center justify-content-between w-100 gap-16 flex-wrap">
                                    <div class="d-flex gap-12 align-items-end">
                                        <h3>{{ 'Incomes' | translate }}</h3>
                                        <h3 class="expense-income-green">
                                            +{{currency|currencySymbol}}{{currentYearIncomeSummary.totalIncome|thousandSeparator}}
                                        </h3>
                                    </div>

                                    <div class="d-flex gap-12 align-items-end">
                                        <button (click)="newIncomeClicked()" type="button" class="button-icon">
                                            <span class="f-s-16">{{ 'Add income' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        @for(displayItem of displayDefaultIncomes; track trackByDisplayIncomeId($index, displayItem); let i = $index) {
                        <mat-card-content class="m-b-10" style="padding: 0px;">
                            <div class="cashflow-drag-wrapper">
                                <div class="d-flex flex-column gap-20">
                                    <div class="flex-column d-flex gap-10" id="drag-boundary">
                                        <div class="d-flex justify-content-between align-items-center gap-12 dragable-card-wrapper">
                                            <div class="dragable-card d-flex align-items-center justify-content-between cursor-pointer"
                                                (click)="updateIncomeClicked(displayItem.income)">
                                                <div class="d-flex align-items-center gap-8">
                                                    <div class="stats-main-wrapper">
                                                        <div class="d-flex flex-column gap-8">
                                                            <div class="d-flex align-items-center gap-8">
                                                                @if(displayItem.income.amount.amount == 0) {
                                                                <img height="32px;" [src]="'/assets/images/svgs/' + displayItem.income.icon + '-gray.svg'" alt="income-icon" />
                                                                } @else {
                                                                <img height="32px;" [src]="'/assets/images/svgs/' + displayItem.income.icon + '-green.svg'" alt="income-icon" />
                                                                }
                                                                <h3 class="card-title card-title-margin">{{ displayItem.displayTitle ?? displayItem.income.description }}</h3>
                                                            </div>
                                                            <div class="d-flex align-items-center gap-10">
                                                                <h3 class="saving-title">
                                                                    @if(displayItem.income.amount.amount == 0) {
                                                                    <span class="paragraph-text">{{'Set amount' | translate}}</span>
                                                                    } @else {
                                                                    <h3 class="card-title">
                                                                        +{{displayItem.income.amount.currencySymbol|currencySymbol}}{{displayItem.income.amount.amount|thousandSeparator}}
                                                                        <span class="paragraph-text">/{{getCycle(displayItem.income.amount.cycle?.description)}}</span>
                                                                    </h3>
                                                                    }
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="menu" [className]="displayItem.income.description === 'Salary' || displayItem.income.description === 'Salary (Partner)' ? 'menu-top-margin-13' : 'menu-top-margin'">
                                                    <div [className]="displayItem.income.description === 'Salary' || displayItem.income.description === 'Salary (Partner)' ? 'd-flex align-items-center justify-content-end' : 'd-flex align-items-center justify-content-center'">
                                                        <button (click)="$event.stopPropagation(); $event.preventDefault()" mat-icon-button [matMenuTriggerFor]="menu">
                                                            <mat-icon><img src="assets/images/svgs/dropdown-detail.svg" alt="dropdown-detail" /></mat-icon>
                                                        </button>
                                                    </div>
                                                    <mat-menu #menu="matMenu" xPosition="before" class="dropdown-menus">
                                                        <button (click)="updateIncomeClicked(displayItem.income)" mat-menu-item>
                                                            <mat-icon><img src="assets/images/svgs/drop-down-edit-2-line.svg" alt="edit" height="24" width="24" /></mat-icon>
                                                            <span>{{ 'Edit' | translate }}</span>
                                                        </button>
                                                        <button (click)="deleteIncome(displayItem.income)" mat-menu-item>
                                                            <mat-icon><img src="assets/images/svgs/drop-down-delete-2-line.svg" alt="delete" height="24" width="24" /></mat-icon>
                                                            <span>{{ 'Delete' | translate }}</span>
                                                        </button>
                                                    </mat-menu>
                                                    @if((displayItem.income.description === 'Salary' || displayItem.income.description === 'Salary (Partner)') && hasBonusAmount(displayItem.income)) {
                                                    <div class="tile-bonus">
                                                        <h3 class="saving-title">
                                                            <h3 class="card-title">
                                                                <span class="span-header">Bonus:</span> +{{displayItem.income.bonus.amount.currencySymbol|currencySymbol}}{{displayItem.income.bonus.amount.amount|thousandSeparator}}
                                                                <span class="paragraph-text">/{{getCycle(displayItem.income.bonus.amount.cycle?.description)}}</span>
                                                            </h3>
                                                        </h3>
                                                    </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        }

                        <div class="row">
                            @for(income of incomes; track trackByIncomeId; let i = $index) {
                            <div class="col-6">
                                <mat-card-content class="m-b-10" style="padding: 0px;">
                                    <div class="cashflow-drag-wrapper">
                                        <div class="d-flex flex-column gap-20">
                                            <div class="flex-column d-flex gap-10" id="drag-boundary">
                                                <div
                                                    class="d-flex justify-content-between align-items-center gap-12 dragable-card-wrapper">
                                                    <div class="dragable-card d-flex align-items-center justify-content-between cursor-pointer"
                                                        (click)="updateIncomeClicked(income)">
                                                        <div class="d-flex align-items-center gap-8">
                                                            <div class="stats-main-wrapper">
                                                                <div class="d-flex flex-column gap-8">
                                                                    <div class="d-flex align-items-center gap-8">
                                                                        @if(income.amount.amount == 0)
                                                                        {
                                                                        <img height="32px;"
                                                                            [src]="'/assets/images/svgs/' + income.icon + '-gray.svg'"
                                                                            alt="income-icon" />
                                                                        }
                                                                        @else {
                                                                        <img height="32px;"
                                                                            [src]="'/assets/images/svgs/' + income.icon + '-green.svg'"
                                                                            alt="income-icon" />
                                                                        }
                                                                        <h3 class="card-title card-title-margin">
                                                                            {{income.description}}
                                                                        </h3>
                                                                    </div>
                                                                    <div class="d-flex align-items-center gap-10">
                                                                        <h3 class="card-title">
                                                                            +{{income.amount.currencySymbol|currencySymbol}}{{income.amount.amount|thousandSeparator}}
                                                                            <span
                                                                                class="paragraph-text">/{{getCycle(income.amount.cycle?.description)}}</span>
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @if(isEditableIncome(income.description)) {
                                                        <div class="menu menu-top-margin">
                                                            <div
                                                                class="d-flex align-items-center justify-content-center">
                                                                <button
                                                                    (click)="$event.stopPropagation(); $event.preventDefault()"
                                                                    mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <mat-icon>
                                                                        <img src="assets/images/svgs/dropdown-detail.svg"
                                                                            alt="dropdown-detail" />
                                                                    </mat-icon>
                                                                </button>
                                                            </div>
                                                            <mat-menu #menu="matMenu" xPosition="before"
                                                                class="dropdown-menus">
                                                                <button (click)="updateIncomeClicked(income)"
                                                                    mat-menu-item>
                                                                    <mat-icon>
                                                                        <img src="assets/images/svgs/drop-down-edit-2-line.svg"
                                                                            alt="drop-down-copy-2-line" height="24"
                                                                            width="24" />
                                                                    </mat-icon>
                                                                    <span>{{ 'Edit' | translate }}</span>
                                                                </button>
                                                                <button (click)="deleteIncome(income)" mat-menu-item>
                                                                    <mat-icon>
                                                                        <img src="assets/images/svgs/drop-down-delete-2-line.svg"
                                                                            alt="drop-down-copy-2-line" height="24"
                                                                            width="24" />
                                                                    </mat-icon>
                                                                    <span>{{ 'Delete' | translate }}</span>
                                                                </button>
                                                            </mat-menu>
                                                        </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </div>
                            }
                        </div>
                        <!-- end left column -->
                    </div>

                    <div class="col-6">
                        <!-- right column -->
                        <mat-card class="income-expense-wrapper m-b-10">
                            <div class="heading-btn-wrapper">
                                <div class="d-flex align-items-center justify-content-between w-100 gap-16 flex-wrap">
                                    <div class="d-flex gap-12 align-items-end">
                                        <h3>{{ 'Expenses' | translate }}</h3>
                                        <h3 class="expense-income-red">
                                            -{{currency|currencySymbol}}{{currentYearIncomeSummary.totalExpenses|thousandSeparator}}
                                        </h3>
                                    </div>

                                    <div class="d-flex gap-12 align-items-end">
                                        <button (click)="newExpenseClicked()" type="button"
                                            class="w-100 button-icon-outline">
                                            <span>{{ 'Add expense' | translate }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </mat-card>

                        @for(expense of defautExpenses; track trackByExpenseId; let i = $index) {
                        <mat-card-content class="m-b-10" style="padding: 0px;">
                            <div class="cashflow-drag-wrapper">
                                <div class="d-flex flex-column gap-20">
                                    <div class="flex-column d-flex gap-10" id="drag-boundary">
                                        <div class="d-flex justify-content-between align-items-center gap-12 dragable-card-wrapper"
                                            (click)="updateExpenseClicked(expense)">
                                            <div
                                                class="dragable-card d-flex align-items-center justify-content-between cursor-pointer">
                                                <div class="d-flex align-items-center gap-8">
                                                    <div class="stats-main-wrapper">
                                                        <div class="d-flex flex-column gap-8">
                                                            <div class="d-flex align-items-center gap-8">
                                                                @if(expense.amount.amount == 0)
                                                                {
                                                                <img height="32px;"
                                                                    [src]="'/assets/images/svgs/' + expense.icon + '-gray.svg'"
                                                                    alt="income-icon" />
                                                                }
                                                                @else {
                                                                <img height="32px;"
                                                                    [src]="'/assets/images/svgs/' + expense.icon + '-red.svg'"
                                                                    alt="income-icon" />
                                                                }
                                                                <h3 class="card-title card-title-margin">
                                                                    {{expense.description}}</h3>
                                                            </div>
                                                            <div class="d-flex align-items-center gap-10">
                                                                <h3 class="saving-title">
                                                                    @if(expense.amount.amount == 0)
                                                                    {
                                                                    <span class="paragraph-text">{{'Set amount' |
                                                                        translate}}</span>
                                                                    }
                                                                    @else {
                                                                    <h3 class="card-title">
                                                                        -{{expense.amount.currencySymbol|currencySymbol}}{{expense.amount.amount|thousandSeparator}}
                                                                        <span
                                                                            class="paragraph-text">/{{getCycle(expense.amount.cycle?.description)}}</span>
                                                                    </h3>
                                                                    }
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="menu menu-top-margin">
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <button
                                                            (click)="$event.stopPropagation(); $event.preventDefault()"
                                                            mat-icon-button [matMenuTriggerFor]="menu">
                                                            <mat-icon>
                                                                <img src="assets/images/svgs/dropdown-detail.svg"
                                                                    alt="dropdown-detail" />
                                                            </mat-icon>
                                                        </button>
                                                    </div>
                                                    <mat-menu #menu="matMenu" xPosition="before" class="dropdown-menus">
                                                        <button (click)="updateExpenseClicked(expense)" mat-menu-item>
                                                            <mat-icon>
                                                                <img src="assets/images/svgs/drop-down-edit-2-line.svg"
                                                                    alt="drop-down-copy-2-line" height="24"
                                                                    width="24" />
                                                            </mat-icon>
                                                            <span>{{ 'Edit' | translate }}</span>
                                                        </button>
                                                        <button (click)="deleteExpense(expense)" mat-menu-item>
                                                            <mat-icon>
                                                                <img src="assets/images/svgs/drop-down-delete-2-line.svg"
                                                                    alt="drop-down-copy-2-line" height="24"
                                                                    width="24" />
                                                            </mat-icon>
                                                            <span>{{ 'Delete' | translate }}</span>
                                                        </button>
                                                    </mat-menu>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        }

                        <div class="row">
                            @for(expense of expenses; track trackByExpenseId; let i = $index) {
                            <div class="col-6">
                                <mat-card-content class="m-b-10" style="padding: 0px;">
                                    <div class="cashflow-drag-wrapper">
                                        <div class="d-flex flex-column gap-20">
                                            <div class="flex-column d-flex gap-10" id="drag-boundary">
                                                <div
                                                    class="d-flex justify-content-between align-items-center gap-12 dragable-card-wrapper">
                                                    <div class="dragable-card d-flex align-items-center justify-content-between cursor-pointer"
                                                        (click)="updateExpenseClicked(expense)">
                                                        <div class="d-flex align-items-center gap-8">
                                                            <div class="stats-main-wrapper">
                                                                <div class="d-flex flex-column gap-8">
                                                                    <div class="d-flex align-items-center gap-8">
                                                                        @if(expense.amount.amount == 0)
                                                                        {
                                                                        <img height="32px;"
                                                                            [src]="'/assets/images/svgs/' + expense.icon + '-gray.svg'"
                                                                            alt="income-icon" />
                                                                        }
                                                                        @else {
                                                                        <img height="32px;"
                                                                            [src]="'/assets/images/svgs/' + expense.icon + '-red.svg'"
                                                                            alt="income-icon" />
                                                                        }

                                                                        <h3 class="card-title card-title-margin">
                                                                            {{expense.description}}
                                                                        </h3>
                                                                    </div>
                                                                    <div class="d-flex align-items-center gap-10">
                                                                        <h3 class="card-title">
                                                                            -{{expense.amount.currencySymbol|currencySymbol}}{{expense.amount.amount|thousandSeparator}}
                                                                            <span
                                                                                class="paragraph-text">/{{getCycle(expense.amount.cycle?.description)}}</span>
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @if(isEditableExpense(expense.description)) {
                                                        <div class="menu menu-top-margin">
                                                            <div
                                                                class="d-flex align-items-center justify-content-center">
                                                                <button
                                                                    (click)="$event.stopPropagation(); $event.preventDefault()"
                                                                    mat-icon-button [matMenuTriggerFor]="menu">
                                                                    <mat-icon>
                                                                        <img src="assets/images/svgs/dropdown-detail.svg"
                                                                            alt="dropdown-detail" />
                                                                    </mat-icon>
                                                                </button>
                                                            </div>
                                                            <mat-menu #menu="matMenu" xPosition="before"
                                                                class="dropdown-menus">
                                                                <button (click)="updateExpenseClicked(expense)"
                                                                    mat-menu-item>
                                                                    <mat-icon>
                                                                        <img src="assets/images/svgs/drop-down-edit-2-line.svg"
                                                                            alt="drop-down-copy-2-line" height="24"
                                                                            width="24" />
                                                                    </mat-icon>
                                                                    <span>{{ 'Edit' | translate }}</span>
                                                                </button>
                                                                <button (click)="deleteExpense(expense)" mat-menu-item>
                                                                    <mat-icon>
                                                                        <img src="assets/images/svgs/drop-down-delete-2-line.svg"
                                                                            alt="drop-down-copy-2-line" height="24"
                                                                            width="24" />
                                                                    </mat-icon>
                                                                    <span>{{ 'Delete' | translate }}</span>
                                                                </button>
                                                            </mat-menu>
                                                        </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </div>
                            }
                        </div>
                        <!-- right column -->
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    }
    @else {
    <div class="h-300">
        <mat-spinner></mat-spinner>
    </div>
    }
</div>
