<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="d-flex flex-column gap-32">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-16 event-main-wrapper">
                <div class="d-flex flex-column gap-6" style="flex-direction: column">
                    <h4 class="f-s-22 f-w-400">{{title}}</h4>
                    @if(!showOnReports) {
                        <p class="m-0">
                            Drag new events onto the timeline, or drag to re-arrange existing
                            events. <br />
                            The start and end date of transactions such as incomes can be
                            linked to events.
                        </p>
                    }
                </div>
                @if(!showOnReports) {
                    <button (click)="newEventClicked()" type="button" class="button-icon">
                        <span>New Event</span>
                        <img src="assets/images/svgs/add-icon.svg" alt="add-icon" />
                    </button>
                }
            </div>
            <div class="chips-custom">
                <mat-chip-set aria-label="Dog selection">
                    <!-- <mat-chip class="f-s-14" class="chip-item retirement-age">
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($event)" 
                        <div class="d-flex gap-8 align-items-center m-r-16">
                            <img matChipAvatar src="/assets/images/svgs/retirement-icon.svg"
                                alt="Photo of a Shiba Inu" />
                            Retirement Age
                        </div>
                        <img src="/assets/images/svgs/close-line-icon.svg" alt="remove" />
                    </mat-chip>
                    <mat-chip class="f-s-14" class="chip-item inheritance">
                        <div class="d-flex gap-8 align-items-center m-r-16">
                            <img matChipAvatar src="/assets/images/svgs/inheritance-icon.svg" alt="inheritance" />
                            Inheritance
                        </div>
                        <img src="/assets/images/svgs/close-line-icon.svg" alt="remove" />
                    </mat-chip>
                    <mat-chip class="f-s-14" class="chip-item birth">
                        <div class="d-flex gap-8 align-items-center m-r-16">
                            <img matChipAvatar src="/assets/images/svgs/cake-icon.svg" alt="birth" />
                            Birth
                        </div>
                        <img src="/assets/images/svgs/close-line-icon.svg" alt="remove" />
                    </mat-chip>
                    <mat-chip class="f-s-14" class="chip-item wedding">
                        <div class="d-flex gap-8 align-items-center m-r-16">
                            <img matChipAvatar src="/assets/images/svgs/wedding-heart-icon.svg" alt="heart" />
                            Wedding
                        </div>
                        <img src="/assets/images/svgs/close-line-icon.svg" alt="remove" />
                    </mat-chip>
                    <mat-chip class="f-s-14" class="chip-item mortality">
                        <div class="d-flex gap-8 align-items-center m-r-16">
                            <img matChipAvatar src="/assets/images/svgs/bed-icon.svg" alt="mortality" />
                            Mortality
                        </div>
                        <img src="/assets/images/svgs/close-line-icon.svg" alt="remove" />
                    </mat-chip>
                    <mat-chip class="f-s-14" class="chip-item state-pension">
                        <div class="d-flex gap-8 align-items-center m-r-16">
                            <img matChipAvatar src="/assets/images/svgs/state-pension-profile-icon.svg"
                                alt="state-pension" />
                            State Pension
                        </div>
                        <img src="/assets/images/svgs/close-line-icon.svg" alt="remove" />
                    </mat-chip> -->
                    @if(!showOnReports) {
                        @if(systemEventsLibrary) {
                        @for(systemEvent of systemEventsLibrary; track systemEvent) {
                        <mat-chip draggable="true" (dragend)="onDragEnd($event)" (dragstart)="onDragStart($event, systemEvent)" class="f-s-14"
                            class="chip-item" [class]="systemEvent.iconUrl">
                            <div class="d-flex gap-8 align-items-center m-r-16">
                                <img matChipAvatar [src]="'/assets/images/svgs/' + systemEvent.iconUrl + '.svg'"
                                    [alt]="systemEvent.iconUrl" />
                                <!-- [src]="'/assets/images/svgs/' + systemEvent.iconUrl  + '.svg'" -->
                                {{systemEvent.name}}
                            </div>
                            <img src="/assets/images/svgs/close-line-icon.svg" alt="remove" />
                        </mat-chip>
                        }
                        }
                    }
                </mat-chip-set>
            </div>
        </div>

        <div #timelineContainer class="timeline" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
            <div class="timeline-fields">
                <p>Age</p>
                <span>Year</span>
            </div>
            <!-- <div style="display: flex; height: 400px;"> -->
            <!-- Left Column with Static Labels -->
            <!-- <div style="width: 100px; background: #f3f3f3; padding: 10px; text-align: right;">
              <div style="position: absolute; top: 50px;">Label 1</div>
              <div style="position: absolute; top: 150px;">Label 2</div>
              <div style="position: absolute; top: 250px;">Label 3</div>
            </div> -->

            <!-- Timeline Container -->
            <!-- <div class="timeline-button d-flex flex-column gap-8">
                    <div>
                        <button (click)="toggleMoveable()" type="button">
                            <img src="assets/images/svgs/move-icon.svg" alt="move-icon" />
                        </button>
                    </div>
                    <div>
    
                        <button (click)="zoomIn()" type="button">
                            <img src="assets/images/svgs/zoom-in-icon.svg" alt="zoom-in-icon" />
                        </button>
                    </div>
                    <div>
                        <button (click)="zoomOut()" type="button">
                            <img src="assets/images/svgs/zoom-out-icon.svg" alt="zoom-out-icon" />
                        </button>
    
                    </div>
                </div> -->
            <!-- </div> -->
        </div>

        <!-- Chart  -->
        <!-- End Chart  -->
    </mat-card-content>
</mat-card>