<div class="d-flex gap-24 flex-column">
  @if(!isLoaderVisible) {
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="d-flex align-items-center justify-content-between w-100 gap-16 flex-wrap">
        <div class="d-flex align-items-center gap-16">
          <!-- Icon  -->
          <div class="icon-wrapper d-flex align-items-center justify-content-center">
            <img width="26" src="assets/images/svgs/discount-icon-filled.svg" alt="discount-icon-filled" />
          </div>
          <!-- End Icon  -->
          <!-- headings  -->
          <div class="d-flex flex-column justify-content-between gap-4">
            <div class="d-flex align-items-center gap-4">
              <h4 class="page-title f-w-500">Contributions & Withdrawals</h4>
              <!-- <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" class="m-t-4">
                -->

                       <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" class="m-t-4"
                                  matTooltip="Add all expected contributions to and withdrawals from your client’s savings pots throughout the forecast period.
Contributions will transfer funds from the client’s Current account to a selected Savings Pot.
Withdrawals will move funds from a Savings Pot back to the Current account to cover shortfalls.">
            </div>
            <span class="sub-title">{{selectedClient.clientDetails.firstName}} {{selectedClient.clientDetails.lastName}}</span>
          </div>
          <!-- End headings  -->
        </div>
        <div class="d-flex  gap-12">
          <img src="/assets/images/svgs/chart-histogram-two-icon.svg" alt="chart" />
          <span class="f-s-16 underline">{{selectedCashflow.name}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="income-expense-tables">
    <div class="row justify-content-between">
      <div class="col-6">
        <!-- Left Table Income -->
        <mat-card class="clientTableContainer">
          <div class="heading-btn-wrapper">
            <div class="d-flex flex-column gap-12">
              <h3>Contributions</h3>
              <button (click)="newContributionClicked()" type="button" class="w-100 button-icon">
                <span class="f-s-16">Add contribution</span>
              </button>
            </div>
          </div>
          <!-- Table Wrapper  -->
          <div class="table-main-wrapper">
            <div class="table-responsive-sm table-wrapper">
              <table mat-table [dataSource]="contributionDataSource" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0 column-client">Description
                  </th>
                  <td mat-cell *matCellDef="let element" class="p-x-24 f-s-14 p-l-0 column-client">
                    {{element.description}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0 column-net-amount">Net amount
                  </th>
                  <td mat-cell *matCellDef="let element" class="p-x-24 f-s-14 p-l-0 column-net-amount">
                    {{element.amount.currencySymbol | currencySymbol}}{{element.amount.amount}}/{{element.amount.cycle.description}}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0 column-action"></th>
                  <td mat-cell class="column-action" *matCellDef="let element">
                    <div class="d-flex align-items-center justify-content-center">
                      <button (click)="$event.stopPropagation(); $event.preventDefault()" mat-icon-button
                        [matMenuTriggerFor]="menu">
                        <mat-icon>
                          <img src="assets/images/svgs/dropdown-detail.svg" alt="dropdown-detail" />
                        </mat-icon>
                      </button>
                    </div>
                    <mat-menu #menu="matMenu" xPosition="before" class="dropdown-menus">
                      <button (click)="updateContributionClicked(element)" mat-menu-item>
                        <mat-icon>
                          <img src="assets/images/svgs/drop-down-edit-2-line.svg" alt="drop-down-copy-2-line"
                            height="24" width="24" />
                        </mat-icon>
                        <span>Edit</span>
                      </button>
                      <button (click)="deleteContribution(element)" mat-menu-item>
                        <mat-icon>
                          <img src="assets/images/svgs/drop-down-delete-2-line.svg" alt="drop-down-copy-2-line"
                            height="24" width="24" />
                        </mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>


            </div>
          </div>
          <!-- End Table Wrapper  -->
        </mat-card>
        <!-- End Left Table Income -->
      </div>
      <div class="col-6">
        <!-- Right Table Income -->
        <mat-card class="clientTableContainer">
          <div class="heading-btn-wrapper">
            <div class="d-flex flex-column gap-12">
              <h3>Withdrawals</h3>
              <button (click)="newWithdrawalClicked()" type="button" class="w-100 button-icon-outline">
                <span>Add withdrawal</span>
              </button>
            </div>
          </div>
          <!-- Table Wrapper  -->
          <div class="table-main-wrapper">
            <div class="table-responsive-sm table-wrapper">
              <table mat-table [dataSource]="withdrawalDataSource" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0 column-client">Description
                  </th>
                  <td mat-cell *matCellDef="let element" class="p-x-24 f-s-14 p-l-0 column-client">
                    {{element.description}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0 column-net-amount">Net amount
                  </th>
                  <td mat-cell *matCellDef="let element" class="p-x-24 f-s-14 p-l-0 column-net-amount">
                    {{element.amount.currencySymbol | currencySymbol}}{{element.amount.amount}}/{{element.amount.cycle.description}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef
                    class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0 column-action"></th>
                  <td mat-cell class="column-action" *matCellDef="let element">
                    <div class="d-flex align-items-center justify-content-center">
                      <button (click)="$event.stopPropagation(); $event.preventDefault()" mat-icon-button
                        [matMenuTriggerFor]="menu">
                        <mat-icon>
                          <img src="assets/images/svgs/dropdown-detail.svg" alt="dropdown-detail" />
                        </mat-icon>
                      </button>
                    </div>
                    <mat-menu #menu="matMenu" xPosition="before" class="dropdown-menus">
                      <button (click)="updateWithdrawalClicked(element)" mat-menu-item>
                        <mat-icon>
                          <img src="assets/images/svgs/drop-down-edit-2-line.svg" alt="drop-down-copy-2-line"
                            height="24" width="24" />
                        </mat-icon>
                        <span>Edit</span>
                      </button>
                      <button (click)="deleteWithdrawal(element)" mat-menu-item>
                        <mat-icon>
                          <img src="assets/images/svgs/drop-down-delete-2-line.svg" alt="drop-down-copy-2-line"
                            height="24" width="24" />
                        </mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>


            </div>
          </div>
          <!-- End Table Wrapper  -->
        </mat-card>
        <!-- End Right Table Income -->
      </div>
    </div>
  </div>
  }
  @else {
  <div class="h-300">
    <mat-spinner></mat-spinner>
  </div>
  }
</div>