.income-expense-wrapper {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  gap: 24px;
  // flex: 1;
  // .row {
  //   margin: 0 !important;
  //   .col-3 {
  //     padding: 0;
  //     // background-color: #ff00001c;
  //     flex: 0 0 22.5%;
  //     max-width: 22.5%;
  //   }
  // }
  .card-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    &.expenses-deduct {
      color: #ff383c;
    }
    &.expenses-total {
      color: #4043af;
    }
  }
  .saving-title {
    font-size: 24px;
    line-height: 30px;
    // color: #1c1c1c;
    font-weight: 700;
    span {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .expense-income {
    color: #34c759;
  }
  .green {
    color: #34c759;
  }
  .red {
    color: #ff383c;
  }
  .divider {
    // width: 1.5px;
    // margin-left: 12px;
    // margin-right: 12px;
    background-color: #cbcbcb;
  }
}
.income-expense-tables {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
// Table Style
/* General Table Styling */
table {
  width: 100%;
  border-collapse: collapse; /* Ensures consistent spacing between cells */
}

/* Detail Row Styling */
tr.example-detail-row {
  background-color: #f9f9f9;
}

.example-detail-row td {
  padding: 8px !important; /* Matches padding of the regular rows for consistency */
  font-size: 14px;
  color: #333; /* Text color */
  border: none; /* Matches table border styling */
}

/* Styling Regular Rows */
.example-element-row td {
  border-bottom: 0; /* Removes bottom border when expanded */
}

.example-element-row:not(.example-expanded-row):hover {
  background-color: #f1f1f1; /* Subtle hover effect */
}

.example-element-row:not(.example-expanded-row):active {
  background-color: #e8e8e8; /* Subtle active row effect */
}

.mat-mdc-header-row {
  background: #f7fbff !important;
}
.table-wrapper {
  overflow-x: auto;
  border-radius: 12px;
}

.column-expand {
  min-width: 36px;
  padding: 10px 8px !important;
}

.column-client {
  &.mdc-data-table__cell {
    color: #1c1c1c !important;
  }
  min-width: 295px;
  color: #3a3a47;
  padding: 10px 16px !important;
}

.column-net-amount {
  &.mdc-data-table__cell {
    color: #48475d !important;
  }
  min-width: 110px;
  color: #3a3a47;
  padding: 10px 16px !important;
  font-family: "Ubuntu" !important;

  // @media (max-width: 768px) {
  //   min-width: 10px;
  // }
}

.column-action {
  // width: 10%;
  min-width: 40px;
  padding: 10px 8px !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: transparent;
}

.mat-mdc-row:nth-child(odd) {
  background-color: transparent;
}
.mat-mdc-header-cell {
  border-bottom-color: #e7e7eb !important;
}
.mat-mdc-cell {
  border-bottom-color: #f7f7f7 !important;
}
.mat-mdc-row {
  transition: background-color 0.3s ease;
}

.clientTableContainer {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none;
  padding: 24px;
}

// Table Heading
.heading-btn-wrapper {
  padding-bottom: 20px;
  h3 {
    color: #1c1c1c;
    font-size: 24px;
    // line-height: 36px;
    font-weight: 700;
  }
  p {
    margin: 0;
  }
}
// End Table Heading

.ibr-card-title {
  font-weight: 400;
  color: #5a596e;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.ibr-primary-dark-gray {
  color: #5a596e;
}
