::ng-deep .mat-mdc-dialog-surface {
  border-radius: 12px !important;
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
}

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.dialog-header {
  position: relative;
  flex: 0 0 auto;
}

.dialog-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #1c1c1c;
  margin: 0;
}

.dialog-content.mat-mdc-dialog-content {
  margin-top: 28px;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.dialog-form-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;

  .ibr-black {
    color: #1c1c1c;
  }
}

.custom-select {
  position: relative;

  .custom-arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #787889;
  }
}

.dialog-actions.mat-mdc-dialog-actions {
  padding: 24px 0 0 0 !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  flex: 0 0 auto;
}

.preferences-onboarding-hint {
  flex: 0 0 auto;

  p {
    color: #5a596e;
    font-weight: 400;
    font-size: 14px;
  }
  img{
    width: 16px;
  }
}

.preferences-onboarding-cta {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;
}
