<div class="add-client-wrapper">
  <div class="add-client-content-wrapper p-t-10">

<form [formGroup]="form" (ngSubmit)="submit()">

    <h1 class="f-s-30 f-w-500 m-0 m-b-30 p-b-15">{{ 'Your account preferences' | translate }}</h1>
  <div class="container" formGroupName="preferences">

    <div class="preferences-onboarding-grid">
      <div class="preferences-field">
        <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Country' | translate }}

            <img src="assets/images/svgs/help-circle-icon.svg"
             alt="help-circle-icon"
              width="18"
             class="m-l-4 cursor-pointer"
             [matTooltip]="'TOOLTIP.DEFAULT_CURRENCY' | translate">

        </mat-label>
        <mat-form-field appearance="outline" class="w-full w-100">
          <mat-select formControlName="country" [placeholder]="'Select country' | translate"
                      (valueChange)="clientCountryValueChange($event)">
            @for (country of countries; track country) {
              @if (country.currencySymbol) {
                <mat-option [value]="country.countryName">{{ country.countryName }}</mat-option>
              }
            }
          </mat-select>
                    <mat-error *ngIf="p.country.hasError('required')">{{'Required' | translate}}</mat-error>
        </mat-form-field>
      </div>

      <div class="preferences-field">
        <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Currency' | translate }}
         <img src="assets/images/svgs/help-circle-icon.svg"
             alt="help-circle-icon"
              width="18"
             class="m-l-4 cursor-pointer"
             [matTooltip]="'TOOLTIP.DEFAULT_CURRENCY' | translate">

        </mat-label>

        <mat-form-field appearance="outline" class="w-full w-100">
          <mat-select formControlName="currency"  hideSingleSelectionIndicator>
            @for (country of countries; track country) {
              @if (country.currencySymbol) {
                <mat-option [value]="country.currencySymbol">{{ country.currencySymbol }}</mat-option>
              }
            }
          </mat-select>
          <mat-error *ngIf="p.currency.invalid">{{'Required' | translate}}</mat-error>
        </mat-form-field>
      </div>

      <div class="preferences-field">
        <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Language' | translate }}
          <img src="assets/images/svgs/help-circle-icon.svg"
               alt="help-circle-icon"
               width="18"
               class="m-l-4 cursor-pointer"
               [matTooltip]="'TOOLTIP.LANGUAGE' | translate">
        </mat-label>
        <mat-form-field appearance="outline" class="w-full w-100">
          <mat-select formControlName="language" (selectionChange)="onLanguageChange($event.value)">
            @for (lang of languages; track lang.value) {
              <mat-option [value]="lang.value">{{ lang.label }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="p.language.invalid">{{'Required' | translate}}</mat-error>
        </mat-form-field>
      </div>
    </div>

      <!-- Footer -->
   <div class="row preferences-onboarding-footer">
    <div class="col-12">
  <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
    <section class="example-section">
        <p class="d-flex align-items-center m-0">
            <img src="assets/images/svgs/Info-icon.svg" alt="" class="m-r-5">
            {{ 'PREFERENCES.CHANGE_LATER_HINT' | translate }}
        </p>
    </section>

    <button type="submit" class="button-icon pull-right" >
      <span *ngIf="!isSaving">{{ 'Finish and go to your dashboard' | translate }}</span>
      <span *ngIf="isSaving">{{ 'Saving…' | translate }}</span>
    </button>
  </div>
    </div>

   </div>
  </div>



</form>
  </div>

</div>

