<mat-card class="add-client-wrapper">
  <div class="add-client-content-wrapper">
    <app-breadcrumb
      [showBackIcon]="true"
      [routeForBack]="'/clients'"
      title="Add a new client"
    ></app-breadcrumb>
    <form [formGroup]="clientForm" class="add-client-form-wrapper">
      <div class="row justify-content-between">
        <div class="col-6">
          <div class="w-100 form-field">
            <mat-label class="f-s-14 f-w-600 d-block">Client Name</mat-label>
            <input matInput formControlName="name" />
            @if(clientForm.get('name')?.touched &&
            clientForm.get('name')?.hasError('required')) {
            <span class="field-error d-block">Name is required</span>
            }
          </div>
        </div>
        <div class="col-6">
          <div class="w-100 form-field">
            <!-- <div class="row"> -->
            <!-- <div class="col-sm-12 d-flex align-items-center"> -->
            <mat-label class="f-s-14 f-w-600 d-block">Date Of Birth</mat-label>
            <!-- </div> -->
            <!-- <div class="col-sm-12"> -->
            <!-- <mat-form-field appearance="outline" class="w-100"> -->
            <!-- <mat-label>Choose a date</mat-label> -->
            <div class="position-relative">
              <input matInput [matDatepicker]="picker" formControlName="dob" />
              <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
              <div class="date-picker-position">
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>
                    <img
                      src="assets/images/svgs/datepicker-icon.svg"
                      alt="datepicker-icon"
                    />
                  </mat-icon>
                </mat-datepicker-toggle>
              </div>
              <mat-datepicker #picker></mat-datepicker>
            </div>
            @if(clientForm.get('dob')?.touched &&
            clientForm.get('dob')?.hasError('required')) {
            <!-- <mat-error>Date Of Birth is required</mat-error> -->
            <span class="field-error d-block">Date Of Birth is required</span>
            }
          </div>
          <!-- </mat-form-field> -->
          <!-- <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="ACME Inc." />
                            </mat-form-field> -->
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-6">
          <div class="w-100 form-field">
            <mat-label class="f-s-14 f-w-600 d-block">Country</mat-label>
            <div class="select-option">
              <mat-select formControlName="country" value="Select">
                @for(country of allCountries; track country) {
                  @if(country.currencySymbol) {
                    <mat-option [value]="country.countryName">{{country.countryName}}</mat-option>
                  }
                }
              </mat-select>
            </div>
            <!-- <input matInput formControlName="country" /> -->
          </div>
        </div>
        <div class="col-6">
          <div class="w-100 form-field">
            <mat-label class="f-s-14 f-w-600 d-block"
              >Preferred Currency</mat-label
            >
            <div class="select-option">
              <!-- <mat-form-field appearance="outline" class="w-100"> -->
              <mat-select formControlName="currency" value="Select">
                @for(country of allCountries; track country) {
                  @if(country.currencySymbol) {
                    <mat-option [value]="country.currencySymbol">{{country.currencySymbol}}</mat-option>
                  }
                }
              </mat-select>
            </div>
            <!-- </mat-form-field> -->
          </div>
          <!-- <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="Male/Female" formControlName="gender"/>
                            </mat-form-field> -->
        </div>
      </div>
      <div class="checkbox-align d-flex flex-column gap-1">
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Email</mat-label>
              <input
                matInput
                placeholder="email@somedomain.com"
                formControlName="email"
              />
              @if(clientForm.get('email')?.hasError('email')) {
              <span class="field-error d-block">Invalid Email Address</span>
              }
            </div>
          </div>
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Telephone</mat-label>
              <input
                matInput
                placeholder="00000000000"
                formControlName="phone"
              />
            </div>
          </div>
        </div>
        <div class="checkbox-box">
          <div>
            <input
              type="checkbox"
              id="partner-section"
              (change)="togglePartnerSection(!showPartner)"
            />
          </div>
          <label for="partner-section">Add a partner or spouse</label>
        </div>
        <!-- <mat-checkbox
          class="example-margin"
          (change)="togglePartnerSection(!showPartner)"
          >Add a partner or spouse</mat-checkbox
        > -->
      </div>
      @if(showPartner) {
      <ng-container formGroupName="partner">
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Partner Name</mat-label>
              <input matInput formControlName="name" />
              @if(clientForm.get('partner.name')?.touched &&
              clientForm.get('partner.name')?.hasError('required')) {
              <span class="field-error d-block">Name is required</span>
              }
            </div>
          </div>
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block"
                >Date Of Birth</mat-label
              >
              <div class="position-relative">
                <input
                  matInput
                  [matDatepicker]="partnerPicker"
                  formControlName="dob"
                />

                <div class="date-picker-position">
                  <mat-datepicker-toggle matIconSuffix [for]="partnerPicker">
                    <mat-icon matDatepickerToggleIcon>
                      <img
                        src="assets/images/svgs/datepicker-icon.svg"
                        alt="datepicker-icon"
                      />
                    </mat-icon>
                  </mat-datepicker-toggle>
                </div>
                <mat-datepicker #partnerPicker></mat-datepicker>
              </div>
              @if(clientForm.get('partner.dob')?.touched &&
              clientForm.get('partner.dob')?.hasError('required')) {

              <span class="field-error d-block">Date Of Birth is required</span>
              }
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Country</mat-label>
  
              <div class="select-option">
                <mat-select formControlName="country" value="Select">
                  @for(country of allCountries; track country) {
                    @if(country.currencySymbol) {
                      <mat-option [value]="country.countryName">{{country.countryName}}</mat-option>
                    }
                  }
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">
                Preferred Currency</mat-label
              >
              <div class="select-option">
                <mat-select formControlName="currency" value="Select">
                  @for(country of allCountries; track country) {
                    @if(country.currencySymbol) {
                      <mat-option [value]="country.currencySymbol">{{country.currencySymbol}}</mat-option>
                    }
                  } 
                </mat-select>
              </div>
            </div>
          </div>
          <!-- <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Gender</mat-label>
              <div class="select-option">
                <mat-select formControlName="gender" value="Select">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
              </div>
            </div>
          </div> -->
        </div>
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Email</mat-label>
              <input
                matInput
                placeholder="email@somedomain.com"
                formControlName="email"
              />
              @if(clientForm.get('partner.email')?.hasError('email')) {
              <mat-error>Invalid Email Address</mat-error>
              }
            </div>
          </div>
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Telephone</mat-label>
              <input
                matInput
                placeholder="0000000000"
                formControlName="phone"
              />
            </div>
          </div>
        </div>
      </ng-container>
      }
      <div class="row justify-content-between">
        <div class="w-100 form-field">
          <mat-label class="f-s-14 f-w-600 d-block">Notes</mat-label>
          <input matInput formControlName="notes" />
        </div>
      </div>
      <div class="row justify-content-end client-submit-btn">
        <button
          mat-flat-button
          class="btn-submit"
          (click)="onAddNewClientClicked()"
          [disabled]="clientForm.invalid"
        >
          Add new client
        </button>
        <button
          mat-flat-button
          class="btn-submit"
          (click)="onSubmit()"
          [disabled]="clientForm.invalid"
        >
          Add new client and start the model
        </button>
      </div>
    </form>
  </div>
</mat-card>
