.upload-avatar-wrapper{
    border: 2px dashed #d5d5d5 ;
    padding: 15px;
    border-radius: 4px;
    width: 200px;
    margin-right: 20px;
    height: 170px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    small{
        color: #B7B6C2;
    }
}
.upload-file-info{
    width: 400px;
}
.main-header-content{
    .header-icon{
        margin-right: 10px;
    }
    h2{
        margin-bottom: 10px;
    }
}