<div class="d-flex flex-column">
  <div class="dialog-header">
    <h2 class="dialog-title text-center">{{ 'Add member' | translate }}</h2>
    <button
      type="button"
      mat-icon-button
      disableRipple
      class="dialog-close-btn"
      mat-dialog-close
      aria-label="Close dialog"
      (click)="onCancel()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="event-dialog-content">
    <form [formGroup]="form" class="d-flex flex-column gap-16">
      <div class="w-100 form-field gap-8">
        <mat-label
          class="f-s-16 f-w-500 d-block ibr-black"
          style="line-height: 16px"
          >{{ 'Relationship' | translate }}</mat-label
        >
        <div class="position-relative">
          <div class="w-100 form-field">
            <div class="select-option position-relative">
              <mat-select
                formControlName="role"
                class="sortby-edit-profile"
                hideSingleSelectionIndicator
              >
                @for (opt of roleOptions; track opt.value) {
                  <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
                }
              </mat-select>
              <span class="custom-arrow">
                <svg
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L6 6L11 1"
                    stroke="#2B3942"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100 form-field gap-8">
        <mat-label
          class="f-s-16 f-w-500 d-block ibr-black"
          style="line-height: 16px"
          >{{ 'Name' | translate }}</mat-label
        >
        <input matInput formControlName="name" />
      </div>
    </form>
  </mat-dialog-content>

  <div class="row justify-content-end gap-16 modal-action p-t-24">
    <div>
      <button
        type="button"
        (click)="onCancel()"
        class="button-icon-outline w-100 d-block"
      >
        <span class="f-s-16">{{ 'Cancel' | translate }}</span>
      </button>
    </div>
    <div>
      <button
        type="button"
        (click)="onSave()"
        [disabled]="form.invalid || isSaving"
        class="button-icon w-100 d-block"
      >
        <span class="f-s-16">{{ 'Save' | translate }}</span>
      </button>
    </div>
  </div>
</div>
