<div class="w-100">
  <div class="d-flex flex-column">
    <div class="dialog-header">
      <h2 class="dialog-title text-center">
        {{ isEditMode ? ('WEALTH.EDIT_LIABILITY' | translate) : ('WEALTH.ADD_LIABILITY' | translate) }}
      </h2>
      <button
        type="button"
        mat-icon-button
        disableRipple
        class="dialog-close-btn"
        mat-dialog-close
        aria-label="Close dialog"
        (click)="onCancel()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-dialog-content class="event-dialog-content">
      <div [formGroup]="form" class="d-flex flex-column gap-16">
        <div class="w-100 form-field gap-8">
          <mat-label
            class="f-s-16 f-w-500 d-block ibr-black"
            style="line-height: 16px"
            >{{ 'WEALTH.CATEGORY' | translate }}</mat-label
          >
          <div class="position-relative">
            <div class="w-100 form-field">
              <div class="select-option position-relative">
                <mat-select
                  formControlName="type"
                  [placeholder]="'PLACEHOLDER.SELECT_CATEGORY' | translate"
                  hideSingleSelectionIndicator
                >
                  @for (t of liabilityTypes; track t) {
                    <mat-option [value]="t">{{ t | translate }}</mat-option>
                  }
                </mat-select>
                <span class="custom-arrow">
                  <svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 1L6 6L11 1"
                      stroke="#2B3942"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </div>
              @if (
                form.get("type")?.touched && form.get("type")?.hasError("required")
              ) {
                <span class="field-error d-block">{{ 'Required' | translate }}</span>
              }
            </div>
          </div>
        </div>

        <div class="w-100 form-field gap-8">
          <mat-label
            class="f-s-16 f-w-500 d-block ibr-black"
            style="line-height: 16px"
            >{{ liabilityNameLabelKey | translate }}</mat-label
          >
          <input
            matInput
            formControlName="name"
            [placeholder]="liabilityNamePlaceholderKey | translate"
            [appAutoFocus]="!isEditMode"
            autoFocusSelect
          />
          @if (
            form.get("name")?.touched && form.get("name")?.hasError("required")
          ) {
            <span class="field-error d-block">{{ 'Required' | translate }}</span>
          }
        </div>

        <div class="d-flex flex-column gap-8 net-fields">
          <mat-label
            class="f-s-16 f-w-500 d-flex align-items-center ibr-black"
            style="line-height: 16px !important"
            >{{ 'WEALTH.OUTSTANDING_AMOUNT' | translate }}</mat-label
          >

          <div class="net-field d-flex align-items-center">
            <div class="left hide-arrow">
              <mat-select
                formControlName="currencySymbol"
                class="sortby-edit-profile"
                hideSingleSelectionIndicator
                disabled
              >
                @for (country of countries; track country) {
                  @if (country.currencySymbol) {
                    <mat-option [value]="country.currencySymbol">{{
                      country.currencySymbol
                    }}</mat-option>
                  }
                }
              </mat-select>
            </div>
            <div class="w-100 form-field">
              <input
                matInput
                type="text"
                formControlName="outstanding"
                thousandSeparatorInput
                (input)="onAmountInput($event.target.value)"
                placeholder="0"
              />
            </div>
          </div>
          @if (
            form.get("outstanding")?.touched &&
            form.get("outstanding")?.hasError("required")
          ) {
            <span class="field-error d-block">{{ 'Required' | translate }}</span>
          }
        </div>

        @if (hasPartner) {
          <div class="w-100 form-field gap-12">
            <mat-label
              class="f-s-16 f-w-500 d-block ibr-black"
              style="line-height: 16px"
              >{{ 'Ownership' | translate }}</mat-label
            >
            <mat-radio-group
              formControlName="ownership"
              class="d-flex ibr-custom-radio"
            >
              @for (opt of ownershipOptions; track opt.value) {
                <mat-radio-button [value]="opt.value">
                  @if (opt.value === 0) {
                    {{ 'Joint' | translate }}
                  } @else {
                    {{ opt.label }}
                  }
                </mat-radio-button>
              }
            </mat-radio-group>
          </div>
        }
      </div>
    </mat-dialog-content>

    <div class="row justify-content-end gap-16 modal-action p-t-24">
      <div>
        @if (isEditMode) {
          <button
            type="button"
            class="button-icon-outline w-100 d-block"
            (click)="onDelete()"
            [disabled]="isSaving"
          >
            <span class="f-s-16">{{ 'Delete' | translate }}</span>
          </button>
        } @else {
          <button
            type="button"
            class="button-icon-outline w-100 d-block"
            (click)="onCancel()"
          >
            <span class="f-s-16">{{ 'Cancel' | translate }}</span>
          </button>
        }
      </div>
      <div>
        <button
          type="button"
          class="button-icon w-100 d-block"
          (click)="onSave()"
          [disabled]="form.invalid || isSaving"
        >
          @if (isSaving) {
            <span class="f-s-16">{{ 'Saving...' | translate }}</span>
          } @else {
            <span class="f-s-16">{{ 'Save' | translate }}</span>
          }
        </button>
      </div>
    </div>
  </div>
</div>
