@use "sass:map";
@use "@angular/material" as mat;
@use "../variables" as *;

@include mat.button-overrides(
  (
    protected-hover-container-elevation-shadow: var(--mat-sys-level1),
    filled-horizontal-padding: 15px,
    outlined-horizontal-padding: 15px,
    protected-horizontal-padding: 15px,
    text-horizontal-padding: 15px,
    filled-container-shape: var(--mat-sys-corner-small),
    outlined-container-shape: var(--mat-sys-corner-small),
    protected-container-shape: var(--mat-sys-corner-small),
    text-container-shape: var(--mat-sys-corner-small),
  )
);

@include mat.icon-button-overrides(
  (
    icon-color: $text-color,
  )
);

// styles
html {
  .mat-mdc-button-base.bg-light-primary:hover,
  .mat-mdc-button-base.bg-light-secondary:hover,
  .mat-mdc-button-base.bg-light-error:hover,
  .mat-mdc-button-base.bg-light-warning:hover,
  .mat-mdc-button-base.bg-light-success:hover {
    color: $white !important;
  }

  .mat-mdc-button-base.bg-light-primary {
    &:hover {
      background-color: var(--mat-sys-primary) !important;
    }
  }

  .mat-mdc-button-base.bg-light-secondary {
    &:hover {
      background-color: var(--mat-sys-secondary) !important;
    }
  }

  .mat-mdc-button-base.bg-light-error {
    &:hover {
      background-color: var(--mat-sys-error) !important;
    }
  }

  .mat-mdc-button-base.bg-light-warning {
    &:hover {
      background-color: $warning !important;
    }
  }

  .mat-mdc-button-base.bg-light-success {
    &:hover {
      background-color: $success !important;
    }
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: inherit !important;
  }

  .mat-mdc-button-base.text-secondary:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: $secondary;
    }
  }

  .mat-mdc-button-base.text-error:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: $error;
    }
  }

  .mat-mdc-button-base.text-warning:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: $warning;
    }
  }

  .mat-mdc-button-base.text-success:hover {
    .mat-mdc-button-persistent-ripple::before {
      background-color: $success;
    }
  }

  .mat-mdc-outlined-button:not(:disabled).mat-secondary {
    color: var(--mat-sys-secondary);
    border-color: var(--mat-sys-secondary);

    &:hover {
      .mat-mdc-button-persistent-ripple::before {
        background-color: $secondary;
      }
    }
  }

  .mat-mdc-outlined-button:not(:disabled).mat-success {
    color: $success;
    border-color: $success;

    &:hover {
      .mat-mdc-button-persistent-ripple::before {
        background-color: $success;
      }
    }
  }

  .mat-mdc-outlined-button:not(:disabled).mat-error {
    color: $error;
    border-color: $error;

    &:hover {
      .mat-mdc-button-persistent-ripple::before {
        background-color: $error;
      }
    }
  }

  .mat-mdc-outlined-button:not(:disabled).mat-warning {
    color: $warning;
    border-color: $warning;

    &:hover {
      .mat-mdc-button-persistent-ripple::before {
        background-color: $warning;
      }
    }
  }
}

// New Styles
// icon button Styles
.button-icon-white,
.button-icon,
.button-icon-outline {
  background-color: #4043af;
  padding: 12px 24px;
  border-radius: 6px;
  outline: none;
  border: none;
  height: 100%;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  gap: 8px;
  cursor: pointer;
  font-family: "Ubuntu", serif;
  transition: all 0.2s linear;

  @media (max-width: 520px) {
    width: 100%;
  }
}
.button-icon:focus {
  border: none;
  outline: none;
}
.button-icon span,
.button-icon-outline span {
  font-size: 14px;
  font-weight: 700;
  color: white;
  display: block;
}
.button-icon:hover,
.button-icon-outline:hover {
  opacity: 0.9;
  transition: opacity 0.2s linear;
}

.button-icon-outline {
  background-color: transparent;
  border: 1px solid #4043af;
  transition: all 0.2s linear;
}
.button-icon-white span {
  color: #5a596e;
  font-size: 14px;
  font-weight: 500;
}
.button-icon-outline span {
  color: #4043af;
  font-size: 14px;
  font-weight: 700;
}
.button-icon-white {
  background-color: white;
}
// .button-icon-outline:hover {
//   background-color: #4043af;
//   transition: all 0.3s linear;
// }
// End New Styles
