@use "sass:map";
@use "@angular/material" as mat;

@include mat.dialog-overrides(
  (
    container-shape: var(--mat-sys-corner-small),
    subhead-size: 18px,
    subhead-weight: 600,
    content-padding: 20px 24px,
    actions-padding: 20px 24px,
    container-min-width: 300px,
    subhead-tracking: unset,
    supporting-text-tracking: unset,
  )
);

.cdk-overlay-dark-backdrop {
  background: #3a3a4740;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
.mat-mdc-dialog-surface {
  border-radius: 12px !important;
  box-shadow: none !important;
  padding: 32px !important;
}
