@use "../variables" as *;

.mat-drawer.sidebarNav {
  // width: $sidenav-desktop;
  width: 295px;
  flex-shrink: 0;
  transition: swift-ease-out(width);
  // position: absolute;
  position: fixed; /* Keep the sidebar in place */
  // top: $header-height;
  top: 65px;
  left: 0;
  height: calc(100vh - $header-height); /* Occupy the full viewport height */
  display: flex;
  flex-direction: column;
  // overflow-x: hidden;
  border-right: 1px solid $borderColor;
  border-radius: 0px !important;
  transform: none !important;
}

.sidebarNav .scrollable-content {
  flex: 1; /* Allow this section to grow and take available space */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.profile-bar {
  flex-shrink: 0; /* Prevent the profile bar from shrinking */
  // background-color: #f5f5f5; /* Optional */
  // border-top: 1px solid #ddd; /* Optional border to separate sections */
  padding: 16px !important; /* Adjust padding as needed */
  .flex-column {
    flex-direction: column;
  }
  .rounded {
    border-radius: 8px !important;
  }
  h4 {
    font-size: 15px;
    font-family: "Ubuntu", serif;
    color: #1c1c1c;
    line-height: 20px;
  }
  button{
   font-family: "Ubuntu", serif;
  }
  .gap-2 {
    gap: 2px !important;
  }
  .gap-16 {
    gap: 16px !important;
  }
  span {
    color: #9495a2 !important;
  }
  .p-16 {
    padding: 16px 12px !important; /* Adjust padding as needed */
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  button {
    padding: 12px 24px !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    border-radius: 4px;
    min-height: 48px;
    border: 1px solid #516ce8 !important;
    color: #516ce8 !important;
    cursor: pointer;
    span {
      color: #516ce8 !important;
    }
      &:hover{
    background-color:#516ce8 ;
     color: #fff !important;
 
  }
  }

}

.branding {
  padding: 20px;
}

// .sidebarNav-mini {
//   .sidebarNav {
//     // width: $sidenav-mini;
//     width: 74px;

//     .profile-bar {
//       display: none;
//     }

//     .sidebar-list {
//       align-items: center;
//       justify-content: center;
//       display: flex;
//       .menu-list-item {
//         padding: 8px 17px;
//         justify-content: center;

//         .mdc-list-item__content {
//           // display: none;
//           display: flex;
//           // align-items: center;
//           // justify-content: center;
//         }
//         .hide-menu {
//           display: none;
//         }

//         .mdc-list-item__start {
//           margin-left: 6px !important;
//           margin-right: 8px !important;
//         }
//       }
//     }
//     &:hover {
//       // width: $sidenav-desktop;
//       width: 295px;

//       .profile-bar {
//         display: block;
//       }

//       .sidebar-list {
//         align-items: stretch;
//         justify-content: stretch;
//         display: flex;
//         .menu-list-item {
//           padding: 8px 10px;
//           width: 100%;
//           .mdc-list-item__content {
//             // display: inline;
//             display: flex;
//             // align-items: center;
//             // justify-content: center;
//           }
//           .hide-menu {
//             display: block;
//           }

//           .mdc-list-item__start {
//             margin-left: 0 !important;
//           }
//         }

//         &.mdc-list {
//           // padding: 0 16px;
//           // max-width: $sidenav-desktop;
//           padding: 16px;
//           max-width: 100%;

//           .mdc-list-group__subheader {
//             text-align: left;
//           }
//         }
//       }
//     }
//   }

//   .hideMenu {
//     overflow: hidden;
//     width: $sidenav-mini;
//   }

//   .branding {
//     width: $sidenav-mini - 15px;
//     overflow: hidden;
//   }

//   .sidebar-list {
//     &.mdc-list {
//       // padding: 0 12px;
//       padding: 16px 4px;

//       .mdc-list-group__subheader {
//         text-align: center;
//       }
//     }
//   }

//   .contentWrapper {
//     transition: swift-ease-out(width);
//   }
// }

// @media (min-width: 1024px) {
//   .sidebarNav-mini {
//     .contentWrapper {
//       margin-left: $sidenav-mini !important;
//     }
//   }
// }

.customizerBtn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9;
}

.nav-caption {
  display: flex;
  align-items: center;
  gap: 8px;
  p {
    color: #b7b6c2;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300 !important;
    margin: 0;
  }
  span {
    height: 1px;
    flex: 1;
    display: block;
    background-color: #e7e7eb;
  }
}

.cashflow-modal {
  border: 1px solid #516ce8;
  padding: 8px;
  border-radius: 8px;
  color: #516ce8;
  height: 36px;
  background-color: white;
  text-decoration: none;
  span {
    font-size: 14px;
    line-height: 20px;
  }
}
// Upper side Menus
.sidebar-list,
.sidebar-list-noline {
  // .custom-line-sidebar {
  &.mdc-list {
    // padding: 0 24px;
    // padding: 16px 16px 0 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .mdc-list-group__subheader {
      // margin: 12px 0;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 700;
      margin: 0 !important;
      padding: 10px 0;
      // margin-top: 24px;
    }

    .menu-list-item {
      // height: 45px;
      height: 36px;
      // padding: 8px 10px !important;
      padding: 8px !important;
      // margin-bottom: 2px;
      border-radius: 4px;
      border-left: 2px solid transparent;
      position: relative;
      overflow: unset;
      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #e7e7eb;
        position: absolute;
        top: 26px;
        left: 16px;
        z-index: -1;
        display: none;
      }

      // .connecting-line {
      //   height: 20px;
      //   width: 2px;
      //   position: absolute;
      //   top: 100%;
      //   background-color: red;
      // }
      &.twoline {
        height: 60px;
        align-items: center;
      }

      &:before,
      &:focus {
        z-index: -1;
      }

      &.disabled {
        opacity: 0.38;
      }

      .item-chip {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
      &:hover,
      &.activeMenu {
        // background-color: var(--mat-sys-primary);
        background-color: #f7f7f7;
        border-left: 2px solid #516ce8;

        .mdc-list-item__primary-text {
          // color: $white !important;
          color: #516ce8 !important;
        }

        .mat-mdc-list-item-icon {
          color: #516ce8 !important;
          // color: $white !important;
        }
      }

      .mdc-list-item__start {
        // margin-right: 14px;
        margin-right: 8px;
        margin-left: 0 !important;
        width: 20px;
        height: 20px;
        line-height: 0px;
        fill: transparent !important;
      }

      .mdc-list-item__primary-text {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 8px;
        color: #787889;

        .arrow-icon {
          display: flex;

          .mat-icon {
            font-size: 18px;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  // }
}
// End upper side Menus

// Lower Side Menu
.sidebar-list {
  &.mdc-list {
    padding: 16px 15px 0 15px;
  }
}
.sidebar-list-noline {
  &.mdc-list {
    padding: 16px 16px 0 16px;
    .menu-list-item {
      &::after {
        display: none;
      }
      &.activeMenu {
        background-color: transparent;
        border-left: none;
        .mdc-list-item__primary-text {
          color: #787889 !important;
        }
        .mat-mdc-list-item-icon {
          color: #787889 !important;
        }
      }
    }
  }
}
// End Lower Side Menu
.flex-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nav-caption-button {
  padding: 16px 16px 0 16px;
  .button-icon {
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
    }
  }
}
