.main-header-content{
    .header-icon{
        margin-right: 10px;
    }
    h2{
        margin-bottom: 10px;
    }
}
.logo-update-wrapper{
    position: relative;
    width: 200px;
    img{
        max-width: 100%;
    }
    .delete-icon{
        height: 28px;
        width: 28px;
        border: 1px solid #E7E7EB;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        top: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #fff;
        &:hover{
             background-color: #ffb4b4;
        border-color: #ffb4b4;
        }
    }
}
.upload-avatar-wrapper{
    border: 2px dashed #d5d5d5 ;
    padding: 15px;
    border-radius: 4px;
    width: 200px;
    height: 171px;
    font-size: 14px;
    line-height: 16px;
    &.upload-company-avatar{
        width: 400px;
    }
    small{
        color: #B7B6C2;
    }
}
.logo-update-wrapper {
  position: relative;

  .delete-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    background: #fff;
    border: none;
    border-radius: 999px;
    padding: 6px;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    line-height: 0;
  }
}
