.main-header-content{
    .header-icon{
        margin-right: 10px;
    }
    h2{
        margin-bottom: 10px;
    }
}
.logo-update-wrapper{
    position: relative;
    width: 200px;
    height: 100%;
    display: flex
;
    align-items: center;
    justify-content: center;
    img{
        max-width: 100%;
    }
    .delete-icon{
          
position: absolute;
    right: -14px;
    top: -14px;
    border: 1px solid #ccc;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    text-align: center;
    display: flex
;
    align-items: center;
    justify-content: center;
    background: white;
    cursor: pointer;




        &:hover{
             background-color: #ffb4b4;
        border-color: #ffb4b4;
        }
    }
}
.upload-avatar-wrapper{
    border: 2px dashed #d5d5d5 ;
    padding: 15px;
    border-radius: 4px;
    width: 200px;
    height: 171px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.upload-company-avatar{
        width: 400px;
    }
    small{
        color: #B7B6C2;
    }
}

.bor-w-2{
    border-width: 2px !important ;
    border-radius: 4px !important ;
    border-color: #d5d5d5 !important
}