<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
    <div class="d-flex align-items-center main-header-content">
      <div class="header-icon">
        <img width="56" src="../../../assets/images/shapes/small-icon-1.svg" alt="">
      </div>
      <div class="d-flex flex-column justify-content-between gap-4">
        <h4 class="page-title f-w-500">{{'Assumptions' | translate}}</h4>
        <span class="sub-title">{{ 'Define the assumptions behind your model' | translate}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<form [formGroup]="form">
  <mat-card class="cardWithShadow mb-20">
    <mat-card-content>
      <p class="f-s-14 m-b-20 p-t-0 m-t-0">{{ 'These preferences can be adjusted individually for each client' | translate }}</p>
      <div formGroupName="preferences">
        <div class="row">


          <div class="col-6">
            <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Country' | translate }}
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Sets the main currency for all new client plans. All figures will be shown in this currency by default, but you can change it for individual clients later.">
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="country" placeholder="{{ 'Select country' | translate }}" (selectionChange)="clientCountryValueChange($event.value)">
                @for (country of countries; track country.countryName) {
                @if (country.currencySymbol) {
                <mat-option [value]="country.countryName">{{ country.countryName }}</mat-option>
                }
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">
              {{ 'Currency' | translate }}
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Sets the main currency for all new client plans. All figures will be shown in this currency by default, but you can change it for individual clients later.">
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="currency" hideSingleSelectionIndicator>
                @for (country of countries; track country) {
                @if (country.currencySymbol) {
                <mat-option [value]="country.currencySymbol">{{ country.currencySymbol }}</mat-option>
                }
                }
              </mat-select>
              <mat-error *ngIf="p.currency.invalid">{{'Required' | translate}}</mat-error>
            </mat-form-field>
          </div>




          <div class="col-4">
            <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">
              {{ 'Inflation rate' | translate }}
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Sets the default annual inflation rate used in projections. You can modify it in each client's cashflow model to show how inflation impacts their future results.">
            </mat-label>
            <mat-form-field appearance="outline" class="w-100 percentage-icon">
              <span matSuffix>%</span>
              <input matInput type="number" step="0.1" formControlName="inflationRate"  />
              <mat-error *ngIf="p.inflationRate.hasError('required')">{{'Required' | translate}}</mat-error>
              <mat-error *ngIf="p.inflationRate.hasError('min') || p.inflationRate.hasError('max')">0–100</mat-error>
            </mat-form-field>
          </div>





          <div class="col-4">
            <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">
              {{ 'Investment net return' | translate }}
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Defines the expected yearly return after taxes. Ibernia uses this to estimate how investments grow over time. You can adapt it for each Saving Pot or individual client.">
            </mat-label>
            <mat-form-field appearance="outline" class="w-100 percentage-icon">
              <span matSuffix>%</span>
              <input matInput type="number" step="0.1" formControlName="investmentReturn" />
              <mat-error *ngIf="p.investmentReturn.hasError('required')">{{'Required' | translate}}</mat-error>
              <mat-error *ngIf="p.investmentReturn.hasError('min') || p.investmentReturn.hasError('max')">0–100</mat-error>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">
              {{ 'Pension fund net return' | translate }}
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Sets the default return rate for pension funds.">
            </mat-label>
            <mat-form-field appearance="outline" class="w-100 percentage-icon">
              <span matSuffix>%</span>
              <input matInput type="number" step="0.1" formControlName="pensionFundReturn" />
              <mat-error *ngIf="p.pensionFundReturn.hasError('required')">{{'Required' | translate}}</mat-error>
              <mat-error *ngIf="p.pensionFundReturn.hasError('min') || p.pensionFundReturn.hasError('max')">0–100</mat-error>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">
              {{ 'Advisor commission type' | translate }}
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Defines how advisor commissions are calculated. You can set a fixed amount (e.g., €100 per year), a percentage of assets (e.g., 1% annually), or both. This acts as your default method and can be customized for each client.">
            </mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="comissionType" placeholder="{{ 'Select commission type' | translate }}">
                <mat-option *ngFor="let t of comissionTypes" [value]="t.value">
                  {{ t.label }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="p.comissionType.invalid">{{'Required' | translate}}</mat-error>
            </mat-form-field>
          </div>







          @if (form.controls.preferences.controls.comissionType.value !== ComissionType.None) {
          @if (form.controls.preferences.controls.comissionType.value === ComissionType.Percentage) {
          <div class="col-8">
            <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Commission percentage' | translate }}
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Sets the default percentage commission for new plans (e.g., 1% annually on the value of invested savings). This applies to each Saving Pot by default, and you can adjust it for each client when needed.">
            </mat-label>
            <mat-form-field appearance="outline" class="w-100 percentage-icon">
              <span matSuffix>%</span>
                <input matInput type="number" step="0.1" formControlName="comissionPercentage"  />
              <mat-error *ngIf="p.comissionPercentage.hasError('required')">{{'Required' | translate}}</mat-error>
                <mat-error *ngIf="p.comissionPercentage.hasError('min') || p.comissionPercentage.hasError('max')">0–100</mat-error>
            </mat-form-field>
          </div>
          }


          <div class="col-8">
            <div class="row">







              @if (form.controls.preferences.controls.comissionType.value === ComissionType.Amount) {
              <div class="col-2">
                <mat-label class="f-s-16 f-w-400 m-b-8 d-block">{{ 'Currency' | translate }}</mat-label>
                <mat-form-field appearance="outline" class="w-full w-100 disabled-field">
              <input
                matInput
                [value]="p.currency?.value || ''"
                disabled
                readonly
                aria-readonly="true"
                placeholder="—"
                />
                </mat-form-field>
              </div>
              <div class="col-10">
              <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Commission amount' | translate }}
                <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Sets the standard fixed commission value applied when creating new plans (e.g., €100 per year). This applies to each Saving Pot by default, but you can change it per client if needed.">
                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  type="text"
                  formControlName="comissionAmount"
                  #commissionAmountInput
                  thousandSeparatorInput
                  (input)="onCommissionAmountInput($event.target?.value ?? '')"
                  (focus)="formatCommissionAmountOnFocus($event)"
                  placeholder="{{'Enter amount' | translate}}"
                />
                  <mat-error *ngIf="p.comissionAmount.hasError('required')">{{'Required' | translate}}</mat-error>
                  <mat-error *ngIf="p.comissionAmount.hasError('min')">{{ 'Must be' | translate }} &gt; 0</mat-error>
                </mat-form-field>
              </div>
              }

              @if (form.controls.preferences.controls.comissionType.value === ComissionType.Both) {
              <div class="col-2">
                <mat-label class="f-s-16 f-w-400 m-b-8 d-block">{{ 'Currency' | translate }}</mat-label>
                <mat-form-field appearance="outline" class="w-full w-100 disabled-field">
              <input
                matInput
                [value]="p.currency?.value || ''"
                readonly
                disabled
                aria-readonly="true"
                placeholder="—"
                />
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Commission amount' | translate }}
                  <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Sets the standard fixed commission value applied when creating new plans (e.g., €100 per year). This applies to each Saving Pot by default, but you can change it per client if needed.">


                </mat-label>
                <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  type="text"
                  formControlName="comissionAmount"
                  #commissionAmountInput
                  thousandSeparatorInput
                  (input)="onCommissionAmountInput($event.target?.value ?? '')"
                  (focus)="formatCommissionAmountOnFocus($event)"
                  placeholder="Enter amount"
                />
                  <mat-error *ngIf="p.comissionAmount.hasError('required')">{{'Required' | translate}}</mat-error>
                  <mat-error *ngIf="p.comissionAmount.hasError('min')">{{ 'Must be' | translate }} &gt; 0</mat-error>
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Commission percentage' | translate }}
                  <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4" matTooltip="Sets the default percentage commission for new plans (e.g., 1% annually on the value of invested savings). This applies to each Saving Pot by default, and you can adjust it for each client when needed.
">

                </mat-label>
                <mat-form-field appearance="outline" class="w-100 percentage-icon">
                  <input matInput type="number" step="0.1" formControlName="comissionPercentage" />
                  <mat-error *ngIf="p.comissionPercentage.hasError('required')">{{'Required' | translate}}</mat-error>
                <mat-error *ngIf="p.comissionPercentage.hasError('min') || p.comissionPercentage.hasError('max')">0–100</mat-error>
                  <span matSuffix>%</span>
                </mat-form-field>
              </div>

              }
            </div>
          </div>
          }
        </div>
      </div>

      <div class="mt-4 d-flex justify-content-end">
        <button type="button" class="button-icon" [disabled]="!hasPreferencesChanges || isSavingPreferences" (click)="submitPreferences()">
          <span>{{ 'Save' | translate }}</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
