<!-- <div class="m-t-20" style="max-width: 600px; margin: 0 auto; width: 100%">
  <mat-card class="cardWithShadow">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div> -->
<!-- <mat-dialog-container> -->
<div class="d-flex flex-column gap-32">
    <!-- Modal Header  -->
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
        <h3>New plan</h3>
        <button (click)="closeDialog()" type="button">
            <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
        </button>
    </div>
    <!-- End Modal Header  -->

    <!-- Modal Body  -->
    <!-- <mat-dialog-content> -->
    <div [formGroup]="form" class="d-flex flex-column gap-20">
        <div class="w-100 form-field gap-8">
            <mat-label class="f-s-16 d-block">Plan name</mat-label>
            <input matInput formControlName="name" />
            @if(form.get('name')?.touched &&
             form.get('name')?.hasError('required')) {
                <!-- <span class="field-error d-block">Name is required</span> -->
              <span class="field-error d-block">Required</span>

            }
        </div>
        <div class="w-100 form-field gap-8">
            <mat-label class="f-s-16 d-block">Description (optional)</mat-label>
            <textarea formControlName="description" placeholder="Enter description"></textarea>
        </div>
    </div>
    <!-- </mat-dialog-content> -->
    <!-- End Modal Body  -->
    <!-- Modal Action Button  -->
    <!-- <mat-dialog-actions> -->
    <div class="row justify-content-between modal-action">
        <div class="col-5">
            <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
                <span class="f-s-16">Cancel</span>
            </button>
        </div>
        <div class="col-5">
            <button [disabled]="form.invalid" (click)="onSubmit()" class="button-icon w-100 d-block">
                <span class="f-s-16">Start</span>
            </button>
        </div>
    </div>
    <!-- </mat-dialog-actions> -->
    <!-- End Modal Action Button  -->
</div>

<!-- </mat-dialog-container> -->