<!-- <div class="m-t-20" style="max-width: 600px; margin: 0 auto; width: 100%">
  <mat-card class="cardWithShadow">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div> -->
<!-- <mat-dialog-container> -->
<div class="d-flex flex-column gap-32">
    <!-- Modal Header  -->
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
        <h3>{{ 'New plan' | translate }}</h3>
        <button (click)="closeDialog()" type="button">
            <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
        </button>
    </div>
    <!-- End Modal Header  -->

    <!-- Modal Body  -->
    <!-- <mat-dialog-content> -->
    <div [formGroup]="form" class="d-flex flex-column gap-20">
        <div class="w-100 form-field gap-8">
            <mat-label class="f-s-16 d-block">{{ 'Plan name' | translate }}</mat-label>
            <input matInput formControlName="name" placeholder="{{ 'Enter plan name' | translate}}" />
            @if(form.get('name')?.touched &&
             form.get('name')?.hasError('required')) {
                <!-- <span class="field-error d-block">Name is required</span> -->
              <span class="field-error d-block">{{'Required' | translate}}</span>

            }
        </div>

        <div class="w-100 form-field gap-8">
                <mat-label class="f-s-16 d-block">{{ 'Projection ends at age' | translate }}</mat-label>
                <input
                    matInput
                    type="number"
                    formControlName="planDuration"
                    [min]="minAge"
                    max="100"
                />
                @if(form.get('planDuration')?.touched &&
                 form.get('planDuration')?.hasError('required')) {
              <span class="field-error d-block">{{'Required' | translate}}</span>

                }
                 @if(form.get('planDuration')?.hasError('min')) {
                    <span class="field-error d-block">
                        Plan end age must be greater than the current age
                    </span>
                }

                @if(form.get('planDuration')?.hasError('max')) {
                <span class="field-error d-block">
                    Plan end age cannot exceed 100
                </span>
                }
            </div>

        <div class="w-100 form-field gap-8">
            <mat-label class="f-s-16 d-block">{{ 'Description (optional)' | translate }}</mat-label>
            <textarea formControlName="description" placeholder="{{ 'Enter description' | translate }}"></textarea>
        </div>
    </div>
    <!-- </mat-dialog-content> -->
    <!-- End Modal Body  -->
    <!-- Modal Action Button  -->
    <!-- <mat-dialog-actions> -->
    <div class="row justify-content-between modal-action">
        <div class="col-5">
            <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
                <span class="f-s-16">{{ 'Cancel' | translate }}</span>
            </button>
        </div>
        <div class="col-5">
            <button [disabled]="form.invalid" (click)="onSubmit()" class="button-icon w-100 d-block">
                <span class="f-s-16">{{ 'Start' | translate }}</span>
            </button>
        </div>
    </div>
    <!-- </mat-dialog-actions> -->
    <!-- End Modal Action Button  -->
</div>

<!-- </mat-dialog-container> -->