.slider-wrapper {
  flex: 1;
}
// .slider-wrapper {
//   .mat-mdc-slider {
//     margin: 0 !important;
//   }
// }

.percentage-field {
  flex-basis: 98px;
}

::ng-deep .infilation-check .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.custom-rate-input {
  position: relative;

  input {
    padding-right: 32px;
  }

  .custom-rate-suffix {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 18px;
    height: 18px;
  }
}
