.event-dialog-content {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.mat-mdc-dialog-content {
    margin-top: 24px;
    padding: 0px !important;
  }
}
