<div class="w-100">
  <div class="d-flex flex-column">
    <div class="dialog-header">
      <div class="d-flex align-items-center justify-content-center gap-4">
        <h3 class="dialog-title text-center">{{ expenseTitle }}</h3>
        <ng-container *ngIf="isEditWorkflow && isNameEditable">
          <img
            src="assets/images/svgs/drop-down-edit-2-line.svg"
            alt="edit"
            class="cursor-pointer edit-name-icon"
            (click)="toggleNameEdit()"
          />
        </ng-container>
      </div>
      <button
        type="button"
        mat-icon-button
        disableRipple
        class="dialog-close-btn"
        mat-dialog-close
        aria-label="Close dialog"
        (click)="closeDialog()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-dialog-content class="event-dialog-content">
      <div [formGroup]="expenseForm" class="d-flex flex-column gap-16">
        @if (!isEditWorkflow) {
          <div class="d-flex flex-column gap-8">
            <div class="d-flex gap-4 align-items-center">
              <mat-label
                class="f-s-16 f-w-500 d-block ibr-black"
                style="line-height: 16px"
                >{{ "Type" | translate }}</mat-label
              >
              <img
                width="18"
                src="assets/images/svgs/help-circle-icon.svg"
                alt="help-circle-icon"
              />
            </div>
            <div class="justify-content-between align-items-start flex-nowrap">
              <div class="w-100 form-field">
                <div class="select-option position-relative">
                  <mat-select
                    formControlName="expenseType"
                    (selectionChange)="onExpenseTypeChange($event.value)"
                    hideSingleSelectionIndicator
                  >
                    @for (expenseType of expenseTypes; track expenseType) {
                      <mat-option [value]="expenseType">{{
                        expenseType
                      }}</mat-option>
                    }
                  </mat-select>
                  <span class="custom-arrow">
                    <svg
                      width="12"
                      height="7"
                      viewBox="0 0 12 7"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1 1L6 6L11 1"
                        stroke="#2B3942"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </div>
                @if (
                  expenseForm.get("expenseType")?.touched &&
                  expenseForm.get("expenseType")?.hasError("required")
                ) {
                  <span class="field-error d-block">{{
                    "Required" | translate
                  }}</span>
                }
              </div>
            </div>
          </div>
        }

        @if (isNameEditable && showNameEdit) {
          <div class="w-100 form-field gap-8">
            <mat-label
              class="f-s-16 f-w-500 ibr-black d-block"
              style="line-height: 16px"
              >{{ "Name" | translate }}</mat-label
            >
            <input
              matInput
              formControlName="description"
              [placeholder]="'PLACEHOLDER.ELDERLY_SUPPORT' | translate"
            />

            @if (
              expenseForm.get("description")?.touched &&
              expenseForm.get("description")?.hasError("required")
            ) {
              <span class="field-error d-block">{{
                "Required" | translate
              }}</span>
            }
          </div>
        }

        <div class="d-flex flex-column gap-4 net-fields">
          <div class="d-flex flex-column gap-8">
            <mat-label
              class="f-s-16 d-block f-w-500 ibr-black"
              style="line-height: 16px"
              >{{ "Net amount" | translate }}
            </mat-label>
            <div class="net-field d-flex align-items-center">
              <div class="left hide-arrow">
                <mat-select
                  formControlName="currencySymbol"
                  class="sortby-edit-profile"
                  hideSingleSelectionIndicator
                >
                  @for (country of countries; track country) {
                    @if (country.currencySymbol) {
                      <mat-option [value]="country.currencySymbol">{{
                        country.currencySymbol
                      }}</mat-option>
                    }
                  }
                </mat-select>
              </div>
              <div class="w-100 form-field">
                <input
                  matInput
                  type="text"
                  formControlName="amount"
                  #amountInput
                  [value]="expenseForm.get('amount')?.value | thousandSeparator"
                  thousandSeparatorInput
                  (input)="onAmountInput($event.target.value)"
                  placeholder="0"
                />
              </div>
              <div class="right position-relative">
                <mat-select
                  (valueChange)="onCycleValueChange($event)"
                  value="Select"
                  formControlName="cycle"
                  class="sortby-edit-profile"
                  hideSingleSelectionIndicator
                >
                  @for (cycle of cycles; track cycle) {
                    <mat-option [value]="cycle.id">{{
                      cycle.description
                    }}</mat-option>
                  }
                </mat-select>
                <span class="custom-arrow">
                  <svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1 1L6 6L11 1"
                      stroke="#2B3942"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </div>
            </div>
            @if (
              expenseForm.get("amount")?.touched &&
              (expenseForm.get("amount")?.hasError("required") ||
                expenseForm.get("amount")?.hasError("greaterThanZero"))
            ) {
              <span class="field-error d-block">{{
                "Amount must be greater than 0" | translate
              }}</span>
            }
          </div>
        </div>

        <div class="start-end">
          <div class="d-flex flex-column gap-8">
            <div class="d-flex gap-4 align-items-center">
              <mat-label
                class="f-s-16 f-w-500 ibr-black d-block"
                style="line-height: 16px"
              >
                @if (showStartEnd) {
                  {{ 'Start & end' | translate }}
                } @else {
                  {{ 'Date' | translate }}
                }
              </mat-label>
              <img
                width="18"
                src="assets/images/svgs/help-circle-icon.svg"
                alt="help-circle-icon"
              />
            </div>
            <div
              class="row justify-content-between align-items-start flex-nowrap"
            >
              <div [className]="showStartEnd ? 'col-6' : 'w-100'">
                <div class="w-100 form-field">
                  <div class="select-option position-relative">
                    <mat-select
                      value="Select"
                      formControlName="start"
                      hideSingleSelectionIndicator
                    >
                      @if (isEditWorkflow || eventsList?.length > 0) {
                        <mat-option [value]="currentYear"
                          >{{ 'LABEL.THIS_YEAR' | translate }} ({{ currentYear }})</mat-option
                        >
                      }
                      @for (event of eventsList; track event) {
                        <mat-option [value]="'event:' + event.id"
                          >{{ event.name }} ({{
                            getAgeForYear(event.start.year)
                          }})</mat-option
                        >
                      }
                      <hr />
                      @for (year of years; let i = $index; track year) {
                        <mat-option [value]="year"
                          >{{ year }} ({{ getAgeForYear(year) }})</mat-option
                        >
                      }
                    </mat-select>
                    <span class="custom-arrow">
                      <svg
                        width="12"
                        height="7"
                        viewBox="0 0 12 7"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 1L6 6L11 1"
                          stroke="#2B3942"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </div>
                  @if (
                    expenseForm.get("start")?.touched &&
                    expenseForm.get("start")?.hasError("required")
                  ) {
                    <span class="field-error d-block">{{
                      "Required" | translate
                    }}</span>
                  }
                </div>
              </div>

              @if (showStartEnd) {
                <div class="d-flex justify-content-start align-items-start">
                  <img
                    src="assets/images/svgs/chevron-right-date-icon.svg"
                    alt="chevron-right-date-icon"
                  />
                </div>

                <div class="col-6">
                  <div class="w-100 form-field">
                    <div class="select-option position-relative">
                      <mat-select
                        value="Select"
                        formControlName="end"
                        hideSingleSelectionIndicator
                      >
                        @for (event of getEndEvents(); track event.id) {
                          <mat-option [value]="'event:' + event.id"
                            >{{ event.name }} ({{
                              getAgeForYear(event.start.year)
                            }})</mat-option
                          >
                        }
                        <hr />
                        @for (year of getEndYears(); track year) {
                          <mat-option [value]="year"
                            >{{ year }} ({{ getAgeForYear(year) }})</mat-option
                          >
                        }
                      </mat-select>
                      <span class="custom-arrow">
                        <svg
                          width="12"
                          height="7"
                          viewBox="0 0 12 7"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1 1L6 6L11 1"
                            stroke="#2B3942"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </span>
                    </div>
                    @if (
                      expenseForm.get("end")?.touched &&
                      expenseForm.get("end")?.hasError("required")
                    ) {
                      <span class="field-error d-block">{{
                        "Required" | translate
                      }}</span>
                    }
                    @if (
                      expenseForm.get("end")?.touched &&
                      expenseForm.get("end")?.hasError("endBeforeStart")
                    ) {
                      <span class="field-error d-block"
                        >{{ 'End year cannot be before start year' | translate }}</span
                      >
                    }
                  </div>
                </div>
              }
            </div>
          </div>
        </div>

        @if (showStartEnd) {
          <div class="w-100 d-flex flex-column gap-20">
            <div class="escalation-inline">
              <div
                class="d-flex flex-column gap-8 escalation-field"
                [class.escalation-full]="
                  selectedEscalationDescription !== 'Increases at custom rate'
                "
              >
                <mat-label
                  class="f-s-16 f-w-500 ibr-black d-flex gap-4 align-items-center"
                  style="line-height: 16px"
                  >Escalation rate
                  <img
                    width="18"
                    src="assets/images/svgs/help-circle-icon.svg"
                    alt="help-circle-icon"
                  />
                </mat-label>
                <div class="w-100 form-field">
                  <div class="select-option position-relative">
                    <mat-select
                      formControlName="escalationRate"
                      (selectionChange)="onEscalationRateChange($event)"
                    >
                      @for (
                        escalationRate of escalationRates;
                        track escalationRate
                      ) {
                        <mat-option [value]="escalationRate.value">{{
                          escalationRate.description
                        }}</mat-option>
                      }
                    </mat-select>
                    <span class="custom-arrow">
                      <svg
                        width="12"
                        height="7"
                        viewBox="0 0 12 7"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 1L6 6L11 1"
                          stroke="#2B3942"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </div>
                  @if (
                    expenseForm.get("escalationRate")?.touched &&
                    expenseForm.get("escalationRate")?.hasError("required")
                  ) {
                    <span class="field-error d-block">{{
                      "Required" | translate
                    }}</span>
                  }
                </div>
              </div>

              @if (
                selectedEscalationDescription === "Increases at custom rate"
              ) {
                <div
                  class="d-flex flex-column gap-8 escalation-field escalation-custom"
                >
                  <mat-label class="f-s-16 f-w-500 ibr-black d-block"
                    >{{ 'Custom escalation rate' | translate }}</mat-label
                  >
                  <div class="w-100 form-field custom-rate-input">
                    <input
                      matInput
                      type="number"
                      formControlName="customEscalationRate"
                      placeholder="0"
                    />
                    <div class="custom-rate-suffix">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M15.8337 4.16602L4.16699 15.8327"
                          stroke="#48475D"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M5.41634 7.50065C6.56693 7.50065 7.49967 6.56791 7.49967 5.41732C7.49967 4.26672 6.56693 3.33398 5.41634 3.33398C4.26575 3.33398 3.33301 4.26672 3.33301 5.41732C3.33301 6.56791 4.26575 7.50065 5.41634 7.50065Z"
                          stroke="#48475D"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M14.5833 16.6667C15.7339 16.6667 16.6667 15.7339 16.6667 14.5833C16.6667 13.4327 15.7339 12.5 14.5833 12.5C13.4327 12.5 12.5 13.4327 12.5 14.5833C12.5 15.7339 13.4327 16.6667 14.5833 16.6667Z"
                          stroke="#48475D"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                    <!-- <img
                      class="custom-rate-suffix"
                      src="assets/images/shapes/percentage.svg"
                      alt="percentage"
                    /> -->
                  </div>
                  @if (
                    expenseForm.get("customEscalationRate")?.touched &&
                    expenseForm
                      .get("customEscalationRate")
                      ?.hasError("required")
                  ) {
                    <span class="field-error d-block">{{
                      "Required" | translate
                    }}</span>
                  }
                </div>
              }
            </div>
          </div>
        }
      </div>
    </mat-dialog-content>

    <div class="d-flex justify-content-end gap-16 modal-action p-t-24">
      <div>
        <button
          (click)="closeDialog()"
          class="button-icon-outline w-100 d-block"
        >
          <span class="f-s-16">{{ "Cancel" | translate }}</span>
        </button>
      </div>
      <div>
        <button
          (click)="addExpense()"
          type="button"
          [disabled]="
            isSaving ||
            expenseForm.invalid ||
            (isEditWorkflow && !hasFormChanges())
          "
          class="button-icon w-100 d-block"
        >
          @if (isSaving) {
            <span class="f-s-16">{{ 'Saving...' | translate }}</span>
          } @else {
            <span class="f-s-16">{{ 'Save' | translate }}</span>
          }
        </button>
      </div>
    </div>
  </div>
</div>
