<div class="w-100">
  <div class="d-flex flex-column gap-32">
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
      <h3>{{ isEditMode ? 'Edit Asset' : 'Add Asset' }}</h3>
      <button (click)="onCancel()" type="button">
        <img src="assets/images/svgs/close-line-cion.svg" alt="close" />
      </button>
    </div>

    <mat-dialog-content>
      <div [formGroup]="form" class="d-flex flex-column gap-20">

        <div class="w-100 form-field gap-8">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">Category</mat-label>
          <div class="select-option">
            <mat-select formControlName="category" placeholder="Select category"
              hideSingleSelectionIndicator (selectionChange)="onCategoryChange()">
              @for (cat of categories; track cat.value) {
                <mat-option [value]="cat.value">{{ cat.label }}</mat-option>
              }
            </mat-select>
          </div>
        </div>

        <div class="w-100 form-field gap-8">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">Description</mat-label>
          <input matInput formControlName="description" placeholder="e.g. Primary residence" />
          @if(form.get('description')?.touched && form.get('description')?.hasError('required')) {
            <span class="field-error d-block">Required</span>
          }
        </div>

        <div class="d-flex flex-column gap-4 net-fields">
          <div class="d-flex flex-column gap-8">
            <mat-label class="f-s-16 d-block" style="line-height: 18px">Value</mat-label>
            <div class="net-field d-flex align-items-center">
              <div class="left hide-arrow">
                <mat-select formControlName="currencySymbol" class="sortby-edit-profile"
                  hideSingleSelectionIndicator disabled>
                  @for (country of countries; track country) {
                    @if(country.currencySymbol) {
                      <mat-option [value]="country.currencySymbol">{{country.currencySymbol}}</mat-option>
                    }
                  }
                </mat-select>
              </div>
              <div class="w-100 form-field">
                <input matInput type="text" formControlName="value"
                  [value]="form.get('value')?.value | thousandSeparator"
                  thousandSeparatorInput
                  (input)="onAmountInput($event.target.value)"
                  placeholder="0" />
              </div>
            </div>
            @if(form.get('value')?.touched && form.get('value')?.hasError('required')) {
              <span class="field-error d-block">Required</span>
            }
          </div>
        </div>

        <div class="w-100 form-field gap-8">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">Liquidity</mat-label>
          <div class="select-option">
            <mat-select formControlName="liquidity" placeholder="Select liquidity"
              hideSingleSelectionIndicator>
              @for (liq of liquidityLevels; track liq.value) {
                <mat-option [value]="liq.value">{{ liq.label }}</mat-option>
              }
            </mat-select>
          </div>
        </div>

      </div>
    </mat-dialog-content>

    <div class="row justify-content-between modal-action">
      <div class="col-5">
        @if(isEditMode) {
          <button type="button" class="button-icon-outline w-100 d-block" (click)="onDelete()" [disabled]="isSaving">
            <span class="f-s-16">Delete</span>
          </button>
        } @else {
          <button type="button" class="button-icon-outline w-100 d-block" (click)="onCancel()">
            <span class="f-s-16">Cancel</span>
          </button>
        }
      </div>
      <div class="col-5">
        <button type="button" class="button-icon w-100 d-block" (click)="onSave()"
          [disabled]="form.invalid || isSaving">
          @if(isSaving) {
            <span class="f-s-16">Saving...</span>
          } @else {
            <span class="f-s-16">Save</span>
          }
        </button>
      </div>
    </div>
  </div>
</div>
