.icon-percentage {
     padding: 0 0 0 1px;
    background: url(../../../../assets/images/shapes/percentage.svg) left top no-repeat;

    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    line-height: 11px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    right: 200px;
    top: 50%;
    text-align: center;
    display: flex;
    background-size: 20px 20px;
    margin-top: -15px;
    overflow: hidden;
    text-indent: -9999px;
}

.tab {
  span {
    line-height: 18px;
  }
  .tabs {
    border: 1px solid #516ce8;
    border-radius: 4px;
    padding: 2px;
    button {
      &.active {
        background-color: #516ce8;
      }
      background-color: white;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
      span {
        &.active {
          color: white;
        }
        font-weight: 500;
        color: #516ce8;
      }
    }
    .row {
      margin: 0 !important;
      .col-6 {
        padding: 0 !important;
      }
    }
    .coverage-btn{
      padding: 0;
    }
  }
}

.coverageTabs {
  border-radius: 4px;
  padding: 2px;
  span {
    color: #45556c;
  }
  .row {
    margin: 0 !important;
    .col-6 {
      padding: 0 !important;
    }
  }
  .coverage-wrapper{
    padding: 0;
  }
  .coverage-btn-colours {
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;
    font-weight: 500;

    &.basic {
      background-color: transparent;
      color: #45556c;
      border: 1px solid #e2e8f0;
    }
    &.basic-active {
      background-color: #fef3e4;
      border: 1px solid #bb4d00;
      span {
        color: #bb4d00;
      }
    }

    &.good {
      background-color: transparent;
      color: #45556c;
      border: 1px solid #e2e8f0;
    }
    &.good-active {
      background-color: #ecfdf5;
      border: 1px solid #a4f4cf;
      span {
        color: #007a55;
      }
    }

    &.excellent {
      background-color: transparent;
      color: #45556c;
      border: 1px solid #e2e8f0;
    }
    &.excellent-active {
      background-color: #b6f6d9;
      border: 1px solid #006045;
      span {
        color: #006045;
      }
    }
  }
}

.edit-name-icon {
  vertical-align: middle;
  height: 22px;
  width: 22px;
  margin-top: -2px;
}



