<!-- <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
    <span class="f-s-16">Cancel</span>
  </button> -->



<!--  Add Cashflow-->

<div class="w-100">
  <div class="d-flex flex-column gap-32">
    <!-- Modal Header  -->
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
      <h3>Add a savings pot, investment or pension</h3>
      <button (click)="closeDialog()" type="button">
        <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
      </button>
    </div>
    <!-- End Modal Header  -->

    <!-- Modal Body  -->
    <mat-dialog-content>
      <div class="d-flex flex-column gap-16" [formGroup]="savingsForm">
        <!-- Name Field  -->
        <div class="w-100 form-field gap-12">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">Name</mat-label>
          <div class="select-option">
            <mat-select formControlName="name" value="Select" style="height: 24px">
              <!-- <mat-select-trigger>
                <div class="d-flex align-items-center gap-8">
                  <img [src]="'/assets/images/svgs/' + selectedEventIconUrl + '.svg'"
                    [alt]="selectedEventIconUrl" />
                  <span>
                    {{ selectedEventName }}
                  </span>
                </div>
              </mat-select-trigger> -->
              <!-- <mat-option value="2.5%">Increase at same rate as inflation (2.5%)</mat-option> -->
              @for (event of savingPotValues; track event) {
              <mat-option [value]="event.name">
                <div class="d-flex align-items-center gap-8">
                  <img [src]="'/assets/images/svgs/' + event.iconUrl + '.svg'" [alt]="event.iconUrl" />
                  <span>
                    {{ event.name }}
                  </span>
                </div>
              </mat-option>
              }
              <mat-option value="Custom">
                <div class="d-flex align-items-center gap-8">
                  <img src="/assets/images/svgs/custom-option-icon.svg" alt="custom-event" height="24" width="24" />
                  <span>
                    Custom
                  </span>
                </div>
              </mat-option>
              <!-- <mat-option value="Custom">
                <div class="d-flex align-items-center gap-8">
                  <img src="/assets/images/svgs/state-pension-icon.svg" alt="custom-event" height="24" width="24" />
                  <span>
                    Custom
                  </span>
                </div>
              </mat-option> -->
            </mat-select>

          </div>
          <!-- <input matInput formControlName="name" /> -->
          <!-- Error  -->
          @if(savingsForm.get('name')?.touched &&
          savingsForm.get('name')?.hasError('required')) {
          <span class="field-error d-block">Name is required</span>
          }
          <!-- End Error  -->
        </div>
        <!--End  Name Field  -->

        <!-- Starting pot value Field  -->
        <div class="d-flex flex-column gap-12 net-fields">
          <span class="f-s-16 f-w-400">Starting pot value</span>
          <div class="net-field d-flex align-items-center">
            <!-- Currency Selector  -->
            <div class="left">
              <mat-select value="£" formControlName="currency" class="sortby-edit-profile" hideSingleSelectionIndicator>
                @for (country of countries; track country) {
                @if(country.currencySymbol) {
                <mat-option [value]="country.currencySymbol">{{
                  country.currencySymbol
                  }}</mat-option>

                }
                }
              </mat-select>
            </div>
            <!-- End Currency Selector  -->
            <!-- Price Field  -->
            <div class="w-100 form-field">
              <input matInput type="number" formControlName="amount" placeholder="0" />
            </div>
            <!-- End Price Field  -->
          </div>
          <!-- Error   -->
          @if(
          (savingsForm.get('amount')?.touched &&
          savingsForm.get('amount')?.hasError('required')) ||
          (savingsForm.get('currency')?.touched &&
          savingsForm.get('currency')?.hasError('required'))) {
          <span class="field-error d-block">Amount is required</span>
          }
          <!-- ENd Error   -->

        </div>
        <!-- End Starting pot value Field  -->

        <!-- Slider Section  -->
        <div class="d-flex flex-column gap-4">
          <div class="d-flex gap-8 align-items-center">
            <mat-label class="f-s-16 f-w-400 d-block">Return rate</mat-label>
            <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
          </div>
          <div class="d-flex align-items-center gap-24">
            <div class="slider-customizer slider-wrapper">
              <mat-slider class="w-100" min="0" max="20" step="1">
                <input matSliderThumb (valueChange)="onSliderChange($event)"
                  [value]="savingsForm.get('returnRate')?.value">
              </mat-slider>
            </div>
            <div class="percentage-field">
              <div class="w-100 form-field">
                <input placeholder="Return Rate" formControlName="returnRate" [value]="formattedReturnRate"
                  (input)="onInputChange($event)" (blur)="onInputBlur($event)" />
              </div>
            </div>
          </div>
          <span class="return-rate">Real return: {{savingsForm.get('returnRate')?.value - inflationRate}}% (net of
            {{inflationRate}}% inflation)</span>
          @if(
          (savingsForm.get('returnRate')?.touched &&
          savingsForm.get('returnRate')?.hasError('required'))) {
          <span class="field-error d-block">Return Rate is required</span>
          }
        </div>
        <!-- End Slider Section  -->

        <!-- CheckBox  -->
        <div class="checkbox-box">
          <div>
            <input type="checkbox" id="lock-pot" (change)="isLockPotChanged(savingsForm.get('lockPot')?.value)"
              formControlName="lockPot" />
          </div>
          <label for="lock-pot">Lock this pot from automatically covering an income shortfall</label>
        </div>
        <!-- End CheckBox  -->

        <!-- Savings pot is locked between  -->
        @if(savingsForm.get('lockPot')?.value) {
        <div class="start-end">
          <div class="d-flex flex-column gap-12">
            <div class="d-flex gap-8 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">Savings pot is locked between</mat-label>
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <!-- Start date  -->
              <div class="col-6">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                      <!-- <mat-icon matPrefix>expand_more</mat-icon> -->
                      <!-- @for (event of eventsList; track event) {
                      <mat-option [value]="event.start.year">{{ event.name }} ({{ event.start.age }})</mat-option>
                      }
                      <hr> -->
                      @for (year of years; track year) {
                      <mat-option [value]="year">{{ year }} ({{ year - clientBirthYear }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  <!-- Error  -->
                  @if(
                  (savingsForm.get('start')?.touched &&
                  savingsForm.get('start')?.hasError('required'))) {
                  <span class="field-error d-block">Start is required</span>
                  }
                  <!-- <span class="field-error d-block">Start is required</span> -->
                  <!-- End Error  -->
                </div>
              </div>

              <!-- Divider  -->
              <div class="d-flex justify-content-start align-items-start">
                <img src="assets/images/svgs/chevron-right-date-icon.svg" alt="chevron-right-date-icon" />
              </div>
              <!-- End date  -->
              <div class="col-6">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="end" hideSingleSelectionIndicator>
                      <!-- <mat-icon matPrefix>expand_more</mat-icon> -->
                      <!-- @for (event of eventsList; track event) {
                      <mat-option [value]="event.start.year">{{ event.name }} ({{ event.start.age }})</mat-option>
                      }
                      <hr> -->
                      @for (year of years; track year) {
                      <mat-option [value]="year">{{ year }} ({{ year - clientBirthYear }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  <!-- error  -->
                  @if(
                  (savingsForm.get('end')?.touched &&
                  savingsForm.get('end')?.hasError('required'))) {
                  <span class="field-error d-block">End is required</span>
                  }
                  <!-- <span class="field-error d-block">End is required</span> -->
                  <!-- End error  -->
                </div>
              </div>
            </div>
          </div>
        </div>

        }
        <!-- Finish Savings pot is locked between  -->

        <!-- CheckBox  -->
        <div class="checkbox-box">
          <div>
            <input type="checkbox" id="commissions"
              (change)="isCommissionsChanged(savingsForm.get('commissions')?.value)" formControlName="commissions" />
          </div>
          <label for="commissions">Add commissions</label>
        </div>
        <!-- End CheckBox  -->

        @if(savingsForm.get('commissions')?.value) {
        <div class="d-flex flex-column gap-12">
          <!-- Modal tabs  -->
          <div class="d-flex flex-column gap-12 tab">
            <span class="f-s-16 f-w-400">Commission type</span>
            <div class="tabs">
              <div class="row">
                <div class="col-6">
                  <button (click)="onCommissionTypeControlClicked(true)" class="button-icon w-100"
                    [class]="{ active: isAmountType }">
                    <span class="uppercase" [class]="{ active: isAmountType }">Amount</span>
                  </button>
                </div>
                <div class="col-6">
                  <button (click)="onCommissionTypeControlClicked(false)" class="button-icon w-100"
                    [class]="{ active: !isAmountType }">
                    <span class="uppercase" [class]="{ active: !isAmountType }">Percentage</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal tabs  -->

          <!-- Net Amount Field  -->
          <div class="d-flex flex-column gap-4 net-fields">
            <div class="net-field d-flex align-items-center">
              <!-- Currency Selector  -->
              <div class="left">
                <mat-select value="£" formControlName="commissionCurrency" class="sortby-edit-profile"
                  hideSingleSelectionIndicator>
                  @for (country of countries; track country) {
                  @if(country.currencySymbol) {
                  <mat-option [value]="country.currencySymbol">{{
                    country.currencySymbol
                    }}</mat-option>

                  }
                  }
                </mat-select>
              </div>
              <!-- End Currency Selector  -->
              <!-- Price Field  -->
              <div class="w-100 form-field">
                <input matInput type="number" formControlName="commissionAmount" placeholder="0" />
              </div>
              <!-- End Price Field  -->
              <!-- End Type Field  -->
              <div class="right">
                <mat-select value="Select" formControlName="commissionCycle" class="sortby-edit-profile"
                  hideSingleSelectionIndicator>
                  <!-- <mat-icon matPrefix>expand_more</mat-icon> -->
                  @for (cycle of cycles; track cycle) {
                  <mat-option [value]="cycle.id">{{ cycle.description }}</mat-option>
                  }
                </mat-select>
              </div>
              <!-- End Type Field  -->
            </div>
            <!-- Error  -->
            @if((savingsForm.get('commissionCycle')?.touched &&
            savingsForm.get('commissionCycle')?.hasError('required')) ||
            (savingsForm.get('commissionAmount')?.touched &&
            savingsForm.get('commissionAmount')?.hasError('required')) ||
            (savingsForm.get('commissionCurrency')?.touched &&
            savingsForm.get('commissionCurrency')?.hasError('required'))) {
            <span class="field-error d-block">Amount is required</span>
            }
            <!-- <span class="field-error d-block">Amount is required</span> -->
            <!-- End Error  -->
          </div>
          <!-- End Net Amount Field  -->
        </div>

        <div class="w-100 form-field gap-12">
          <div class="d-flex gap-8 align-items-center">
            <mat-label class="f-s-16 f-w-400 d-block">Commission escalation rate</mat-label>
            <img src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
          </div>
          <div class="position-relative">
            <div class="w-100 form-field">
              <div class="select-option">
                <mat-select formControlName="escalationRate" value="Select">
                  @for (escalationRate of escalationRates; track escalationRate) {
                  <mat-option [value]="escalationRate.id">{{ escalationRate.description }}</mat-option>
                  }
                </mat-select>
              </div>
              <!-- error  -->
              @if(savingsForm.get('escalationRate')?.touched &&
              savingsForm.get('escalationRate')?.hasError('required')) {
              <span class="field-error d-block">Escalation Rate is required</span>
              }
              <!-- <span class="field-error d-block">Escalation Rate is required</span> -->
              <!-- End error  -->
            </div>
          </div>
        </div>

        }
      </div>
    </mat-dialog-content>
    <!-- End Modal Body  -->

    <!-- Modal Action Button  -->
    <div class="row justify-content-between modal-action">
      <div class="col-5">
        <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
          <span class="f-s-16">Cancel</span>
        </button>
      </div>
      <div class="col-5">
        <button (click)="saveCashflow()" type="button" class="button-icon w-100 d-block">
          <span class="f-s-16">Save</span>
        </button>
      </div>
    </div>
    <!-- End Modal Action Button  -->
  </div>
</div>
<!-- End Add Cashflow -->