<mat-card class="edit-client-wrapper">
  <div class="edit-client-content-wrapper">
    <app-breadcrumb
      [showBackIcon]="true"
      [routeForBack]="'/clients'"
      title="Edit client"
    ></app-breadcrumb>
    <form
      [formGroup]="clientForm"
      (ngSubmit)="onSubmit()"
      class="edit-client-form-wrapper"
    >
      <div class="row justify-content-between">
        <div class="col-6">
          <div class="w-100 form-field">
            <mat-label class="f-s-14 f-w-600 d-block">Client Name</mat-label>
            <input matInput placeholder="John Deo" formControlName="name" />
            @if(clientForm.get('name')?.touched &&
            clientForm.get('name')?.hasError('required')) {
            <mat-error>Name is required</mat-error>
            }
          </div>
        </div>
        <div class="col-6">
          <div class="w-100 form-field">
            <mat-label class="f-s-14 f-w-600 d-block">Date Of Birth</mat-label>

            <!-- <mat-form-field appearance="outline" class="w-100"> -->
            <!-- <mat-label>Choose a date</mat-label> -->
            <div class="position-relative">
              <input matInput [matDatepicker]="picker" formControlName="dob" />
              <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
              <div class="date-picker-position">
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>
                    <img
                      src="assets/images/svgs/datepicker-icon.svg"
                      alt="datepicker-icon"
                    />
                  </mat-icon>
                </mat-datepicker-toggle>
              </div>
              <mat-datepicker #picker></mat-datepicker>
            </div>
            @if(clientForm.get('dob')?.touched &&
            clientForm.get('dob')?.hasError('required')) {
            <mat-error>Date Of Birth is required</mat-error>
            }
            <!-- </mat-form-field> -->
            <!-- <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="ACME Inc." />
                            </mat-form-field> -->
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-6">
          <div class="w-100 form-field">
            <mat-label class="f-s-14 f-w-600 d-block">Country</mat-label>

            <div class="select-option">
              <mat-select (valueChange)="clientCountryValueChange($event)" formControlName="country" value="Select">
                @for(country of allCountries; track country) {
                  @if(country.currencySymbol) {
                    <mat-option [value]="country.countryName">{{country.countryName}}</mat-option>
                  }
                }
              </mat-select>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="w-100 form-field">
            <mat-label class="f-s-14 f-w-600 d-block">
              Preferred Currency</mat-label
            >
            <div class="select-option">
              <mat-select formControlName="currency" value="Select">
                @for(country of allCountries; track country) {
                  @if(country.currencySymbol) {
                    <mat-option [value]="country.currencySymbol">{{country.currencySymbol}}</mat-option>
                  }
                } 
              </mat-select>
            </div>
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="w-100 form-field">
            <mat-label class="f-s-14 f-w-600 d-block">Gender</mat-label>
            <div class="select-option">
              <mat-select formControlName="gender" value="Select">
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
              </mat-select>
            </div>
          </div>
        </div> -->
      </div>
      <div class="checkbox-align d-flex flex-column gap-1">
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Email</mat-label>
              <input
                matInput
                placeholder="email@somedomain.com"
                formControlName="email"
              />
              @if(clientForm.get('email')?.hasError('email')) {
              <mat-error>Invalid Email Address</mat-error>
              }
            </div>
          </div>
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Telephone</mat-label>
              <ngx-intl-tel-input
                [cssClass]="'custom'"
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [selectFirstCountry]="false"
                [enableAutoCountrySelect]="true"
                [selectedCountryISO]="selectedPartnerCountryISO"
                [maxLength]="15"
                [phoneValidation]="true"
                name="phone"
                formControlName="phone"
                ></ngx-intl-tel-input>
              <!-- <input
                matInput
                placeholder="00000000000"
                formControlName="phone"
              /> -->
            </div>
          </div>
        </div>
        <div class="checkbox-box">
          <div>
            <input
              type="checkbox"
              id="partner-section"
              [checked]="showPartner"
              (change)="togglePartnerSection(!showPartner)"
            />
          </div>
          <label for="partner-section">Add a partner or spouse</label>
        </div>
      </div>
      <!-- <mat-checkbox
        class="example-margin"
        [checked]="showPartner"
        (change)="togglePartnerSection(!showPartner)"
        >Add a partner or spouse</mat-checkbox
      > -->
      @if(showPartner) {
      <ng-container formGroupName="partner">
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Partner Name</mat-label>
              <input matInput placeholder="John Deo" formControlName="name" />
              @if(clientForm.get('partner.name')?.touched &&
              clientForm.get('partner.name')?.hasError('required')) {
              <span class="field-error d-block">Name is required</span>
              }
            </div>
          </div>
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block"
                >Date Of Birth</mat-label
              >
              <div class="position-relative">
                <input
                  matInput
                  [matDatepicker]="partnerPicker"
                  formControlName="dob"
                />
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <div class="date-picker-position">
                  <mat-datepicker-toggle matIconSuffix [for]="partnerPicker">
                    <mat-icon matDatepickerToggleIcon>
                      <img
                        src="assets/images/svgs/datepicker-icon.svg"
                        alt="datepicker-icon"
                      />
                    </mat-icon>
                  </mat-datepicker-toggle>
                </div>
                <mat-datepicker #partnerPicker></mat-datepicker>
              </div>
              @if(clientForm.get('partner.dob')?.touched &&
              clientForm.get('partner.dob')?.hasError('required')) {
              <span class="field-error d-block">Date Of Birth is required</span>
              }

              <!-- <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="ACME Inc." />
                                    </mat-form-field> -->
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Country</mat-label>
  
              <div class="select-option">
                <mat-select (valueChange)="partnerCountryValueChange($event)" formControlName="country" value="Select">
                  @for(country of allCountries; track country) {
                    @if(country.currencySymbol) {
                      <mat-option [value]="country.countryName">{{country.countryName}}</mat-option>
                    }
                  }
                </mat-select>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">
                Preferred Currency</mat-label
              >
              <div class="select-option">
                <mat-select formControlName="currency" value="Select">
                  @for(country of allCountries; track country) {
                    @if(country.currencySymbol) {
                      <mat-option [value]="country.currencySymbol">{{country.currencySymbol}}</mat-option>
                    }
                  } 
                </mat-select>
              </div>
            </div>
          </div>
          <!-- <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Gender</mat-label>
              <div class="select-option">
                <mat-select formControlName="gender" value="Select">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
              </div>
            </div>
          </div> -->
        </div>
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Email</mat-label>
              <input
                matInput
                placeholder="email@somedomain.com"
                formControlName="email"
              />
              @if(clientForm.get('partner.email')?.hasError('email')) {
              <span class="field-error d-block">Invalid Email Address</span>
              }
            </div>
          </div>
          <div class="col-6">
            <div class="w-100 form-field">
              <mat-label class="f-s-14 f-w-600 d-block">Telephone</mat-label>
              <ngx-intl-tel-input
                [cssClass]="'custom'"
                [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [selectFirstCountry]="false"
                [enableAutoCountrySelect]="true"
                [selectedCountryISO]="selectedPartnerCountryISO"
                [maxLength]="15"
                [phoneValidation]="true"
                name="phone"
                formControlName="phone"
                ></ngx-intl-tel-input>
              <!-- <input
                matInput
                placeholder="0000000000"
                formControlName="phone"
              /> -->
            </div>
          </div>
        </div>
      </ng-container>
      }
      <div class="row">
        <div class="w-100 form-field">
          <mat-label class="f-s-14 f-w-600 d-block">Notes</mat-label>
          <input matInput formControlName="notes" />
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-sm-12">
          <button
            mat-flat-button
            class="btn-submit"
            type="submit"
            [disabled]="clientForm.invalid"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</mat-card>
