@if(item.navCap){
<a (click)="onItemSelected(item)" class="cashflow-modal d-flex align-items-center gap-8"
style="margin-top: 11px;"
[ngClass]="navItem.currentRouteName === item.displayName ? 'activeMenu' : ''"
>
  <img style="width: 18px;" src="assets/images/svgs/inheritance-icon.svg" alt="cash-flow">
  <!-- <span>{{ item.navCap }}</span> -->
  <span>{{ 'Lifetime Plan' | translate }}</span>
</a>
} @if(!item.navCap && !item.external && !item.twoLines) {
<a mat-list-item (click)="onItemSelected(item)" [disableRipple]="true" [ngClass]="{
    'mat-toolbar mat-primary activeMenu': item.route
      ? navItem.currentRouteName === item.displayName
      : false,
    expanded: expanded,
    disabled: item.disabled
  }" class="menu-list-item">
  <!-- <i-tabler
    class="routeIcon"
    name="{{ item.iconName }}"
    matListItemIcon
  ></i-tabler> -->
  <!-- <div
    style="
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
     
    "
  > -->
  <!-- @if(navItem.currentRouteName === item.displayName) {
  <img style="flex: none; max-width: 18px;" class="connecting-line" [src]="item.iconName" alt="item" />
  
  }
  @else {
  <img style="flex: none;max-width: 18px;" class="connecting-line" [src]="item.iconOutline" alt="item" />
  
  } -->
  <!-- </div> -->
  <!-- <span class="hide-menu">{{ item.displayName | translate }}</span> -->

  <div class="nav-item-row">
    <div class="nav-left">
      <img
      style="flex: none; max-width: 18px;"
      [src]="item.currentRouteName === item.displayName ? item.iconName : item.iconOutline"
      alt="item"
    />
      <span class="hide-menu">{{ item.displayName | translate }}</span>
    </div>

  @if(showLabel){
    <span class="menu-label">{{ label }}</span>
  }
</div>

  @if(item.children && item.children.length) {
  <span class="arrow-icon" fxFlex>
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'">
      expand_more
    </mat-icon>
  </span>
  } @if(item.chip) {
  <span>
    <span class="{{ item.chipClass }} p-x-8 p-y-4 item-chip f-w-500 rounded-pill ">{{ item.chipContent }}</span>
  </span>
  }
</a>
}

<!-- external Link -->

@if(!item.navCap && item.external) {
<mat-list-item
  (click)="onExternalLinkClick(item.route)"
  class="menu-list-item"
>
  <img style="flex: none; max-width: 18px;" [src]="item.iconOutline" alt="item" />
  <span class="hide-menu">{{ item.displayName | translate }}</span>
</mat-list-item>
}

<!-- children -->
@if(expanded) { @for(child of item.children; track child) {
<app-nav-item [item]="child" (click)="onSubItemSelected(child)" [depth]="depth + 1">
</app-nav-item>
} }