/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;  }
/* Global tooltip width & wrapping */
.cdk-overlay-container .mat-mdc-tooltip-surface {
    max-width: 400px !important;
    white-space: pre-line;
    font-size: 14px;
    background: #fff;
    color: #2a3547;
    font-family: 'Ubuntu';
    border: 1px solid #e7e7eb;
    padding: 15px;
}
.hint{
     margin: 0px;
    position: relative;
    top: -13px;
    font-size: 14px;
    color: #979797;
}
.mb-20{
  margin-bottom: 20px;
}
.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: end;
}
.justify-space-between{
  justify-content: space-between;
}
.pull-right{
  float: right;
}
.ma{
  margin: auto;
}
.justify-between{
  justify-content: space-between;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.mat-mdc-card{
      border: 1px solid #e7e7eb !important;
    border-radius: 12px !important;
        box-shadow: none !important;
}
.client-form-wrapper{
  padding: 0px 130px;
}
.mat-mdc-table{
  tr{
    th{
      color: #3A3A47;
      font-weight: 700;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensures consistent spacing between cells */
}
.modal-header{
  button{
    border-radius: 4px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      background-color: #ffcece;
    }
  }
}
.mat-mdc-form-field{
  .mat-mdc-text-field-wrapper{
    .mat-mdc-form-field-infix{
      height: 49px;
      line-height: 37px;
      }
  }
}
.percentage-icon{

  .mat-mdc-form-field-infix{
    flex: inherit;
    margin-right: 5px;
    input{
      padding: 0px !important;
      min-height: inherit;
    }
    
  }
  .mat-mdc-form-field-icon-suffix {
     padding: 0 0 0 1px;
    background: url(../src/assets/images/shapes/percentage.png) left top no-repeat;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    line-height: 11px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    right: 16px;
    top: 15px;
    text-align: center;
    display: flex;
    background-size: contain;
    span{
      display: none;
    }
}
}
.field-error,
.mat-mdc-form-field-error {
   padding-left: 0px !important;
    color: red !important;
}
.mat-mdc-form-field-error-wrapper{
  padding-left: 0px !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid .mat-mdc-notch-piece{
  border-color: red !important;
}

button {
  span{
    text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}


.modal-header{
  h3{
     text-transform: lowercase;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.hide-arrow{
  .mat-mdc-select-arrow-wrapper{
    display: none;
  }
}
.mat-internal-form-field>label{
  margin-top: 3px;
}

.disabled-field {
  .mat-mdc-input-element{
    color:#b2b2b4 !important
  }
}

.main-header-content {
  .header-icon {
    margin-right: 10px;
}
}
.mdc-switch__track::after{
  background-color: #516CE8;
}
.apexcharts-text,
.apexcharts-legend-text,
.apexcharts-text tspan{
  font-size: 14px !important;
  font-family: 'Ubuntu' !important;
      font-weight: 600 !important;
}
.apexcharts-text tspan{
font-weight: 400 !important;
}


/* Hide all minor labels first */
.vis-panel .vis-time-axis .vis-text.vis-minor {
  display: none;
}

/* Show every 5th minor label */
.vis-panel .vis-time-axis .vis-text.vis-minor:nth-of-type(5n),
.vis-panel .vis-time-axis .vis-text.vis-minor:first-of-type,
.vis-panel .vis-time-axis .vis-text.vis-minor:last-of-type {
  display: block;
}

/* Style age (<p>) and year (<span>) */
.vis-panel .vis-time-axis .vis-text.vis-minor p,
.vis-panel .vis-time-axis .vis-text.vis-minor span {
  font-size: 14px;   /* adjust as you like */
  font-weight: bold;
}