<!-- system events on top of timeline (dragdrop) -->
@if(selectedEventType === eventType.SYSTEM){
<div class="d-flex flex-column gap-32">
  <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
    <div class="d-flex align-items-center gap-10">
      <img matChipAvatar [src]="'/assets/images/svgs/' + patchEvent.iconUrl + '.svg'" [alt]="patchEvent.iconUrl"
        class="bold-icon" />
      <h3>
        {{ eventForm.get('name')?.value }}
        <ng-container *ngIf="isAllowRename">
          <img src="assets/images/svgs/drop-down-edit-2-line.svg" alt="edit" class="cursor-pointer edit-name-icon"
            (click)="toggleNameEdit()" />
        </ng-container>
      </h3>
    </div>
    <button (click)="closeDialog()" type="button">
      <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
    </button>
  </div>

  <mat-dialog-content class="event-dialog-content">
    <div [formGroup]="eventForm" class="d-flex flex-column gap-20">
      <div class="w-100 form-field gap-8" *ngIf="showNameEdit">
        <mat-label class="f-s-16 d-block" style="line-height: 18px">Name</mat-label>
        <input matInput formControlName="name" />
        @if(eventForm.get('name')?.touched &&
        eventForm.get('name')?.hasError('required')) {
        <span class="field-error d-block">{{'Required' | translate}}</span>
        }
      </div>

      <div class="d-flex flex-column gap-8 tab" *ngIf="!hideEventType">
        <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Type' | translate}}
          <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
            matTooltip="{{ 'ADD_EVENT.EVENT_TYPE_TOOLTIP' | translate }}">
        </mat-label>
        <div class="tabs">
          <div class="row">
            <div class="col-6">
              <button (click)="onIncomeControlClicked(true)" class="button-icon w-100"
                [class]="{ active: isIncomeEvent }">
                <span [class]="{ active: isIncomeEvent }">{{ 'Income' | translate }}</span>
              </button>
            </div>
            <div class="col-6">
              <button (click)="onIncomeControlClicked(false)" class="button-icon w-100"
                [class]="{ active: !isIncomeEvent }">
                <span [class]="{ active: !isIncomeEvent }">{{ 'Expense' | translate }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column gap-8 net-fields">
        <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Net amount' | translate }}
          <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
            matTooltip="{{ 'ADD_EVENT.ENTER_AMOUNT_TOOLTIP' | translate }}">
        </mat-label>

        <div class="net-field d-flex align-items-center">
          <div class="left hide-arrow">
            <mat-select value="£" formControlName="currency" class="sortby-edit-profile" hideSingleSelectionIndicator>
              @for (country of countries; track country) {
              @if(country.currencySymbol) {
              <mat-option [value]="country.currencySymbol">{{
                country.currencySymbol
                }}</mat-option>
              }
              }
            </mat-select>
          </div>
          <div class="w-100 form-field">
            <input matInput type="text" inputmode="decimal" formControlName="amount" #amountInput thousandSeparatorInput
              placeholder="0" />
          </div>
          <div class="right ">
            <mat-select (valueChange)="onCycleValueChange($event)" value="Select" formControlName="cycle"
              class="sortby-edit-profile" [class.hide-arrow]="isInheritanceOneOff" [disabled]="isInheritanceOneOff"
              hideSingleSelectionIndicator>
              @for (cycle of cycles; track cycle) {
              <mat-option [value]="cycle">{{ cycle }}</mat-option>
              }
            </mat-select>
          </div>
        </div>
        @if((eventForm.get('cycle')?.touched &&
        eventForm.get('cycle')?.hasError('required')) ||
        (eventForm.get('amount')?.touched &&
        eventForm.get('amount')?.hasError('required')) ||
        (eventForm.get('currency')?.touched &&
        eventForm.get('currency')?.hasError('required'))) {
        <span class="field-error d-block">{{'Required' | translate}}</span>
        }
      </div>
      @if(isInheritanceOneOff)
      {
      <div class="w-100 form-field gap-8">
        <div class="d-flex gap-4 align-items-center">
          <mat-label class="f-s-16 f-w-400 d-block">{{ 'Date' | translate}}</mat-label>

          <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
        </div>
        <div class="position-relative">
          <div class="w-100 form-field">
            <div class="select-option">
              <mat-select value="Select" formControlName="ageDate" hideSingleSelectionIndicator>
                @for (year of years; let i = $index; track year) {
                <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                }
              </mat-select>
            </div>
            @if(eventForm.get('ageDate')?.touched &&
            eventForm.get('ageDate')?.hasError('required')) {
            <span class="field-error d-block">{{'Required' | translate}}</span>
            }
          </div>
        </div>
      </div>
      }
      @else {
      <div class="start-end">
        <div class="d-flex flex-column gap-8">
          <div class="d-flex gap-4 align-items-center">

            <mat-label class="f-s-16 f-w-400 d-block">
              {{ (eventForm.get('cycle')?.value === 'One-off' ? 'Date' : 'Start & end') | translate }}
            </mat-label>
            <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
              matTooltip="{{ 'ADD_EVENT.DEFINE_EVENT_PERIOD_TOOLTIP' | translate }}">
          </div>
          <div class="row justify-content-between align-items-start flex-nowrap">
            <div [className]="eventForm.get('cycle')?.value !== 'One-off' ? 'col-6' : 'w-100'">
              <div class="w-100 form-field">
                <div class="select-option">
                  <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                    @for (year of years; let i = $index; track year) {
                    <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                    }
                  </mat-select>
                </div>
                @if(eventForm.get('start')?.touched &&
                eventForm.get('start')?.hasError('required')) {
                @if(eventForm.get('cycle')?.value ==='One-off')
                {
                <span class="field-error d-block">{{'Required' | translate}}</span>
                }
                @else
                {
                <span class="field-error d-block">{{'Required' | translate}}</span>
                }
                }
              </div>
            </div>

            @if(eventForm.get('cycle')?.value !== 'One-off') {

            <div class="d-flex justify-content-start align-items-start">
              <img src="assets/images/svgs/chevron-right-date-icon.svg" alt="chevron-right-date-icon" />
            </div>

            <div class="col-6">
              <div class="w-100 form-field">
                <div class="select-option">
                  <mat-select value="Select" formControlName="end" hideSingleSelectionIndicator>
                    @for (event of eventsList; track event) {
                    <mat-option [value]="event.year">{{ event.name }} ({{ event.age }})</mat-option>
                    }
                    <hr>
                    @for (year of years; let i = $index; track year) {
                    <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                    }
                  </mat-select>
                </div>
                @if(eventForm.get('end')?.touched &&
                eventForm.get('end')?.hasError('required')) {
                <span class="field-error d-block">{{'Required' | translate}}</span>
                }
                @if(eventForm.get('end')?.touched &&
                eventForm.get('end')?.hasError('endBeforeStart')) {
                <span class="field-error d-block">End year cannot be before start year</span>
                }
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      }
      @if(eventForm.get('cycle')?.value !== 'One-off') {
      <div class="w-100 d-flex flex-column gap-20">
        <div class="escalation-inline">
          <div class="d-flex flex-column gap-8 escalation-field"
            [class.escalation-full]="selectedEscalationDescription !== 'Increases at custom rate'">
            <div class="d-flex gap-4 align-items-center">
              <mat-label class="f-s-16 f-w-400 d-block">{{ 'Escalation rate' | translate}}</mat-label>
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
                matTooltip="{{ 'ADD_EVENT.AMOUNT_GROWTH_TOOLTIP' | translate }}">
            </div>
            <div class="position-relative">
              <div class="w-100 form-field">
                <div class="select-option">
                  <mat-select formControlName="escalationRate" value="Select"
                    (selectionChange)="onEscalationRateChange($event)">
                    @for (escalationRate of escalationRates; track escalationRate) {
                    <mat-option [value]="escalationRate.value">{{ escalationRate.description }}</mat-option>
                    }
                  </mat-select>
                </div>
                @if(eventForm.get('escalationRate')?.touched &&
                eventForm.get('escalationRate')?.hasError('required')) {
                <span class="field-error d-block">{{'Required' | translate}}</span>
                }
              </div>
            </div>
          </div>
          @if(selectedEscalationDescription === 'Increases at custom rate') {
          <div class="d-flex flex-column gap-8 escalation-field escalation-custom">
            <mat-label class="f-s-16 d-block">{{ 'Custom escalation rate' | translate }}</mat-label>
            <div class="w-100 form-field custom-rate-input">
              <input matInput type="number" formControlName="customEscalationRate"
                placeholder="0" />
              <img class="custom-rate-suffix" src="assets/images/shapes/percentage.svg" alt="percentage" />
            </div>
            @if(eventForm.get('customEscalationRate')?.touched &&
            eventForm.get('customEscalationRate')?.hasError('required')) {
            <span class="field-error d-block">{{'Required' | translate}}</span>
            }
          </div>
          }
        </div>
      </div>
      }
    </div>
  </mat-dialog-content>

  <div class="row justify-content-between modal-action">
    <div class="col-5">
      <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
        <span class="f-s-16">{{ 'Cancel' | translate }}</span>
      </button>
    </div>
    <div class="col-5">
      <button (click)="onSystemEventSubmit()" class="button-icon w-100 d-block">
        <span class="f-s-16">{{ 'Save' | translate }}</span>
      </button>
    </div>
  </div>
</div>
}

<!-- financing events (Car / Home / Boat) -->
@if(selectedEventType === eventType.FINANCING) {
<div class="d-flex flex-column gap-32">
  <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
    <div class="d-flex align-items-center gap-10">
      <img matChipAvatar [src]="'/assets/images/svgs/' + patchEvent.iconUrl + '.svg'" [alt]="patchEvent.iconUrl"
        class="bold-icon" />
      <h3>
        {{ eventForm.get('name')?.value }}
        <ng-container *ngIf="isAllowRename">
          <img src="assets/images/svgs/drop-down-edit-2-line.svg" alt="edit" class="cursor-pointer edit-name-icon"
            (click)="toggleNameEdit()" />
        </ng-container>
      </h3>
    </div>
    <button (click)="closeDialog()" type="button">
      <img src="assets/images/svgs/close-line-cion.svg" alt="close" />
    </button>
  </div>

  <mat-dialog-content class="event-dialog-content">
    <div [formGroup]="eventForm" class="d-flex flex-column gap-20">

      <div class="w-100 form-field gap-8" *ngIf="showNameEdit">
        <mat-label class="f-s-16 d-block" style="line-height: 18px">Name</mat-label>
        <input matInput formControlName="name" />
        @if(eventForm.get('name')?.touched &&
        eventForm.get('name')?.hasError('required')) {
        <span class="field-error d-block">{{'Required' | translate}}</span>
        }
      </div>

      <!-- cash vs financing selector -->
      <div class="d-flex flex-column gap-8 tab">
        <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Payment method' | translate}}
          <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
            matTooltip="{{ 'ADD_EVENT.EVENT_TYPE_TOOLTIP' | translate }}">
        </mat-label>

        <div class="tabs">
          <div class="row">
            <div class="col-6">
              <button (click)="onCashControlClicked(true)" class="button-icon w-100" [class.active]="isCashEvent">
                <span [class.active]="isCashEvent">{{ 'Cash' | translate }}</span>
              </button>
            </div>

            <div class="col-6">
              <button (click)="onCashControlClicked(false)" class="button-icon w-100" [class.active]="!isCashEvent">
                <span [class.active]="!isCashEvent">{{ 'Financing' | translate }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      @if(isHomeEvent && !isCashEvent) {
      <div class="d-flex flex-column gap-8">
        <button (click)="toggleMortgageCalculator()" type="button" class="mortgage-toggle-btn">
          <img src="assets/images/svgs/cashflow-moneys-icon.svg" alt="calculator" width="16" />
          <span>{{ showMortgageCalculator ? ('Hide mortgage or loan calculator' | translate) : ('Use mortgage or loan calculator' | translate) }}</span>
        </button>

        @if(showMortgageCalculator) {
        <app-mortgage-calculator
          [clientCountryCode]="clientCountryCode"
          [currencySymbol]="clientPreferredCurrency"
          [initialState]="lastCalculatorState"
          (calculated)="onMortgageApplied($event)"
          (stateChanged)="onCalculatorStateChanged($event)">
        </app-mortgage-calculator>
        }
      </div>
      }

      <div class="d-flex flex-column gap-8 net-fields">
        @if(isCashEvent) {
        <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Net amount' | translate }}
          <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
            matTooltip="{{ 'ADD_EVENT.ENTER_AMOUNT_TOOLTIP' | translate }}">
        </mat-label>
        }
        @else {
        <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Downpayment' | translate }}
          <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
            matTooltip="{{ 'ADD_EVENT.ENTER_AMOUNT_TOOLTIP' | translate }}">
        </mat-label>
        }

        <div class="net-field d-flex align-items-center">
          <div class="left hide-arrow">
            <mat-select value="£" formControlName="currency" class="sortby-edit-profile" hideSingleSelectionIndicator>
              @for (country of countries; track country) {
              @if(country.currencySymbol) {
              <mat-option [value]="country.currencySymbol">{{
                country.currencySymbol
                }}</mat-option>
              }
              }
            </mat-select>
          </div>
          <div class="w-100 form-field">
            <input matInput type="text" inputmode="decimal" formControlName="amount" #amountInput thousandSeparatorInput
              placeholder="0" />
          </div>
          <div class="right hide-arrow">
            <mat-select (valueChange)="onCycleValueChange($event)" value="Select" formControlName="cycle"
              class="sortby-edit-profile" hideSingleSelectionIndicator>
              @for (cycle of cycles; track cycle) {
              <mat-option [value]="cycle">{{ cycle }}</mat-option>
              }
            </mat-select>
          </div>
        </div>
        @if((eventForm.get('cycle')?.touched &&
        eventForm.get('cycle')?.hasError('required')) ||
        (eventForm.get('amount')?.touched &&
        eventForm.get('amount')?.hasError('required')) ||
        (eventForm.get('currency')?.touched &&
        eventForm.get('currency')?.hasError('required'))) {
        <span class="field-error d-block">{{'Required' | translate}}</span>
        }
      </div>

      <div class="w-100 form-field gap-8">
        <div class="d-flex gap-4 align-items-center">
          <mat-label class="f-s-16 f-w-400 d-block">{{ 'Date' | translate}}</mat-label>
          <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
        </div>
        <div class="position-relative">
          <div class="w-100 form-field">
            <div class="select-option">
              <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                @for (year of years; let i = $index; track year) {
                <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                }
              </mat-select>
            </div>
            @if(eventForm.get('start')?.touched &&
            eventForm.get('start')?.hasError('required')) {
            <span class="field-error d-block">{{'Required' | translate}}</span>
            }
          </div>
        </div>
      </div>

      <!-- financing mode -->
      @if(!isCashEvent) {
      <!-- monthly payment -->
      <div class="d-flex flex-column gap-8 net-fields">
        <div class="d-flex gap-4 align-items-center">
          <mat-label class="f-s-16 f-w-400 d-block">{{ 'Monthly payment' | translate }}</mat-label>
          <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
        </div>
        <div class="net-field d-flex align-items-center">
          <div class="left hide-arrow">
            <mat-select value="£" formControlName="currency" class="sortby-edit-profile" hideSingleSelectionIndicator>
              @for (country of countries; track country) {
              @if(country.currencySymbol) {
              <mat-option [value]="country.currencySymbol">{{
                country.currencySymbol
                }}</mat-option>
              }
              }
            </mat-select>
          </div>
          <div class="w-100 form-field">
            <input matInput type="text" inputmode="decimal" formControlName="monthlyPayment" #monthlyPayment thousandSeparatorInput
              placeholder="0" />
          </div>
        </div>
      </div>

      <!-- start / end -->
      <div class="start-end">
        <div class="d-flex flex-column gap-8">
          <div class="d-flex gap-4 align-items-center">
            <mat-label class="f-s-16 f-w-400 d-block">
              {{ 'Start & end' | translate }}
            </mat-label>
            <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
              matTooltip="{{ 'ADD_EVENT.DEFINE_EVENT_PERIOD_TOOLTIP' | translate }}">
          </div>
          <div class="row justify-content-between align-items-start flex-nowrap">
            <div class="col-6">
              <div class="w-100 form-field">
                <div class="select-option">
                  <mat-select value="Select" formControlName="monthlyStart" hideSingleSelectionIndicator>
                    @for (year of years; let i = $index; track year) {
                    <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                    }
                  </mat-select>
                </div>
                @if(eventForm.get('monthlyStart')?.touched &&
                eventForm.get('monthlyStart')?.hasError('required')) {
                <span class="field-error d-block">{{'Required' | translate}}</span>
                }
              </div>
            </div>

            <div class="d-flex justify-content-start align-items-start">
              <img src="assets/images/svgs/chevron-right-date-icon.svg" alt="chevron-right-date-icon" />
            </div>

            <div class="col-6">
              <div class="w-100 form-field">
                <div class="select-option">
                  <mat-select value="Select" formControlName="monthlyEnd" hideSingleSelectionIndicator>
                    @for (year of years; let i = $index; track year) {
                    <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                    }
                  </mat-select>
                </div>
                @if(eventForm.get('monthlyEnd')?.touched &&
                eventForm.get('monthlyEnd')?.hasError('required')) {
                <span class="field-error d-block">{{'Required' | translate}}</span>
                }
                @if(eventForm.get('monthlyEnd')?.touched &&
                eventForm.get('monthlyEnd')?.hasError('endBeforeStart')) {
                <span class="field-error d-block">End year cannot be before start year</span>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      }

      <!-- resale checkbox -->
      <div class="d-flex align-items-center gap-8">
        <section class="example-section">
          <mat-checkbox type="checkbox" (change)="hasResaleChanged($event.checked)" formControlName="hasResale">
            {{ 'I plan to sell this asset' | translate}}
          </mat-checkbox>
        </section>
      </div>

      @if(eventForm.get('hasResale')?.value) {
      <div class="start-start">
        <div class="row">
          <div class="col-6">
            <div class="d-flex gap-4 align-items-center m-b-10">
              <mat-label class="f-s-16 f-w-400 d-block">{{ 'Resale date' | translate }}</mat-label>
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
                matTooltip="{{ 'ADD_EVENT.DEFINE_EVENT_PERIOD_TOOLTIP' | translate }}">
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <div class="col-12">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select formControlName="resaleDate" hideSingleSelectionIndicator>
                      @for (year of years; let i = $index; track year) {
                      <mat-option [value]="year">
                        {{ year }} ({{ clientAge + i }})
                      </mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(eventForm.get('resaleDate')?.touched && eventForm.get('resaleDate')?.hasError('required')) {
                  <span class="field-error d-block">{{'Required' | translate}}</span>
                  }
                </div>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="d-flex flex-column gap-8 net-fields">
              <div class="d-flex gap-4 align-items-center">
                <mat-label class="f-s-16 f-w-400 d-block">{{ 'Resale price' | translate }}</mat-label>
                <img width="18" src="assets/images/svgs/help-circle-icon.svg" alt="help-circle-icon" />
              </div>
              <div class="net-field d-flex align-items-center">
                <div class="left hide-arrow">
                  <mat-select value="£" formControlName="currency" class="sortby-edit-profile"
                    hideSingleSelectionIndicator>
                    @for (country of countries; track country) {
                    @if(country.currencySymbol) {
                    <mat-option [value]="country.currencySymbol">{{
                      country.currencySymbol
                      }}</mat-option>
                    }
                    }
                  </mat-select>
                </div>
                <div class="w-100 form-field">
                  <input matInput type="text" inputmode="decimal" formControlName="resalePrice" #resalePrice thousandSeparatorInput
                    placeholder="0" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </mat-dialog-content>

  <div class="row justify-content-between modal-action">
    <div class="col-5">
      <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
        <span class="f-s-16">{{ 'Cancel' | translate }}</span>
      </button>
    </div>
    <div class="col-5">
      <button (click)="onFinancingEventSubmit()" class="button-icon w-100 d-block">
        <span class="f-s-16">{{ 'Save' | translate }}</span>
      </button>
    </div>
  </div>
</div>
}

<!-- custom event with add button -->
@if(selectedEventType === eventType.CUSTOM) {
<div class="w-100">
  <div class="d-flex flex-column gap-32">
    <div class="d-flex align-items-center justify-content-between gap-10 modal-header">
      <div class="d-flex align-items-center gap-10">
        <img matChipAvatar src="/assets/images/svgs/custom-icon.svg" [alt]="custom-icon" class="bold-icon" />
        <h3>
          {{ isEditWorkflow ? eventForm.get('name')?.value : ('Custom event' | translate) }}
          <ng-container *ngIf="isEditWorkflow">
            <img src="assets/images/svgs/drop-down-edit-2-line.svg" alt="edit" class="cursor-pointer edit-name-icon"
              (click)="toggleNameEdit()" />
          </ng-container>
        </h3>
      </div>
      <button (click)="closeDialog()" type="button">
        <img src="assets/images/svgs/close-line-cion.svg" alt="close-line-cion" />
      </button>
    </div>

    <mat-dialog-content class="event-dialog-content">
      <div [formGroup]="eventForm" class="d-flex flex-column gap-20">
        <div class="w-100 form-field gap-8" *ngIf="!isEditWorkflow || showNameEdit">
          <mat-label class="f-s-16 d-block" style="line-height: 18px">Name</mat-label>
          <input matInput formControlName="name" />
          @if(eventForm.get('name')?.touched &&
          eventForm.get('name')?.hasError('required')) {
          <span class="field-error d-block">{{'Required' | translate}}</span>
          }
        </div>

        <div class="d-flex flex-column gap-8 tab">
          <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Type' | translate}}
            <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
              matTooltip="{{ 'ADD_EVENT.EVENT_TYPE_TOOLTIP' | translate }}">
          </mat-label>
          <div class="tabs">
            <div class="row">
              <div class="col-6">
                <button (click)="onIncomeControlClicked(true)" class="button-icon w-100"
                  [class]="{ active: isIncomeEvent }">
                  <span [class]="{ active: isIncomeEvent }">{{ 'Income' | translate }}</span>
                </button>
              </div>
              <div class="col-6">
                <button (click)="onIncomeControlClicked(false)" class="button-icon w-100"
                  [class]="{ active: !isIncomeEvent }">
                  <span [class]="{ active: !isIncomeEvent }">{{ 'Expense' | translate }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column gap-8 net-fields">
          <mat-label class="f-s-16 f-w-400 m-b-8 d-flex align-items-center">{{ 'Net amount' | translate }}
            <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
              matTooltip="{{ 'ADD_EVENT.ENTER_AMOUNT_TOOLTIP' | translate }}">
          </mat-label>

          <div class="net-field d-flex align-items-center">
            <div class="left hide-arrow">
              <mat-select value="£" formControlName="currency" class="sortby-edit-profile" hideSingleSelectionIndicator>
                @for (country of countries; track country) {
                @if(country.currencySymbol) {
                <mat-option [value]="country.currencySymbol">{{
                  country.currencySymbol
                  }}</mat-option>
                }
                }
              </mat-select>
            </div>
            <div class="w-100 form-field">
              <input matInput type="text" inputmode="decimal" formControlName="amount" #amountInput thousandSeparatorInput
                placeholder="0" />
            </div>
            <div class="right">
              <mat-select (valueChange)="onCycleValueChange($event)" value="Select" formControlName="cycle"
                class="sortby-edit-profile" hideSingleSelectionIndicator>
                @for (cycle of cycles; track cycle) {
                <mat-option [value]="cycle">{{ cycle }}</mat-option>
                }
              </mat-select>
            </div>
          </div>
          @if((eventForm.get('cycle')?.touched &&
          eventForm.get('cycle')?.hasError('required')) ||
          (eventForm.get('amount')?.touched &&
          eventForm.get('amount')?.hasError('required')) ||
          (eventForm.get('currency')?.touched &&
          eventForm.get('currency')?.hasError('required'))) {
          <span class="field-error d-block">{{'Required' | translate}}</span>
          }
        </div>

        <div class="start-end">
          <div class="d-flex flex-column gap-8">
            <div class="d-flex gap-4 align-items-center">

              <mat-label class="f-s-16 f-w-400 d-block">
                {{ (eventForm.get('cycle')?.value === 'One-off' ? 'Date' : 'Start & end') | translate }}
              </mat-label>
              <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
                matTooltip="{{ 'ADD_EVENT.DEFINE_EVENT_PERIOD_TOOLTIP' | translate }}">
            </div>
            <div class="row justify-content-between align-items-start flex-nowrap">
              <div [className]="eventForm.get('cycle')?.value !== 'One-off' ? 'col-6' : 'w-100'">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="start" hideSingleSelectionIndicator>
                      @for (year of years; let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(eventForm.get('start')?.touched &&
                  eventForm.get('start')?.hasError('required')) {
                  @if(eventForm.get('cycle')?.value ==='One-off')
                  {
                  <span class="field-error d-block">{{'Required' | translate}}</span>
                  }
                  @else
                  {
                  <span class="field-error d-block">{{'Required' | translate}}</span>
                  }
                  }
                </div>
              </div>

              @if(eventForm.get('cycle')?.value !== 'One-off') {

              <div class="d-flex justify-content-start align-items-start">
                <img src="assets/images/svgs/chevron-right-date-icon.svg" alt="chevron-right-date-icon" />
              </div>

              <div class="col-6">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select value="Select" formControlName="end" hideSingleSelectionIndicator>
                      @for (event of eventsList; track event) {
                      <mat-option [value]="event.year">{{ event.name }} ({{ event.age }})</mat-option>
                      }
                      <hr>
                      @for (year of years; let i = $index; track year) {
                      <mat-option [value]="year">{{ year }} ({{ clientAge + i }})</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(eventForm.get('end')?.touched &&
                  eventForm.get('end')?.hasError('required')) {
                  <span class="field-error d-block">{{'Required' | translate}}</span>
                  }
                  @if(eventForm.get('end')?.touched &&
                  eventForm.get('end')?.hasError('endBeforeStart')) {
                  <span class="field-error d-block">End year cannot be before start year</span>
                  }
                </div>
              </div>
              }
            </div>
          </div>
        </div>

        @if(eventForm.get('cycle')?.value !== 'One-off') {
        <div class="w-100 d-flex flex-column gap-20">
          <div class="escalation-inline">
            <div class="d-flex flex-column gap-8 escalation-field"
              [class.escalation-full]="selectedEscalationDescription !== 'Increases at custom rate'">
              <div class="d-flex gap-4 align-items-center">
                <mat-label class="f-s-16 f-w-400 d-block">{{ 'Escalation rate' | translate}}</mat-label>
                <img src="assets/images/svgs/help-circle-icon.svg" alt="help" width="18" class="m-l-4"
                  matTooltip="{{ 'ADD_EVENT.AMOUNT_GROWTH_TOOLTIP' | translate }}">
              </div>
              <div class="position-relative">
                <div class="w-100 form-field">
                  <div class="select-option">
                    <mat-select formControlName="escalationRate" value="Select"
                      (selectionChange)="onEscalationRateChange($event)">
                      @for (escalationRate of escalationRates; track escalationRate) {
                      <mat-option [value]="escalationRate.value">{{ escalationRate.description }}</mat-option>
                      }
                    </mat-select>
                  </div>
                  @if(eventForm.get('escalationRate')?.touched &&
                  eventForm.get('escalationRate')?.hasError('required')) {
                  <span class="field-error d-block">{{'Required' | translate}}</span>
                  }
                </div>
              </div>
            </div>
            @if(selectedEscalationDescription === 'Increases at custom rate') {
            <div class="d-flex flex-column gap-8 escalation-field escalation-custom">
              <mat-label class="f-s-16 d-block">{{ 'Custom escalation rate' | translate }}</mat-label>
              <div class="w-100 form-field custom-rate-input">
                <input matInput type="number" formControlName="customEscalationRate"
                  placeholder="0" />
                <img class="custom-rate-suffix" src="assets/images/shapes/percentage.svg" alt="percentage" />
              </div>
              @if(eventForm.get('customEscalationRate')?.touched &&
              eventForm.get('customEscalationRate')?.hasError('required')) {
              <span class="field-error d-block">{{'Required' | translate}}</span>
              }
            </div>
            }
          </div>
        </div>
        }
      </div>
    </mat-dialog-content>

    <div class="row justify-content-between modal-action">
      <div class="col-5">
        <button (click)="closeDialog()" class="button-icon-outline w-100 d-block">
          <span class="f-s-16">{{ 'Cancel' | translate }}</span>
        </button>
      </div>
      <div class="col-5">
        <button (click)="onCustomEventSubmit()" [disabled]="eventForm.invalid" class="button-icon w-100 d-block">
          <span class="f-s-16">{{ 'Save' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
}
