.cashflow-stats,
.saving-pot-stats-cashflow-model,
.income-expense-stats-cashflow-model {
  border: 1px solid #e7e7eb;
  border-radius: 12px;
  padding: 24px;
  background-color: #fff;
  .card-title{
    font-size: 14px;
  }
}
.sec-title {
  font-size: 20px;
  font-weight: 400;
  color: #1c1c1c;
}
.saving-pot-chart-cashflow-model {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.divider {
  width: 1.5px;
  background-color: #e7e7eb;
}

.stats-main-wrapper {
  .saving-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
  .badge {
    border-radius: 999px;
    padding: 6px 10px;
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    &.green {
      background-color: #71bc42;
    }
    &.red {
      background-color: #ff4444;
    }
  }
}

.cashflow-saving-wrapper {
  .row {
    padding: 0;
    margin: 0;
    .col-5,
    .col-10,
    .col-9,
    .col-3,
    .col-2 {
      padding: 0;
    }
    // .col-2 {
    //   background-color: #71bc421e;
    // }
    // .col-10 {
    //   background-color: #bc42b23a;
    // }
    .col-5 {
      // background-color: #ff330048;
      max-width: 48% !important;
      flex: 0 0 48% !important;
    }
    .divider {
      // height: 100%;
      width: 2px;
      margin-left: 8px;
      margin-right: 8px;
      background-color: #e7e7eb;
    }
  }
  .percentage-field {
    flex-basis: 98px;
  }
  .slider-wrapper {
    flex: 1;
  }
}

.cashflow-drag-wrapper {
  .sec-heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
    color: #1c1c1c;
  }
  .vote-btns {
    button {
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 50%;
        transition: all 0.3s ease-in-out;
      }
      &:active {
        opacity: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

// Dragable Cards
.dragable-card {
  overflow: hidden;
  position: relative;
  flex: 1;
  padding: 24px 16px;
  border-radius: 10px;
  background-color: #f7fbff;
  border: 1px solid #f7f7f7;
  .stats-main-wrapper {
    .saving-title {
      font-family: "Inter";
    }
  }
  .drag-btn {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: grab;
    img {
      pointer-events: none;
    }
  }
  // Lock Overlay
  .lock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #3a3a4740;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    p {
      color: white;
      font-family: "Inter";
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }
    .help-lock-overlay {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}
// End Dragable Cards

// income Expense New
// .income-expense-table-wrapper {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 20px;
// }

.income-expense-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5px 1fr 1.5px 1fr 1.5px 1fr;
  gap: 24px;

  .card-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    &.expenses-deduct {
      color: #ff4444;
    }
    &.expenses-total {
      color: #4043af;
    }
  }
  .saving-title {
    font-size: 20px;
    line-height: 30px;
    color: #1c1c1c;
    font-weight: 700;
  }
  .expense-income {
    color: #71bc42;
  }
  .divider {
    width: 1.5px;
    background-color: #e7e7eb;
  }
}

// Income Expense Table Styles
// Table Style
/* General Table Styling */
.table-main-wrapper {
  h3 {
    font-size: 16px;
 
    margin-bottom: 16px;
    font-weight: 600;
  }
}

table {
  width: 100%;
  border-collapse: collapse; /* Ensures consistent spacing between cells */
}

/* Detail Row Styling */
tr.example-detail-row {
  background-color: #f9f9f9;
}

.example-detail-row td {
  padding: 8px !important; /* Matches padding of the regular rows for consistency */
  font-size: 14px;
  color: #333; /* Text color */
  border: none; /* Matches table border styling */
}

/* Styling Regular Rows */
.example-element-row td {
  border-bottom: 0; /* Removes bottom border when expanded */
}

.example-element-row:not(.example-expanded-row):hover {
  background-color: #f1f1f1; /* Subtle hover effect */
}

.example-element-row:not(.example-expanded-row):active {
  background-color: #e8e8e8; /* Subtle active row effect */
}

.mat-mdc-header-row {
  background: #f7fbff !important;
}
.table-wrapper {
  overflow-x: auto;
  border-radius: 12px;
}

.column-expand {
  min-width: 36px;
  padding: 10px 8px !important;
}

.column-client {
  &.mdc-data-table__cell {
    color: #1c1c1c !important;
  }
  min-width: 295px;
  color: #3a3a47;
  padding: 10px 16px !important;
}

.column-net-amount {
  &.mdc-data-table__cell {
    color: #48475d !important;
  }
  min-width: 110px;
  color: #3a3a47;
  padding: 10px 16px !important;
  // @media (max-width: 768px) {
  //   min-width: 10px;
  // }
}

.column-action {
  // width: 10%;
  min-width: 40px;
  padding: 10px 8px !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: transparent;
}

.mat-mdc-row:nth-child(odd) {
  background-color: transparent;
}
.mat-mdc-header-cell {
  border-bottom-color: #e7e7eb !important;
}
.mat-mdc-cell {
  border-bottom-color: #f7f7f7 !important;
}
.mat-mdc-row {
  transition: background-color 0.3s ease;
}

.clientTableContainer {
  background: #ffffff;
  border: 1px solid #e7e7eb;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none;
  // box-shadow: 0px 2px 8px 0px #0000001f;
}

// Table Heading
.heading-btn-wrapper {
  padding: 16px 12px;
  h3 {
    color: #1c1c1c;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
  }
}
// End Table Heading
// End Income Expense Table Styles

// Cashflow Styles
.cashflow-grid {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
// End Cashflow Styles

.slider-wrapper{
    width: 250px;
}
.button-full-screen{
     padding: 5px 8px;
    border-radius: 4px;
    border: none;
    position: absolute;
    display: flex;
    cursor: pointer;
    background: none;
    left: 16px;
    top: 20px;
    z-index: 99;
  &:hover{
    background-color: #f7f7f7;
  }
}
.col-red{
  color: #ff0000;
}
.col-green{
  color: green;
}

