


<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
    <div class="d-flex align-items-center main-header-content gap-10">
      <div class="icon-wrapper d-flex align-items-center justify-content-center">
<img width="24" src="../../../assets/images/shapes/ai-filled.svg" alt="">
      </div>
      <!-- <div class="header-icon">
        <img width="56" src="../../../assets/images/shapes/small-icon-7.svg" alt="">
      </div> -->
      <div class="d-flex flex-column justify-content-between gap-4">
        <h4 class="page-title f-w-500">{{ 'AI Recommendations' | translate }}</h4>
        <span class="sub-title">{{ 'Fine-tune your AI assistant' | translate }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="mat-mdc-card mdc-card cardWithShadow mb-20">
  <mat-card-content class="mat-mdc-card-content">
<div *ngIf="selectedPlan === 'enterprise'" class="enterprise-context-section">

  <p class="description f-s-14 m-t-0 m-b-10">
    {{ 'Customize how your AI gives advice, from tone and risk levels to approved products and compliance rules, so every client recommendation aligns with your firm’s policies.' | translate }}
    
   
  </p>
  <div class="m-b-5 f-s-14"><strong>{{ 'Talk to an Ibernia AI expert' | translate }}</strong> {{ 'to set this up effectively for your organization.' | translate }}</div>
  <mat-form-field appearance="outline" class="full-width textarea-wrapper w-100">
    <textarea
      matInput
      placeholder="Your company context"
      [(ngModel)]="companyContext"
      maxlength="10000"
      rows="3">
    </textarea>
    <mat-hint >{{ companyContext?.length || 0 }} / 10000</mat-hint>
  </mat-form-field>
<div class="d-flex justify-space-end">
    <button  color="primary" class="button-icon"><span>{{ 'Save' | translate }}</span></button>
</div>

  
</div>
</mat-card-content>
</mat-card>