html.project_theme {
  --mat-sys-primary: rgb(81, 108, 232);
  --mat-sys-primary-fixed-dim: rgb(81, 108, 232, 0.15);
  --mat-sys-secondary: rgb(247, 247, 247);
  --mat-sys-secondary-fixed-dim: rgb(247, 247, 247, 1);
  --mat-sys-tertiary: rgb(71, 215, 188);
}